<div id="screenshot-checkbox">
  <sky-checkbox [checked]="true">
    <sky-checkbox-label>Checked Checkbox</sky-checkbox-label>
  </sky-checkbox>
  <sky-checkbox [checked]="false">
    <sky-checkbox-label>Unchecked Checkbox</sky-checkbox-label>
  </sky-checkbox>
</div>
<div id="screenshot-icon-checkbox">
  <sky-checkbox-icon
    icon="bold"
    [checked]="true">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="bold"
    [checked]="false">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="umbrella"
    checkboxType="info"
    [checked]="true">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="umbrella"
    checkboxType="info"
    [checked]="false">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="star"
    checkboxType="success"
    [checked]="true">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="star"
    checkboxType="success"
    [checked]="false">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="exclamation-triangle"
    checkboxType="warning"
    [checked]="true">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="exclamation-triangle"
    checkboxType="warning"
    [checked]="false">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="ban"
    checkboxType="danger"
    [checked]="true">
  </sky-checkbox-icon>
  <sky-checkbox-icon
    icon="ban"
    checkboxType="danger"
    [checked]="false">
  </sky-checkbox-icon>
</div>
