<div id="screenshot-checkbox">
  <sky-checkbox [checked]="true">
    <sky-checkbox-label>Checked Checkbox</sky-checkbox-label>
  </sky-checkbox>
  <sky-checkbox [checked]="false">
    <sky-checkbox-label>Unchecked Checkbox</sky-checkbox-label>
  </sky-checkbox>
</div>
<div id="screenshot-icon-checkbox">
  <sky-checkbox
    icon="bold"
    label="bold"
    [checked]="true">
  </sky-checkbox>
  <sky-checkbox
    icon="bold"
    label="bold"
    [checked]="false">
  </sky-checkbox>
  <sky-checkbox
    icon="umbrella"
    checkboxType="info"
    label="umbrella"
    [checked]="true">
  </sky-checkbox>
  <sky-checkbox
    icon="umbrella"
    checkboxType="info"
    label="umbrella"
    [checked]="false">
  </sky-checkbox>
  <sky-checkbox
    icon="star"
    checkboxType="success"
    label="favorite"
    [checked]="true">
  </sky-checkbox>
  <sky-checkbox
    icon="star"
    checkboxType="success"
    label="favorite"
    [checked]="false">
  </sky-checkbox>
  <sky-checkbox
    icon="exclamation-triangle"
    checkboxType="warning"
    label="careful"
    [checked]="true">
  </sky-checkbox>
  <sky-checkbox
    icon="exclamation-triangle"
    checkboxType="warning"
    label="careful"
    [checked]="false">
  </sky-checkbox>
  <sky-checkbox
    icon="ban"
    checkboxType="danger"
    label="wrong"
    [checked]="true">
  </sky-checkbox>
  <sky-checkbox
    icon="ban"
    checkboxType="danger"
    label="wrong"
    [checked]="false">
  </sky-checkbox>
</div>
