<div>
  <button
    type="button"
    class="sky-btn sky-btn-primary"
    (click)="openModal()"
>
  Open modal
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-primary sky-modal-with-help"
    (click)="openModalWithHelp()">
    Open modal with Help
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-large-modal"
    (click)="openFullScreenModal()"
  >
  Open large modal
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-content-only"
    (click)="openContentModal()"
  >
  Open content modal
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-small-size-modal"
    (click)="openSmallSizeModal()"
  >
  Open small modal
  </button>
  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-medium-size-modal"
    (click)="openMediumSizeModal()"
  >
  Open medium size modal
  </button>
  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-large-size-modal"
    (click)="openLargeSizeModal()"
  >
  Open large size modal
  </button>
  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-tiled-modal"
    (click)="openTiledModal()"
  >
  Open tiled modal
  </button>
</div>
