<h2>Progress Indicator</h2>

<p>
  <button
    class="sky-btn sky-btn-primary"
    type="button"
    (click)="resetClicked()">
    Reset
  </button>
</p>

<sky-progress-indicator
  [messageStream]="progressMessageStream"
  [startingIndex]="2"
  (progressChanges)="updateIndex($event)"
  #progressIndicator>

  <sky-progress-indicator-item
    title='Do the first thing'
    [itemNumber]='1'>
    <div
      class="stepContent">
      <button
        *ngIf="activeIndex === 0"
        class="sky-btn sky-btn-primary"
        type="button"
        (click)="progress()">
        Do
      </button>
      <button
        *ngIf="activeIndex === 1"
        class="sky-btn sky-btn-default"
        type="button"
        (click)="regress()">
        Undo
      </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title='Do the second thing'
    [itemNumber]='2'>
    <div
      *ngIf="activeIndex >= 1"
      class="stepContent">
        <button
          *ngIf="activeIndex === 1"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="progress()">
          Do
        </button>
        <button
          *ngIf="activeIndex === 2"
          class="sky-btn sky-btn-default"
          type="button"
          (click)="regress()">
          Undo
        </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title='Do the third thing'
    [itemNumber]='3'>
    <div
      *ngIf="activeIndex >= 2"
      class="stepContent">
        <button
          *ngIf="activeIndex === 2"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="progress()">
          Do
        </button>
        <button
          *ngIf="activeIndex === 3"
          class="sky-btn sky-btn-default"
          type="button"
          (click)="regress()">
          Undo
        </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title='Do the fourth thing'
    [itemNumber]='4'>
    <div
      *ngIf="activeIndex >= 3"
      class="stepContent">
        <button
          *ngIf="activeIndex === 3"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="progress()">
          Do
        </button>
        <button
          *ngIf="activeIndex === 4"
          class="sky-btn sky-btn-default"
          type="button"
          (click)="regress()">
          Undo
        </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title='Do the last thing'
    [itemNumber]='5'>
    <div
      *ngIf="activeIndex >= 4"
      class="stepContent">
        <button
          *ngIf="activeIndex === 4"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="progress()">
          Do
        </button>
        <button
          *ngIf="activeIndex === 5"
          class="sky-btn sky-btn-default"
          type="button"
          (click)="regress()">
          Undo
        </button>
    </div>
  </sky-progress-indicator-item>
</sky-progress-indicator>
<sky-progress-indicator-nav-button
  buttonType="previous"
  [progressIndicator]="progressIndicator">
</sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  buttonType="next"
  [progressIndicator]="progressIndicator">
</sky-progress-indicator-nav-button>
<hr>
<h2>Progress indicator wizard</h2>
<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openWizard()">
  Open wizard
</button>
