<h2>Progress Indicator</h2>

<p>
  <button type="button" class="sky-btn sky-btn-primary" (click)="resetClicked()">Reset</button>
</p>

<sky-progress-indicator #progressIndicator>

  <sky-progress-indicator-item [itemNumber]='1' titleHtml='Do the first thing'>
    <div class="stepContent">
      <button type="button" class="sky-btn sky-btn-primary" (click)="changeProgress(1, true)" *ngIf="!isDone(1)">Do</button>
      <button type="button" class="sky-btn sky-btn-default" (click)="changeProgress(1, false)" *ngIf="isDone(1) && !isDone(2)">Undo</button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item [itemNumber]='2' titleHtml='Do the second thing'>
    <div class="stepContent" *ngIf="progressIndicator.activeIndex >= 1">
        <button type="button" class="sky-btn sky-btn-primary" (click)="changeProgress(2, true)" *ngIf="!isDone(2)">Do</button>
        <button type="button" class="sky-btn sky-btn-default" (click)="changeProgress(2, false)" *ngIf="isDone(2) && !isDone(3)">Undo</button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item [itemNumber]='3' titleHtml='Do the third thing'>
    <div class="stepContent" *ngIf="progressIndicator.activeIndex >= 2">
        <button type="button" class="sky-btn sky-btn-primary" (click)="changeProgress(3, true)" *ngIf="!isDone(3)">Do</button>
        <button type="button" class="sky-btn sky-btn-default" (click)="changeProgress(3, false)" *ngIf="isDone(3)">Undo</button>
    </div>
  </sky-progress-indicator-item>

</sky-progress-indicator>
