.stepContent {
    margin-left: 20px;
    margin-right: 20px;
}
.reset-progress {
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 20px;
}

sky-progress-indicator {
  display: block;
  margin-bottom: 30px;
}
