<h2>Progress Indicator</h2>

<sky-progress-indicator
  [messageStream]="progressMessageStream"
  [startingIndex]="2"
  (progressChanges)="updateIndex($event)"
  #progressIndicator
>

  <sky-progress-indicator-title>Setup my connection</sky-progress-indicator-title>

  <sky-progress-indicator-item
    title="Configure connection"
  >
    <div>
      <button *ngIf="activeIndex === 0"
        class="sky-btn sky-btn-primary"
        type="button"
        (click)="configureConnection(true)"
      >
        Set connection
      </button>
      <button *ngIf="activeIndex > 0"
        class="sky-btn sky-btn-link"
        type="button"
        (click)="configureConnection(false)"
      >
        Edit connection
      </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title="Select remote server"
  >
    <div *ngIf="activeIndex >= 1">
        <button *ngIf="activeIndex === 1"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="setServer(true)"
        >
          Select server
        </button>
        <button *ngIf="activeIndex > 1"
          class="sky-btn sky-btn-link"
          type="button"
          (click)="setServer(false)"
        >
          Change server
        </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title="Test connection"
  >
    <div *ngIf="activeIndex >= 2">
        <button *ngIf="activeIndex === 2"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="testConnection(true)"
        >
          Test connection
        </button>
        <button *ngIf="activeIndex > 2"
          class="sky-btn sky-btn-link"
          type="button"
          (click)="testConnection(false)"
        >
          Retest connection
        </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item
    title="Turn on connection"
  >
    <div *ngIf="activeIndex >= 3">
        <button *ngIf="activeIndex === 3"
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="alertMessage('Form completed')"
        >
          Turn on
        </button>
    </div>
  </sky-progress-indicator-item>

  <sky-progress-indicator-reset-button
    [progressIndicator]="progressIndicator"
  >
    Erase all settings
  </sky-progress-indicator-reset-button>
</sky-progress-indicator>
<hr>
<h2>Progress indicator wizard</h2>
<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openWizard()"
>
  Open wizard
</button>
