<div id="screenshot-select-field-multiple-mode">
  <sky-select-field
    [selectFieldText]="multipleModeText"
    [selectFieldPickerList]="pickerItems"
    [(selectField)]="multipleItemsSelected">
  </sky-select-field>
</div>
<!--
<div>
  <label class="sky-control-label sky-control-label-required">
    Single-select Mode
  </label>
  <sky-select-field
    selectFieldClear=""
    selectFieldIcon="fa-search"
    [selectFieldStyle]="singleModeStyle"
    [selectFieldText]="singleModeText"
    [selectFieldPickerList]="pickerItems"
    [(selectField)]="singleItemSelected">
  </sky-select-field>
</div>
-->
