
<h3>
  Button types and styles
</h3>

<sky-row>
  <sky-column screenSmall="6">
    <ul class="sky-list-unstyled">
      <li>
        Default (select) style:
        <br>
        <sky-dropdown>
          <sky-dropdown-button>
            Show dropdown
          </sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let item of items">
              <button type="button" [attr.disabled]="item.disabled ? '' : null">
                {{ item.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </li>
      <li>
        Context menu style:
        <br>
        <sky-dropdown
          buttonType="context-menu">
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let item of items">
              <button type="button" [attr.disabled]="item.disabled ? '' : null">
                {{ item.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </li>
      <li>
        Icon style:
        <br>
        <sky-dropdown
          buttonType="folder-open-o">
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let item of items">
              <button type="button" [attr.disabled]="item.disabled ? '' : null">
                {{ item.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </li>
    </ul>
  </sky-column>
  <sky-column screenSmall="6">
    <ul class="sky-list-unstyled" style="text-align:right">
      <li>
        Select primary style:
        <br>
        <sky-dropdown
          alignment="right"
          buttonStyle="primary">
          <sky-dropdown-button>
            Show dropdown
          </sky-dropdown-button>
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let item of items">
              <button type="button" [attr.disabled]="item.disabled ? '' : null">
                {{ item.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </li>
      <li>
        Context menu with primary style:
        <br>
        <sky-dropdown
          alignment="right"
          buttonType="context-menu"
          buttonStyle="primary">
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let item of items">
              <button type="button" [attr.disabled]="item.disabled ? '' : null">
                {{ item.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </li>
      <li>
        Icon with primary style:
        <br>
        <sky-dropdown
          alignment="right"
          buttonType="folder-open-o"
          buttonStyle="primary">
          <sky-dropdown-menu>
            <sky-dropdown-item *ngFor="let item of items">
              <button type="button" [attr.disabled]="item.disabled ? '' : null">
                {{ item.name }}
              </button>
            </sky-dropdown-item>
          </sky-dropdown-menu>
        </sky-dropdown>
      </li>
    </ul>
  </sky-column>
</sky-row>

<h3>
  Interacting with a dropdown programmatically
</h3>

<p>
  <button
    type="button"
    class="sky-btn sky-btn-default"
    (click)="openDropdown()">
    Open dropdown
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-default"
    (click)="closeDropdown()">
    Close dropdown
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-default"
    (click)="focusTriggerButton()">
    Focus trigger button
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-default"
    (click)="focusNextItem()">
    Focus next item
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-default"
    (click)="focusPreviousItem()">
    Focus previous item
  </button>

  <button
    type="button"
    class="sky-btn sky-btn-default"
    (click)="changeItems()">
    Change items
  </button>
</p>
<sky-dropdown
  buttonStyle="primary"
  [dismissOnBlur]="false"
  [messageStream]="dropdownController">
  <sky-dropdown-button>
    Open
  </sky-dropdown-button>
  <sky-dropdown-menu
    [useNativeFocus]="false"
    (menuChanges)="onMenuChanges($event)">
    <sky-dropdown-item *ngFor="let item of items">
      <button type="button" [attr.disabled]="item.disabled ? '' : null">
        {{ item.name }}
      </button>
    </sky-dropdown-item>
  </sky-dropdown-menu>
</sky-dropdown>
<p>
  This menu does not bring the active items to focus; this is useful for custom implementations where the focus should remain on a different control.
</p>
