<ul class="sky-list-unstyled">
  <li>
    Default (select) style:
    <br>
    <sky-dropdown>
      <sky-dropdown-button>
        Show dropdown
      </sky-dropdown-button>
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </li>
  <li>
    Context menu style:
    <br>
    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </li>
  <li>
    Icon style:
    <br>
    <sky-dropdown buttonType="folder-open-o">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </li>
  <li>
    Select primary style:
    <br>
    <sky-dropdown buttonStyle="primary">
      <sky-dropdown-button>
        Show dropdown
      </sky-dropdown-button>
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </li>
  <li>
    Context menu with primary style:
    <br>
    <sky-dropdown buttonType="context-menu" buttonStyle="primary">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </li>
  <li>
    Icon with primary style:
    <br>
    <sky-dropdown buttonType="folder-open-o" buttonStyle="primary">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </li>
</ul>
