<sky-demo-page pageTitle="Definition list">
  <sky-demo-page-summary>
    The definition list component displays a list of label-value pairs.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="labelWidth"
        defaultValue="90px"
        isOptional="true"
    >
      Specifies the width of the label portion of the definition list.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="defaultValue"
        defaultValue="None found"
        isOptional="true"
    >
      Specifies the text to display when no value is available in a label-value pair.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-definition-list-demo></sky-definition-list-demo>
    <sky-demo-page-code demoName="Definition list"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
