@import "../../scss/mixins";

.sky-tab-dropdown-button {
  max-width: 300px;
}

.sky-tab-dropdown-item {
  display: flex;
  padding: 0;
  transition: background-color $sky-transition-time-short;
  width: 300px;

  &:hover:not(.sky-tab-dropdown-item-selected) {
    background-color: $sky-background-color-neutral-light;
  }
}

.sky-tab-dropdown-item-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-grow: 1;
  padding: $sky-padding;
  text-align: left;
}

.sky-tab-dropdown-item-close {
  background-color: transparent;
  border: none;
  padding: $sky-padding;
}

.sky-tab-dropdown-item-selected {
  background-color: $sky-background-color-primary-dark;

  &:hover {
    background-color: $sky-background-color-primary-dark;
  }

  .sky-tab-dropdown-item-btn,
  .sky-tab-dropdown-item-close {
    color: #fff;
  }
}
