@import "../../scss/mixins";

.sky-tab-button-close {
  color: $sky-text-color-deemphasized;
  line-height: 1.4;
  margin-left: $sky-margin-half;

  &:hover {
    color: $sky-text-color-default;
    transition: color $sky-transition-time-short;
  }
}

.sky-btn-tab-selected {
  .sky-tab-button-close {color: #fff;
  }
}

.sky-btn-tab.sky-tab-btn-closeable {
  padding-right: $sky-padding;
}
