@import "../../scss/mixins";

.sky-tab-button {
  background-color: transparent;
  border: none;
  border-radius: 4px 4px 0 0;
  color: $sky-color-gray;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: $sky-padding-3_4 $sky-padding-plus-half;
}

.sky-tab-button-close {
  background-color: transparent;
  border: none;
  color: $sky-color-gray-light;
  cursor: pointer;
  margin-left: $sky-margin-half;

  &:hover {
    color: $sky-color-gray;
    transition: color $sky-transition-time-short;
  }
}

.sky-tab-button-selected {
  background-color: $sky-color-blue;
  color: #fff;
  cursor: default;

  .sky-tab-button-close {
    color: #fff;
  }
}
