<div class="sky-tab-dropdown">
  <sky-dropdown buttonType="tab">
    <sky-dropdown-button>
      {{ activeTabHeading }}
    </sky-dropdown-button>
    <sky-dropdown-menu>
      <sky-dropdown-item
        *ngFor="let tab of tabs">
        <div
          class="sky-tab-dropdown-item"
          [ngClass]="{ 'sky-tab-dropdown-item-selected': tab.active }">
          <button
            class="sky-btn sky-tab-dropdown-item-btn sky-padding-even-default"
            type="button"
            [attr.aria-controls]="tab.tabId"
            [id]="tab.tabId + '-nav-btn'"
            [ngClass]="{ 'sky-btn-disabled': tab.disabled }"
            (click)="selectTab(tab)">
            {{ tab.tabHeading }}
          </button>
          <button
            type="button"
            class="sky-btn sky-tab-dropdown-item-close sky-padding-even-default"
            *ngIf="tab.allowClose"
            (click)="closeTab(tab)">
            <sky-icon icon="remove"></sky-icon>
          </button>
        </div>
      </sky-dropdown-item>
    </sky-dropdown-menu>
  </sky-dropdown>
</div>
