@import "../../scss/mixins";

.sky-tab-dropdown-button {
  max-width: 300px;
}

.sky-tab-dropdown-menu-item {
  display: flex;
  width: 300px;
}

.sky-tab-dropdown-menu-item-btn {
  border: none;
  background-color: transparent;
  flex-grow: 1;
  padding: $sky-padding;
  text-align: left;
}

.sky-tab-dropdown-menu-item-close {
  background-color: transparent;
  border: none;
  padding: $sky-padding;
}
