<div
    class="sky-tabset" role="tablist"
    [ngClass]="'sky-tabset-mode-' + tabDisplayMode + ' sky-tabset-style-' + tabStyle"
    (window:resize)="windowResize()"
>
  <span class="sky-tabset-dropdown">
    <sky-tab-dropdown
        *ngIf="tabDisplayMode === 'dropdown'"
        [tabs]="tabs"
        (tabClick)="selectTab($event)"
        (closeClick)="tabCloseClick($event)"
    >
    </sky-tab-dropdown>
  </span>
  <span class="sky-tabset-tabs">
    <sky-tab-button
        *ngFor="let tab of tabs; let i = index"
        [tabHeading]="tab.tabHeading"
        [tabHeaderCount]="tab.tabHeaderCount"
        [tabStyle]="tabStyle"
        [active]="tab.active"
        [allowClose]="tab.allowClose"
        [disabled]="tab.disabled"
        (tabClick)="selectTab(tab)"
        (closeClick)="tabCloseClick(tab)"
    ></sky-tab-button>
  </span>
  <span class="sky-tabset-btns">
    <button
        type="button"
        class="sky-btn sky-btn-default sky-tabset-btn-new"
        (click)="newTabClick()"
        [attr.aria-label]="'tab_add' | skyResources"
        *ngIf="newTab.observers.length > 0"
    >
      <i class="fa fa-lg fa-plus-circle"></i>
    </button>
    <button
        type="button"
        class="sky-btn sky-btn-default sky-tabset-btn-open"
        (click)="openTabClick()"
        [attr.aria-label]="'tab_open' | skyResources"
        *ngIf="openTab.observers.length > 0"
    >
      <i class="fa fa-lg fa-folder-open-o"></i>
    </button>
  </span>
</div>
<ng-content></ng-content>
