<h3>Color picker</h3>
<table cellpadding="10"  style="height:200px; width:500px;">
  <tr>
    <td style="vertical-align:top;width:200px;">
      <sky-colorpicker #colorPickerExample1>
        <button [skyColorpickerInput]="colorPickerExample1" [(ngModel)]="color1" [presetColors]="presetColors1" [initialColor]="selectedColor1"
          [outputFormat]="selectedOutputFormat1">
    </button>
      </sky-colorpicker>
      <table style="margin:10px">
        <thead>
          <tr>
            <th style="width:25%;">RGBA</th>
            <th style="width:25%;">HSLA</th>
            <th style="width:25%;">HSVA</th>
            <th style="width:25%;">CYMK</th>
          </tr>
        </thead>
        <tr>
          <td>{{colorPickerExample1?.rgba?.red}}</td>
          <td>{{colorPickerExample1?.hsla?.hue}}</td>
          <td>{{colorPickerExample1?.hsva?.hue}}</td>
          <td>{{colorPickerExample1?.cmyk?.cyan}}</td>
        </tr>
        <tr>
          <td>{{colorPickerExample1?.rgba?.blue}}</td>
          <td>{{colorPickerExample1?.hsla?.saturation}}</td>
          <td>{{colorPickerExample1?.hsva?.saturation}}</td>
          <td>{{colorPickerExample1?.cmyk?.magenta}}</td>
        </tr>
        <tr>
          <td>{{colorPickerExample1?.rgba?.green}}</td>
          <td>{{colorPickerExample1?.hsla?.lightness}}</td>
          <td>{{colorPickerExample1?.hsva?.value}}</td>
          <td>{{colorPickerExample1?.cmyk?.yellow}}</td>
        </tr>
        <tr>
          <td>{{colorPickerExample1?.rgba?.alpha}}</td>
          <td>{{colorPickerExample1?.hsla?.alpha}}</td>
          <td>{{colorPickerExample1?.hsva?.alpha}}</td>
          <td>{{colorPickerExample1?.cmyk?.key}}</td>
        </tr>
      </table>
    </td>
    <td style="vertical-align:top;width:200px;">
      <sky-colorpicker #colorPickerExample2>
        <input type="text" [skyColorpickerInput]="colorPickerExample2" [(ngModel)]="color2" />
      </sky-colorpicker>
      <table  style="margin:10px">
        <thead>
          <tr>
            <th style="width:20%;">HEX</th>
            <th style="width:80%;">RGBA CSS</th>
          </tr>
        </thead>
        <tr>
          <td>{{colorPickerExample2?.hex}}</td>
          <td>
            <div [style.background-color]="colorPickerExample2?.rgbaText"
            style="padding:5px;">
            <span [style.color]="color2?.rgbaText" style="-webkit-filter: invert(100%); filter: invert(100%);">{{colocolorPickerExample2r2?.rgbaText}}</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
