<sky-demo-page pageTitle="Colorpicker">
  <sky-demo-page-summary>
    The colorpicker module allows users to use a button to select a color.
  </sky-demo-page-summary>
  <sky-demo-page-properties sectionHeading="color picker input directive properties">
    <sky-demo-page-property propertyName="skyColorpickerInput">When this attribute is placed on an (input or button) element and wrapped in a <stache-code>sky-colorpicker</stache-code> component,
      the Element and colorpicker are created. This attribute must be set to the instance of the <stache-code>sky-colorpicker</stache-code>.
      This directive will use <stache-code>NgModel</stache-code> for binding data.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="NgModel">
      Will return an object with the following interface:
      <div><pre>{{'{'}}
  hslaText: string
  rgbaText: string
  cmykText: string
  hsva: {{'{'}} hue:  number, saturation: number, value: number,      alpha: number{{'}'}}
  rgba: {{'{'}} red:  number, green: number,      blue: number,       alpha: number{{'}'}}
  hsla: {{'{'}} hue:  number, saturation: number, lightness: number,  alpha: number{{'}'}}
  cmyk: {{'{'}} cyan: number, magenta: number,    yellow: number,     key: number  {{'}'}}
  hex:  string
  {{'}'}}</pre></div>
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="presetColors" isOptional="true">
      Specifies a array of colors that will load in the colorpicker.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="initialColor" isOptional="true">
      Specifies the initial color to be used, default <stache-code>#FFF</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="outputFormat" isOptional="true">
      Specifies the value property on the provided input or button, accepts <stache-code>rgba</stache-code>, <stache-code>hex</stache-code> or <stache-code>hsla</stache-code>
    </sky-demo-page-property>
  </sky-demo-page-properties>
  <sky-demo-page-example>
    <sky-colorpicker-demo></sky-colorpicker-demo>
    <sky-demo-page-code demoName="Colorpicker"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
