<sky-demo-page pageTitle="Error">
  <sky-demo-page-summary>
    The error component displays a SKY UX-themed error message. It includes options to specify the image, title, description, and action.
  </sky-demo-page-summary>

  <sky-demo-page-properties>

    <sky-demo-page-property
        propertyName="image"
        [isOptional]="true"
    >
      Specifies an image to display in the error message.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="title"
        [isOptional]="true"
    >
      Specifies a title to display in the error message.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="description"
        [isOptional]="true"
    >
      Specifies a description to provide additional details in the error message.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="action"
        [isOptional]="false"
    >
      Specifies an action to include in the error message. For example, you can include a button to reload the page or to refresh
      data.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="errorType"
        [isOptional]="true"
    >
      An attribute to specify a set of pre-defined values for the image, title, and description. The valid options are <stache-code>broken</stache-code>,
      <stache-code>notfound</stache-code>, <stache-code>construction</stache-code>, and <stache-code>security</stache-code>.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-error-demo></sky-error-demo>
    <sky-demo-page-code demoName="Error"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
