<h3>Grid with async column and templated column</h3>
<sky-grid
  fit="scroll"
  [data]="data"
  (sortFieldChange)="onSortChangeForGrid($event)">
  <sky-grid-column
    id="name"
    field="name"
    heading="Name">
  </sky-grid-column>
  <sky-grid-column
    id="email"
    field="email"
    heading="Email">
  </sky-grid-column>
  <sky-grid-column
    id="amount"
    field="amount"
    [heading]="asyncHeading | async">
  </sky-grid-column>
  <sky-grid-column
    id="status"
    field="status"
    heading="Status"
    [template]="customColumnTemplate">
  </sky-grid-column>
</sky-grid>

<ng-template
  let-value="value"
  #customColumnTemplate
>
  <div
    [ngClass]="{ 'sky-text-danger' : value === 'Past due' }"
  >
    {{ value }}
  </div>
</ng-template>

<h3>Grid with multiselect enabled</h3>
<div
  id="screenshot-grid-multiselect"
>
  <sky-grid
    fit="scroll"
    [data]="dataForMultiselect"
    [enableMultiselect]="true"
    [messageStream]="gridController"
    [multiselectRowId]="'myRowId'"
    (multiselectSelectionChange)="onMultiselectSelectionChange($event)"
    (sortFieldChange)="onSortChangeForMultiselectGrid($event)"
  >
    <sky-grid-column
      field="name"
      heading="Name"
    ></sky-grid-column>
    <sky-grid-column
      field="email"
      heading="Email"
    ></sky-grid-column>
    <sky-grid-column
      field="amount"
      heading="Amount"
    ></sky-grid-column>
    <sky-grid-column
      field="status"
      heading="Status"
    ></sky-grid-column>
  </sky-grid>

  <p>Selected rows:</p>
  <p>{{ selectedRows }}</p>
</div>
