<button
  type="button"
  style="margin-bottom: 10px"
  class="sky-btn sky-btn-primary sky-test-show-wizard"
  (click)="showWizard = !showWizard">
  Toggle Wizard
</button>

<div id="screenshot-tabset" style="height: 200px;">
  <sky-tabset
    *ngIf="!showWizard"
    (newTab)="newTabClick()"
    (openTab)="openTabClick()"
    [active]="1"
    >
    <sky-tab [tabHeading]="'Tab 1'" (close)="closeTab()">
      Tab 1 Content
    </sky-tab>
    <sky-tab [tabHeading]="'Tab 2'" (close)="closeTab()">
      Tab 2 Content
    </sky-tab>
    <sky-tab [tabHeading]="'Tab 3'" (close)="closeTab()">
      Tab 3 Content
    </sky-tab>
    <sky-tab [tabHeading]="'Tab 4'" (close)="closeTab()">
      Tab 4 Content
    </sky-tab>
    <sky-tab tabHeading="Permanent tab" [tabHeaderCount]="9">
      This tab cannot be closed
    </sky-tab>
    <sky-tab [tabHeading]="'Tab 3'" (close)="closeTab()" [tabHeaderCount]="144">
      Tab 3 Content
    </sky-tab>
  </sky-tabset>

  <div *ngIf="showWizard">
    <sky-tabset
      tabStyle="wizard"
      [active]="0"

      #wizardDemo>
      <sky-tab
        tabHeading="Step 1"
      >
        <label>
          Enter text here to continue.
          <input type="text" [(ngModel)]="requiredValue1" />
        </label>
      </sky-tab>
      <sky-tab
        tabHeading="Step 2"
        [disabled]="step2Disabled"
      >
        <sky-checkbox [(ngModel)]="requiredValue2">
          <sky-checkbox-label>
            Check this box to enable step 3.
          </sky-checkbox-label>
        </sky-checkbox>
      </sky-tab>
      <sky-tab
        tabHeading="Step 3"
        [disabled]="step3Disabled"
      >
        Some other content
      </sky-tab>
    </sky-tabset>
    <sky-tabset-nav-button buttonType="previous" [tabset]="wizardDemo"></sky-tabset-nav-button>
    <sky-tabset-nav-button buttonType="next" [tabset]="wizardDemo"></sky-tabset-nav-button>
  </div>
</div>

<div id="screenshot-tabset-long" style="margin-top: 300px; height: 200px;">
  <sky-tabset
    [active]="0"
    >
    <sky-tab [tabHeading]="'Tab 1 Content really really really long tab name you know here is even more header content okay okay okay'">
      Tab 1 Content
    </sky-tab>
    <sky-tab [tabHeading]="'Tab 2'">
      Tab 2 Content
    </sky-tab>
  </sky-tabset>
</div>
