<sky-modal>
  <sky-modal-header>
    Food preferences
  </sky-modal-header>
  <sky-modal-content>
    <label for="sky-demo-select-type">Fruit type</label>
    <select id="sky-demo-select-type" [(ngModel)]="fruitType" class="sky-form-control">
      <option value="any">Any fruit</option>
      <option value="citrus">Citrus</option>
      <option value="berry">Berry</option>
    </select>
    <div style="margin-top: 15px;">
      <sky-checkbox [(ngModel)]="hideOrange">
        <sky-checkbox-label>
          Hide orange fruits
        </sky-checkbox-label>
      </sky-checkbox>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="applyFilters()">
      Apply filters
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-link"
      (click)="clearAllFilters()">
      Clear all filters
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-link"
      (click)="cancel()">
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
