<sky-demo-page pageTitle="Filter">
  <sky-demo-page-summary>
    The filter module provides components that allow users to select filter criteria. These components create a button to expose filtering options, a summary to indicate which filters have been applied, and a area for filtering inline.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Filter button properties">
     <sky-demo-page-property
      propertyName="active"
      isOptional="true"
    >
      Indicates whether the filter button should be given active indication. This property should be set when indication of filtering is not visible to the user, such as when a filter summary is not shown.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  <sky-demo-page-properties sectionHeading="Filter button events">
     <sky-demo-page-property
      propertyName="filterButtonClick"
    >
      An event that is emitted when the filter button is clicked.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Filter summary item properties">
     <sky-demo-page-property
      propertyName="dismissible"
      isOptional="true"
      defaultValue="true"
    >
      Indicates whether the filter summary item has a close button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Filter summary item events">
     <sky-demo-page-property
      propertyName="dismiss"
    >
      An event that is emitted when the summary item close button is clicked.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="itemClick"
    >
      An event that is emitted when the summary item is clicked.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <h3>Modal Filters</h3>
    <sky-filter-demo></sky-filter-demo>
    <h3>Inline Filters</h3>
    <sky-inline-filter-demo></sky-inline-filter-demo>
    <sky-demo-page-code demoName="Filter"></sky-demo-page-code>
  </sky-demo-page-example>
    
  <sky-demo-page-content sectionHeading="UX guidelines">
    <section>
      <div class="sky-subsection-heading">Inline filters</div>
      <p>Use inline filters to apply up to three simple filters to a <a routerLink="/components/list">list</a> or
        <a routerLink="/components/tiles">tile</a>. This pattern works well with <a routerLink="/components/checkbox">checkboxes</a>
        or <a routerLink="/components/dropdown">dropdowns</a>, but not with complex selection controls.
      </p>
      <div class="sky-subsection-heading">Modal filters</div>
      <p>Use modal filters:</p>
      <ul>
        <li>To apply four or more simple filters to a <a routerLink="/components/list">list</a> or
        <a routerLink="/components/tiles">tile</a>.</li>
        <li>To apply complex selection controls.</li>
      </ul>
      <p>Present filters in a <a routerLink="/components/modal">modal</a> or a <a routerLink="/components/sectioned-form">sectioned modal</a> depending on the quantity and nature of the filters.</p>
      </section>
    </sky-demo-page-content>

</sky-demo-page>
