<div>
  <sky-repeater>
    <sky-repeater-item *ngFor="let item of data">
      <sky-repeater-item-title>
        <div class="pull-left">
          {{item.id}}
        </div>
        <div class="pull-right">
          <span class="label">
            {{item.name}}
          </span>
        </div>
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        <div>
          {{item.description}}
        </div>
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
  <sky-infinite-scroll
    [sky-infinite-scroll-has-more]="hasMore"
    (sky-infinite-scroll-load)="loadFn()">
  </sky-infinite-scroll>
</div>