<button type="button" class="sky-btn sky-btn-primary" (click)="openConfirmationDialog(1)">
    One-button dialog
</button>
<button type="button" class="sky-btn sky-btn-primary" (click)="openConfirmationDialog(2)">
    Two-button dialog
</button>
<button type="button" class="sky-btn sky-btn-primary" (click)="openConfirmationDialog(3)">
    Three-button dialog
</button>
<button type="button" class="sky-btn sky-btn-primary" (click)="openCustomDialog()">
    Custom button text dialog
</button>
<p>
  {{action}}
</p>

