<sky-demo-page pageTitle="Confirmation Dialog">
  <sky-demo-page-summary>
    The confirmation dialog service launches simple confirmation dialogs to allow users to confirm actions. The <stache-code>SkyConfirmationDialogService</stache-code> provider lauches the confirmation dialog. Within the service, you have options to specify a description, type of dialog, and button text.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Confirmation dialog service methods">
    <sky-demo-page-property
        propertyName="open(config)"
    >
      Opens a confirmation dialog. The <stache-code>config</stache-code> parameter is an object literal to be passed to the component's constructor. This method returns the confirmation dialog instance. 
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Confirmation dialog config properties">
    <sky-demo-page-property
        propertyName="message"
    >
      A string property of <stache-code>config</stache-code> that displays the message in the dialog.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="type"
        isOptional="true"
    >
      An enum of type <stache-code>SkyConfirmationDialogType</stache-code> that specifies the number of buttons and their default text.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="buttons"
        isOptional="true"
    >
      An optional array of <stache-code>SkyConfirmationDialogButton</stache-code> that overrides the default button config.

    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyConfirmationDialogType types">
      <sky-demo-page-property
          propertyName="OKDialog"
      >
        A one-button dialog with 'OK' as the default button text. The integer value equivalent is 1.

      </sky-demo-page-property>
      <sky-demo-page-property
          propertyName="YesCancelDialog"
      >
        A two-button dialog with 'Yes' and 'Cancel' as the default button text. The integer value equivalent is 2.
        
      </sky-demo-page-property>
      <sky-demo-page-property
          propertyName="YesNoCancelDialog"
      >
        A three-button dialog with 'Yes', 'No', and 'Cancel' as the default button text. The integer value equivalent is 3.
  
      </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-properties sectionHeading="SkyConfirmationDialogButton properties">
        <sky-demo-page-property
            propertyName="text"
        >
          A string property that displays the button text.
  
        </sky-demo-page-property>
        <sky-demo-page-property
            propertyName="autofocus"
        >
          A boolean property that specifies whether to autofocus this button.
          
        </sky-demo-page-property>
      </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Confirmation dialog events">
    <sky-demo-page-property
      propertyName="closed">
      The event that the confirmation dialog instance emits when the dialog is closed. A string is passed back with the text of the button that the user clicked.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-confirmation-dialog-demo></sky-confirmation-dialog-demo>
    <sky-demo-page-code demoName="Confirmation dialog"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
