<sky-demo-page pageTitle="List">
  <sky-demo-page-summary>
    <p>The list component displays a SKY UX-themed list of data. It includes options to add, search, and page.</p>
    <p>The following related components can be used within the list component:</p>
    <ul>
      <li><a href="/skyux2/components/list-paging">List paging (sky-list-paging)</a></li>
      <li><a href="/skyux2/components/list-filters">List filters</a></li>
      <li><a href="/skyux2/components/list-toolbar">List toolbar (includes sorting) (sky-list-toolbar)</a></li>
      <li><a href="/skyux2/components/list-view-checklist">
        List view checklist (sky-list-view-checklist)
      </a></li>
      <li><a href="/skyux2/components/list-view-grid">List view grid (sky-list-view-grid)</a></li>

    </ul>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="List properties">
    <sky-demo-page-property
        propertyName="data"
        defaultValue="[]"
        isOptional="true"
    >
      Specifies the data to display.
      Must provide <stache-code>data</stache-code> or <stache-code>dataProvider</stache-code>.
      Acceptable values: <stache-code>Observable Array</stache-code> or <stache-code>Array</stache-code> (to update data in your view outside of a dataProvider you must use an Observable instead of a static array).
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="dataProvider"
        defaultValue="SkyListInMemoryDataProvider"
        isOptional="true"
    >
      Specifies a data provider used to obtain data to display.
      Must provide <stache-code>data</stache-code> or <stache-code>dataProvider</stache-code>.
      Acceptable values: <stache-code>extends ListDataProvider</stache-code>. To extend ListDataProvider, provide a <stache-code>get</stache-code> function that accepts a <stache-code>ListDataRequestModel</stache-code> as an argument and returns an <stache-code>Observable ListDataResponseModel </stache-code>, and a <stache-code>count</stache-code> function that returns an <stache-code>Observable number</stache-code> that indicates how many total records are in the list.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="initialTotal"
        isOptional="true"
    >
      Specifies the total number of items for the initial data set when initialized.
      When used in conjunction with <stache-code>data</stache-code> and <stache-code>dataProvider</stache-code>, it allows an
      initial data to be set with the need to call the dataProvider.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="search"
        isOptional="true"
    >
      Specifies a function to apply as a global sort on the list.
      Acceptable value: <stache-code>(searchText: string) => Observable Array</stache-code> or <stache-code>Promise Array</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="sortFields"
        isOptional="true"
    >
      Specifies a set of fields to sort by. If array of fields then sorted by order of array.
      Acceptable values: <stache-code>ListFieldSelectorModel</stache-code>, <stache-code>Observable ListFieldSelectorModel</stache-code>, <stache-code>Array of ListFieldSelectorModel</stache-code>,
      or <stache-code>Observable Array of ListFieldSelectorModel</stache-code>. Where <stache-code>ListFieldSelectorModel</stache-code> is an object with the <stache-code>fieldSelector</stache-code> property (a string specifying which property of the data is actively being sorted upon) and the <stache-code>descending</stache-code> property (a boolean indicating the active sort is descending)
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selectedIds"
        isOptional="true"
    >
      Specifies a set of selected IDs to use with a checklist view.
      Acceptable values: <stache-code>Observable Array of strings or Array of strings</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="appliedFilters"
      isOptional="true"
    >
      Specifies a set of filters to apply to list data. These filters will also create a filter summary if the <a routerLink="../list-filters">sky-list-filter-summary</a> component is included.
      Acceptable values: <stache-code>Array of ListFilterModel</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List events">
    <sky-demo-page-property
        propertyName="selectedIdsChange"
        isOptional="true"
    >
      When using a list view that supports item selection, the list emits this event with a <stache-code>Map string, boolean</stache-code> object that indicates which data entries are selected.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="appliedFiltersChange"
      isOptional="true"
    >
      The list emits this event with a <stache-code>Array of ListFilterModel</stache-code> with the new filters applied to the list.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <h3>List with grid</h3>
    <sky-list-demo></sky-list-demo>

    <h3>List with custom data provider</h3>
    <sky-list-provider-demo></sky-list-provider-demo>

    <sky-demo-page-code demoName="List"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
