<form
  [formGroup]="formModel"
  (ngSubmit)="submit()"
  novalidate>

  <sky-row>
    <sky-column screenSmall="6">
      <div class="sky-form-group">
        <label>
          What are your favorite colors?
        </label>
        <sky-lookup
          [data]="colors"
          [selectedItems]="selectedColors"
          (selectionChanges)="onResultSelected($event)">
        </sky-lookup>
      </div>
    </sky-column>
    <sky-column screenSmall="6">
      <label>
        This is a standard field for comparison
      </label>
      <input type="text" class="sky-form-control">
    </sky-column>
  </sky-row>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form>
