<h3 class="sky-section-heading">
  Reactive form setup
</h3>

<form
  style="margin: 10px 0;"
  [formGroup]="reactiveForm"
  (ngSubmit)="submitReactiveForm()"
  novalidate>

  <sky-row>
    <sky-column screenSmall="6">
      <div class="sky-form-group">
        <label>
          Favorite ice cream flavors?
        </label>
        <sky-lookup
          [data]="iceCreamFlavors"
          formControlName="favoriteIceCreamFlavors">
        </sky-lookup>
      </div>
    </sky-column>
    <sky-column screenSmall="6">
      <div class="sky-form-group">
        <label>
          Sample
        </label>
        <input type="text" class="sky-form-control">
      </div>
    </sky-column>
  </sky-row>

  <p>
    <button
      type="button"
      class="sky-btn sky-btn-default"
      (click)="disableLookup()">
      Disable lookup
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-default"
      (click)="enableLookup()">
      Enable lookup
    </button>
  </p>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form>

<div class="lookup-demo-alert">
  <strong>Form model:</strong>
  <pre>{{ reactiveForm.value | json }}</pre>
</div>
