<sky-demo-page title="Checkbox">
  <sky-demo-page-summary>
    <p>
      The checkbox component is a SKY UX-themed replacement for the HTML <code>input</code> element of <code>type="checkbox"</code>. The value that is selected is driven through the <code>ngModel</code> attribute specified on the input element.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-checkbox-demo></sky-checkbox-demo>
    <sky-demo-page-code
        [codeFiles]="[
          {
            folder: 'checkbox',
            name: 'checkbox-demo.component.html'
          },
          {
            folder: 'checkbox',
            name: 'checkbox-demo.component.ts'
          }
        ]"
    >
    </sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
