<sky-demo-page pageTitle="Checkbox">
  <sky-demo-page-summary>
    <p>
      The checkbox component is a SKY UX-themed replacement for the HTML <stache-code>input</stache-code> element of <stache-code>type="checkbox"</stache-code>. The value that is selected is driven through the <stache-code>ngModel</stache-code> attribute specified on the input element.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-checkbox-demo></sky-checkbox-demo>
    <sky-demo-page-code demoName="Checkbox"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>For a group of checkboxes, use <stache-code>fieldset</stache-code> and <stache-code>legend</stache-code> elements to provide semantic structure. For people using assistive technology, the <stache-code>fieldset</stache-code> element groups the checkboxes to indicate the number of items in the group, and the <stache-code>legend</stache-code> element provides a description for the group. For more information on how to use <stache-code>fieldset</stache-code> and <stache-code>legend</stache-code>, see <a href="http://webaim.org/techniques/forms/controls#radio">WebAIM examples and guidance</a>.</p>
  </sky-demo-page-content>

</sky-demo-page>
