<sky-demo-page pageTitle="Media queries">
  <sky-demo-page-summary>
    The media queries service allows users to subscribe to screen size changes at different breakpoints.
  </sky-demo-page-summary>


  <sky-demo-page-properties sectionHeading="Media query service methods">
    <sky-demo-page-property
        propertyName="subscribe(listener)"
    >
      Suscribes to screen size changes. The <stache-code>listener</stache-code> function is called when breakpoints change. It is called with a <stache-code>SkyMediaBreakpoints</stache-code> argument, which is an enum that represents the new breakpoint. The possible values for the argument are <stache-code>xs</stache-code> for screen widths of 767px or less, <stache-code>sm</stache-code> for screen widths of 768px to 991px, <stache-code>md</stache-code> for screen widths of 992px to 1199px, and <stache-code>lg</stache-code> for screen widths of 1200px or greater).

    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-media-query-demo></sky-media-query-demo>
    <sky-demo-page-code demoName="Media queries"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
