<sky-demo-page pageTitle="Vertical tabs">
  <sky-demo-page-summary>
    <p>
      The vertical tabs module contains components to render a vertical tabset.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Vertical tabset properties">
    <sky-demo-page-property
        propertyName="showTabsText"
        isOptional="true"
    >
      Specifies the text to display on the show tabs button on mobile devices.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Vertical tab properties">
    <sky-demo-page-property
        propertyName="active"
        isOptional="true"
    >
      Indicates whether the tab is active when the tabset loads.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="tabHeading"
    >
      Specifies the tab header.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="tabHeaderCount"
        isOptional="true"
    >
      Displays a counter alongside the tab header.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
    >
    Indicates whether to disable the tab.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  
  <sky-demo-page-properties sectionHeading="Vertical tab group properties">
    <sky-demo-page-property
        propertyName="groupHeading"
    >
      Specifies the header for the collapsible group of tabs.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="disabled"
        isOptional="true"
    >
      Indicates whether to disable the ability to open and collapse the collapsible group.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="open"
        isOptional="true"
    >
      Indicates whether the collapsible group is open.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Vertical tab events">
    <sky-demo-page-property
      propertyName="activeChange"
    >
      Fires when the active tab changes. Emits the index of the active tab. The index is based on the tab's position when it loads.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-vertical-tabs-demo></sky-vertical-tabs-demo>
    <sky-demo-page-code demoName="Vertical tabs"></sky-demo-page-code>
  </sky-demo-page-example>
    
  <sky-demo-page-content sectionHeading="UX Guidelines">
    <section>
      <div class="sky-subsection-heading">When to use vertical tabs</div>
      <ul>
        <li>Use vertical tabs when a page has large amounts of content to divide into separate pages and <a routerLink="/components/tabs">standard tabs</a> would extend past the edge of the screen.</li>
          <li>Use vertical tabs when it is  important to group related tabs into collapsible sections.</li>
        </ul>
        <div class="sky-subsection-heading">When not to use vertical tabs</div>
        <ul>
          <li>The <a routerLink="/components/tabs">standard tab control</a> is the preferred option to divide large subsets of content on a page. Do not use vertical tabs when the standard tab control will work.
          </li>
          <li>Do not use more than one set of vertical tabs on a page.</li>
          <li>Do not use vertical tabs on a form. Use the <a routerLink="/components/sectioned-form">sectioned form</a> component instead.</li>            
        </ul>
      </section>
  </sky-demo-page-content>

</sky-demo-page>
  
