@import '../../scss/_variables';

.sky-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -$sky-fluid-grid-gutter;
  margin-right: -$sky-fluid-grid-gutter;
  flex-direction: row;

  &.sky-row-reverse {
    @media (min-width: $sky-screen-sm-min) {
      flex-direction: row-reverse;
    }
  }
}
