<sky-modal>
  <sky-modal-content>
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
      <span class="title" style="font-weight: bold">{{ context.errorTitle }}</span>
      <span>{{ context.errorDescription }}</span>
      <div class="close" style="margin-top: 10px;">
        <button
          type="button"
          class="sky-btn sky-btn-primary"
          (click)="instance.close()"
        >
          {{ context.errorCloseText }}
        </button>
      </div>
    </div>
  </sky-modal-content>
</sky-modal>
