@import "../../scss/mixins";

.sky-tab-group-container {
  @include sky-border(light, bottom);
  margin: 5px 10px 0 0;
}

.sky-tab-group-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 16px;
  
  &:hover {
    color: #292a2b;
  }

  &:focus {
    //default
    outline: thin dotted;

    //webkit
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
  }
}

.sky-tab-group-header-sub-open {
  @include sky-emphasized();
}

.sky-tab-group-icon {
  transition: all 0.3s linear;

  &.sky-tab-group-icon-open {
    transform:rotate(180deg);
  }
}

.sky-tab-group-content {
  overflow: hidden;
  @include sky-border(light, top);
}
