@import "../../scss/mixins";

.vertical-tabset-container {
  @include sky-border(light);
  width: 320px;
  padding: 10px 0 10px 20px;
}

.vertical-tabset-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  
  &:hover {
    color: #292a2b;
  }
}

.sky-vertical-tabset-icon {
  transition: all 0.3s linear;

  &.sky-vertical-tabset-icon-open {
    transform:rotate(180deg);
  }
}

.sky-vertical-tabset-content {
  transition: height .35s;
  overflow: hidden;
}

.sky-vertical-tabset-content-closed {
  height: 0;
  visibility: hidden;
}

.sky-vertical-tabset-content-open {
  height: 100px; // todo: calculate this dynamically
  visibility: visible;
}
