@import "../../scss/mixins";

.sky-vertical-tabset-container {
  @include sky-border(light, bottom);
  width: 320px;
  margin: 10px 0 10px 20px;
}

.sky-vertical-tabset-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 5px 15px;

  &:hover {
    color: #292a2b;
  }
}

.sky-vertical-tabset-icon {
  transition: all 0.3s linear;

  &.sky-vertical-tabset-icon-open {
    transform:rotate(180deg);
  }
}

.sky-vertical-tabset-content {
  overflow: hidden;
  @include sky-border(light, top);
}
