 <div class="sky-vertical-tabset" (window:resize)="tabService.updateContent()">
  <div 
    #contentWrapper 
    class="sky-vertical-tabset-group-container"
    [@tabGroupEnter]="tabService.animationVisibleState"
    *ngIf="tabService.tabsVisible()"
  >
    <ng-content></ng-content>
  </div> 
  <div 
    class="sky-vertical-tabset-content"
    [@contentEnter]="tabService.animationVisibleState"
    *ngIf="tabService.contentVisible()"
  >
    <div #skySideContent></div>
    <button 
      *ngIf="!tabService.tabsVisible()"
      (click)="tabService.showTabs()"
      class="sky-btn sky-btn-primary sky-vertical-tabset-show-tabs-btn"
    >
      <i class="fa fa-chevron-left"></i>
      {{ showTabsText }}
    </button>
  </div>
</div> 
