@import '../../scss/mixins';

.sky-vertical-tab {
  cursor: pointer;
  padding: 7px 0 7px 10px;
  margin: 5px 0 5px 15px;

  &:hover {
    background-color: #eee;
  }
}

.sky-vertical-tab-active {
  background-color: #eee;
  color: #292a2b;
  padding-left: 6px;
  border-left: $sky-nav-selected-border-width solid #1c84c6;
}

.sky-vertical-tab-hidden {
  visibility: hidden;
  height: 0;
}
