<div class="vertical-tabset-container">
  <div>
    <div class="vertical-tabset-header sky-subsection-heading" (click)="clicked()">
      <div>{{ title }}</div>
      <div class="sky-vertical-tabset-icon" [ngClass]="{'sky-vertical-tabset-icon-open': open}">
        <i class="fa fa-chevron-down"></i>
    </div>
  </div>
  <div class="sky-vertical-tabset-content" [ngClass]="{'sky-vertical-tabset-content-open': open, 'sky-vertical-tabset-content-closed': !open}">
    <ng-content></ng-content>
  </div>
</div>
