.sky-vertical-tabset-item {
  cursor: pointer;
  padding: 7px 0 7px 10px;
  margin: 5px 0 5px 15px;

  &:hover {
    background-color: #eee;
  }
}

.sky-vertical-tabset-content {
  visibility: hidden;
  height: 0;
}

.sky-vertical-tabset-item-active {
  background-color: #eee;
  // left border
}

.hidden {
  visibility: hidden;
  height: 0;
}
