@import "../../scss/mixins";

.sky-vertical-tabset-container {
  @include sky-border(light, bottom);
  width: 320px;
  margin: 5px 0 0 20px;
}

.sky-vertical-tabset-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;

  &:hover {
    color: #292a2b;
  }

  &:focus {
    //default
    outline: thin dotted;

    //webkit
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
  }
}

.sky-vertical-tabset-icon {
  transition: all 0.3s linear;

  &.sky-vertical-tabset-icon-open {
    transform:rotate(180deg);
  }
}

.sky-vertical-tabset-content {
  overflow: hidden;
  @include sky-border(light, top);
}
