<a 
  class="sky-vertical-tab"
  [attr.aria-selected]="active"
  [ngClass]="{
    'sky-vertical-tab-active': active, 
    'sky-vertical-tab-disabled': disabled
  }"
  [tabIndex]="tabIndex()"
  (click)="activateTab()"
  (keyup.enter)="activateTab()">
  <div class="sky-vertical-tab-display">
    <div class="sky-vertical-tab-heading">
      <span class="sky-vertical-tab-heading-value">{{ tabHeading }}</span>
      <span 
        *ngIf="tabHeaderCount || tabHeaderCount === 0"
        class="sky-vertical-tab-count">
        ({{ tabHeaderCount }})
      </span>
    </div>
    <sky-icon
      *ngIf="showTabRightArrow"
      icon="chevron-right"
      class="sky-vertical-tab-right-arrow">
    </sky-icon>
  </div>
</a>

<div #tabContentWrapper>
  <div 
    class="sky-vertical-tab-content-pane"
    [ngClass]="{'sky-vertical-tab-hidden': !active}">
    <ng-content></ng-content>
  <div>
</div>
