@import "../../scss/mixins";

@media (min-width: $sky-screen-sm-min) {
  .sky-vertical-tabset-container {
    display: flex;
  }
}

.sky-vertical-tabset-content {
  margin: 10px 0 0 10px;
}

.sky-vertical-tabset-show-tabs {
  margin-top: 10px;
}

.sky-vertical-tabset-hidden {
  display: none;
}

.sky-vertical-tabset-group-container {
  flex-basis: 30%;
}