<form #checkForm="ngForm">
  <div>
    <fieldset>
      <legend>Radio button options</legend>
      <ul class="sky-list-unstyled">
        <li>
          <sky-radio name="radiotest" [(ngModel)]="selectedValue" #cb="ngModel" value="1">
            <sky-radio-label>Option 1</sky-radio-label>
          </sky-radio>
        </li>

        <li>
          <sky-radio
            name="radiotest"
            [ngModel]="selectedValue"
            (ngModelChange)="selectedValue = $event"
            disabled="true"
            [value]="valueGuy">
            <sky-radio-label>Option 2</sky-radio-label>
          </sky-radio>
        </li>

        <li>
          <sky-radio name="radiotest" [ngModel]="selectedValue" (ngModelChange)="selectedValue = $event" value="3">
            <sky-radio-label>Option 3</sky-radio-label>
          </sky-radio>
        </li>
      </ul>
      </fieldset>

    <br />
    Selected option: {{selectedValue}}
    Touched: {{cb.touched}}
    Pristine: {{cb.pristine}}
  </div>
</form>
