<div
  id="screenshot-timepicker12hr"
  style="width: 400px; height: 400px;">
  <sky-timepicker #timePickerExample1>
    <input
      timeFormat="hh"
      type="text"
      [ngModel]="'8:30 PM'"
      [skyTimepickerInput]="timePickerExample1"
      #time="ngModel">
  </sky-timepicker>

  <div
    *ngIf="time.errors && time.errors.skyTime && (time.dirty || time.touched)"
    class="sky-error-label">
    <span
      [hidden]="!time.errors.skyTime.invalid">
      Please enter a valid time.
    </span>
  </div>
</div>

<div
  id="screenshot-timepicker24hr"
  style="max-width: 400px; height: 500px;">
  <sky-timepicker #timePickerExample2>
    <input
    timeFormat="HH"
    type="text"
    [ngModel]="'20:30'"
    [skyTimepickerInput]="timePickerExample2"
    #time2="ngModel">
  </sky-timepicker>
  <div
    *ngIf="time2.errors && time2.errors.skyTime && (time2.dirty || time2.touched)"
    class="sky-error-label">
    <span
      [hidden]="!time2.errors.skyTime.invalid">
      Please enter a valid time.
    </span>
  </div>
</div>
