@import "../../scss/mixins";

.sky-sectioned-form-container {
  display: flex;
  margin: -15px;
  height: 460px;
}

.sky-sectioned-form-tabs {
  flex-basis: 30%;
  @include sky-border(light, right);
}

.sky-sectioned-content {
  padding: 15px;
}

:host /deep/ .sky-vertical-tab {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}