<div
  aria-orientation="vertical"
  class="sky-sectioned-form"
  role="tablist"
  (window:resize)="tabService.updateContent()">
  <div
    class="sky-sectioned-form-tabs"
    [@tabEnter]="tabService.animationVisibleState"
    [ngClass]="{'sky-sectioned-form-container-hidden': !tabsVisible()}"
  >
    <ng-content></ng-content>
  </div>
  <div
    #skySectionSideContent
    class="sky-sectioned-form-content"
    [@contentEnter]="tabService.animationVisibleState"
    [ngClass]="{'sky-sectioned-form-container-hidden': !tabService.contentVisible()}"
  >
  </div>
</div>

