<sky-demo-page pageTitle="Card">
  <sky-demo-page-summary>
    <p>
      The card component creates a small container to highlight important information. Generally, multiple cards are organized together to display information about a collection of related items. For example, cards can present a stack or carousel of to-do items or a matrix of images.
    </p>
    <p>
      Cards frequently present users with a call to action. They can use visual cues to alert users about the need for action, and they can also include actions directly on the cards.
    </p>
    <p>
      You can modify cards to handle a variety of scenarios, but they generally consist of three main parts: a title to identify what the card represents, content to display in the body of the card, and an action to let users act on the card. Each item is optional.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="size"
        isOptional="true"
        defaultValue="large"
    >
      Specifies the size of the card. For a large container, specify <stache-code>large</stache-code>. For a small container, specify <stache-code>small</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selectable"
        isOptional="true"
        defaultValue="false"
    >
      Specifies whether to display a checkbox to the right of the title. Users can select the checkbox for one or more cards to then perform an action on the selected cards.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selected"
        isOptional="true"
        defaultValue="false"
    >
      Specifies whether the card is selected.  This property only applies when the card's <stache-code>selectable</stache-code> property is <stache-code>true</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Events">
    <sky-demo-page-property
        propertyName="selectedChange"
    >
      Fires when the user selects or deselects the card.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-card-demo></sky-card-demo>
    <sky-demo-page-code demoName="Card"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
