@import '../../../scss/mixins';

@media (max-width: $sky-screen-xs-max) {
    .sky-page-summary-key-info {
        margin-top: $sky-margin-double;
    }
}

.sky-page-summary-key-info /deep/ .sky-key-info {
  display: block;
}
