<div class="sky-search-container">
  <div
    class="sky-search-button-container">
    <button
      type="button"
      [ngClass]="{'sky-search-btn-open-applied': clearButtonShown}"
      [hidden]="!searchButtonShown"
      class="sky-btn sky-btn-default sky-search-btn-open"
      [attr.title]="'search_open' | skyResources"
      (click)="toggleSearchInput(true)">
      <i class="fa fa-search fa-lg"></i>
    </button>
  </div>
  <div
    [hidden]="searchButtonShown"
    [ngClass]="{'sky-search-dismiss-absolute': mobileSearchShown || isFullWidth }"
    class="sky-search-dismiss-container">
    <div class="sky-search-item-input">
      <div
        [ngClass]="{'sky-search-input-focused': searchInputFocused}"
        [@inputState]="inputAnimate"
        (@inputState.start)="inputAnimationStart($event)"
        (@inputState.done)="inputAnimationEnd($event)"
        class="sky-search-input-container sky-input-group">
        <input
          type="text"
          class="sky-form-control sky-search-input"
          [ngModel]="searchText"
          (ngModelChange)="searchTextChanged($event)"
          (keyup)="enterPress($event, searchText)"
          (focus)="inputFocused(true)"
          (blur)="inputFocused(false)"
          [attr.aria-label]="'search_label' | skyResources"
          [attr.placeholder]="placeholderText" />
        <span
          class="sky-input-group-btn sky-input-group-clear"
          [hidden]="!clearButtonShown">
          <button
            tabindex="-1"
            aria-hidden="true"
            type="button"
            class="sky-btn sky-btn-default sky-search-btn sky-search-btn-clear"
            (click)="clearSearchText()">
            <i class="fa fa-times"></i>
          </button>
        </span>
        <span
          class="sky-input-group-btn">
          <button
            type="button"
            class="sky-btn sky-btn-default sky-search-btn sky-search-btn-apply"
            (click)="applySearchText(searchText)"
            [attr.aria-label]="'search_label' | skyResources" >
            <i class="fa fa-search fa-lg"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="sky-search-item-dismiss">
      <button
        *ngIf="mobileSearchShown"
        type="button"
        [attr.title]="'search_dismiss' | skyResources"
        class="sky-btn sky-btn-secondary sky-search-btn-dismiss"
        (click)="toggleSearchInput(false)">
        <i class="fa fa-chevron-circle-left fa-lg">
        </i>
      </button>
    </div>
  </div>
</div>
