@import '../../scss/mixins';

@media (min-width: $sky-screen-sm-min) {
    .sky-search-input-container {
        min-width: 300px;
    }
}

/*  On iOS, the input will zoom when focused,
    setting the font-size to 16px prevents this
*/
@media (max-width: $sky-screen-xs-max) {
    .sky-search-input, .sky-search-btn-apply, .sky-search-btn-clear {
        font-size: 16px;
    }
}

.sky-search-input {
    border-radius: 6px;
    border-right: none;
}
/*  Prevents the IE clear icon from displaying in the input
    because our search control already includes a clear icon
*/
.sky-search-input::-ms-clear {
    display: none;
}

.sky-input-group.sky-search-input-container .sky-input-group-btn {
    .sky-btn.sky-search-btn-apply {
        border-left: none;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        @include sky-border(light, top, bottom, right);
    }
    .sky-btn.sky-search-btn-clear {
        border-right: none;
        border-left: none;
        @include sky-border(light, top, bottom);
    }
}

.sky-search-btn-dismiss, .sky-search-btn-dismiss:hover {
    border: 1px transparent solid;
    background-color: transparent;
}


.sky-search-dismiss-container {
    display: flex;
}

.sky-search-item-dismiss {
    flex-shrink: 0;
    display: flex;
}

.sky-search-item-input {
    flex-grow: 1;
    display: flex;
}

/*  This is needed or else the input will be tiny
    on Safari
*/
@media (min-width: $sky-screen-sm-min) {
    .sky-search-item-input {
        flex-shrink: 0;
    }
}

.sky-search-btn-clear {
    padding-right: 6px;
    padding-left: 18px;
}

.sky-search-btn-apply {
    padding-left: 6px;
}


.sky-search-dismiss-absolute {
    position: absolute;
    background-color: $sky-color-white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: $sky-padding-half;
}

.sky-search-input-container {
    width: 100%;
    border: 1px transparent solid;
}

.sky-input-group.sky-search-input-container.sky-search-input-focused {

    border: 1px solid $sky-focus-border-color;
    box-shadow: 0 0 8px $sky-focus-shadow-color;
    border-radius: 6px;

    .sky-input-group-btn {
      .sky-btn.sky-search-btn-apply {
        border-right: 1px transparent solid;
        border-top: 1px transparent solid;
        border-bottom: 1px transparent solid;
      }

      .sky-btn.sky-search-btn-clear {
          border-top: 1px transparent solid;
          border-bottom: 1px transparent solid;
      }
    }
}

.sky-form-control.sky-search-input:focus {
    border-top: 1px transparent solid;
    border-bottom: 1px transparent solid;
    border-left: 1px transparent solid;
    border-right: none;
    box-shadow: none;
    outline: none;
}


.sky-search-btn-open-applied.sky-search-btn-open,
.sky-search-btn-open-applied.sky-search-btn-open:hover {
      color: $sky-color-green;
      border: 2px solid $sky-color-green;
      padding: 5px 11px;
}
