@import "../../scss/variables";

.sky-chevron {
    border: none;
    background-color: transparent;
    flex-shrink: 0;
    height: $sky-context-menu-size;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: $sky-context-menu-size;
}

.sky-chevron-part {
    border-color: #d1dade;
    border-style: solid;
    border-width: 3px 0 0 0;
    display: inline-block;
    height: 10px;
    position: relative;
    top: 5px;
    transition: transform $sky-transition-time-medium, left $sky-transition-time-medium;
    vertical-align: top;
    width: 10px;
}

.sky-chevron-flip-up {
    .sky-chevron-left {
        left: 7px;
        transform: rotate(-45deg);
    }

    .sky-chevron-right {
        left: -8px;
        transform: rotate(45deg);
    }
}

.sky-chevron-flip-down {
    .sky-chevron-left {
        left: 0;
        transform: rotate(45deg);
    }

    .sky-chevron-right {
        left: -1px;
        transform: rotate(-45deg);
    }
}
