<sky-demo-page pageTitle="Tile">
  <sky-demo-page-summary>
    <p>
      The <stache-code>sky-tile</stache-code> directive creates a collapsible container and is the bulding block for pages and forms in a SKY UX application. The <stache-code>sky-tile-section</stache-code> directive is used to create padded sections inside a <stache-code>sky-tile</stache-code> element. Additionally, the <stache-code>sky-tile-summary</stache-code> directive may be placed inside the <stache-code>sky-tile</stache-code> directive to add summary information to the tile. Any <stache-code>sky-tile</stache-code> components used within a <stache-code>sky-tile-dashboard</stache-code> must be included as entry components in the application module.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Tile properties">
    <sky-demo-page-property
        propertyName="isCollapsed"
        isOptional="true"
        defaultValue="false"
    >
      Indicates whether the tile is in a collapsed state.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile events">
    <sky-demo-page-property
        propertyName="settingsClick"
    >
      Event emitted when the settings button on the tile is clicked. The settings button will only appear if this output is placed on the tile.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="isCollapsedChanged"
    >
      Event emitted when the tile changes collapsed state. Will return <stache-code>true</stache-code> if collapsed, <stache-code>false</stache-code> otherwise.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile dashboard properties">
    <sky-demo-page-property
        propertyName="config"
    >
      The <stache-code>SkyTileDashboardConfig</stache-code> object that populates the tile dashboard.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tile dashboard events">
    <sky-demo-page-property
        propertyName="configChange"
    >
      This event emits a <stache-code>SkyTileDashboardConfig</stache-code> when the tile dashboard changes state. This can occur when tiles are collapsed/expanded or when tiles are rearranged via drag and drop.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="SkyTileDashboardConfig properties">
    <sky-demo-page-property
        propertyName="tiles"
    >
      An array of <stache-code>SkyTileDashboardConfigTile</stache-code> objects that indicates which tiles are contained in the dashboard. Each <stache-code>SkyTileDashboardConfigTile</stache-code> has the following properties:
      <ul>
        <li><stache-code>id</stache-code> — The unique identifier for the tile.</li>
        <li><stache-code>componentType</stache-code> — The class type for the tile component.</li>
        <li><stache-code>providers</stache-code> An array of data providers that can be passed to the tile.</li>
      </ul>
    </sky-demo-page-property>
     <sky-demo-page-property
        propertyName="layout"
    >
      A <stache-code>SkyTileDashboardConfigLayout</stache-code> object that describes the layout of the tile dashboard. The <stache-code>SkyTileDashboardConfigLayout</stache-code> object contains a <stache-code>singleColumn</stache-code> property of type <stache-code>SkyTileDashboardConfigLayoutColumn</stache-code> and a <stache-code>multiColumn</stache-code> property that is an array of type <stache-code> SkyTileDashboardConfigLayoutColumn</stache-code>. The <stache-code>singleColumn</stache-code> layout displays on small screens, while the <stache-code>multiColumn</stache-code> layout displays on larger screens. The <stache-code>SkyTileDashboardConfigLayoutColumn</stache-code> object contains an array of <stache-code>SkyTileDashboardConfigLayoutTile</stache-code> objects that indicate the order of tiles and have the following properties:
      <ul>
        <li><stache-code>id</stache-code> — The identifier for the tile in the dashboard.</li>
        <li><stache-code>isCollapsed</stache-code> — A boolean value to indicate whether the specific tile is in an expanded or collapsed state.</li>
      </ul>
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-example>
    <div class="sky-demo-bg-gray">
      <sky-tiles-demo></sky-tiles-demo>
    </div>
    <sky-demo-page-code demoName="Tile"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
