<div style="display: flex;">
  <div style="margin-right: 10px; flex: 1;">
    <label 
      for="inputName" 
      class="sky-control-label"
      [ngClass]="{'sky-control-label-required': nameRequired}"
    >
      Name
    </label>
    <input 
      class="sky-form-control"
      [ngModel]="name"
      (ngModelChange)="nameChange($event)"
      id="inputName" 
      type="text"
    >
  </div>
  <div style="margin-right: 10px; flex: 1;">
    <label 
      for="inputId" 
      class="sky-control-label"
    >
      Id
    </label>
    <input 
      class="sky-form-control"
      [ngModel]="id"
      id="inputId" 
      type="text" 
    >
  </div>
</div>

<div style="margin-top: 10px;">
  <sky-checkbox [(ngModel)]="nameRequired">
    <sky-checkbox-label>
      Mark 'Name' required
    </sky-checkbox-label>
  </sky-checkbox>
</div>
  