<sky-demo-page pageTitle="Sectioned form">
  <sky-demo-page-summary>
    <p>
      Sectioned forms combine multiple forms to display large amounts of conceptually related information.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Sectioned form section settings">
    <sky-demo-page-property
        propertyName="active"
        isOptional="true"
    >
      Indicates whether the section is active when the form loads.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="heading"
    >
      Specifies the section header.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="itemCount"
        isOptional="true"
    >
      Indicates the number of items within the section and displays a counter alongside the section header.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Sectioned form events">
    <sky-demo-page-property
        propertyName="indexChanged"
    >
      Fires when the active tab changes and emits the index of the active section. The index is based on the section's position when the form loads.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-sectioned-form-demo></sky-sectioned-form-demo>
    <sky-demo-page-code demoName="Sectioned form"></sky-demo-page-code>
  </sky-demo-page-example>
	
	<sky-demo-page-content sectionHeading="UX guidelines">
  	<p>A sectioned form is appropriate for forms that meet the following criteria:</p>
		<ul>
			<li>Users are navigating into a hierarchy and can be expected to know what they are looking for. This is common for editing pieces of a larger record and for tasks such as applying filters.</li>
			<li>It’s beneficial to group related but independent forms to simplify the UI on the page. For example, one “Add filters” button instead of “Filter by giving,” “Filter by status,” “Filter by constituent code,” “Filter by ratings,” etc.</li>
		</ul>
		<p>Sectioned forms are not appropriate when choices on one tab can affect other tabs because changes are potentially invisible or unpredictable to users.</p>
  </sky-demo-page-content>

</sky-demo-page>
