<sky-demo-page title="Sectioned Form">
  <sky-demo-page-summary>
    <p>
      Sectioned forms are used when displaying a large amount of conceptually related information.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Sectioned form section settings">
    <sky-demo-page-property
        propertyName="active"
    >
      A boolean value to indicate the active section.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="heading"
    >
      The display text used to identify the section.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="itemCount"
        isOptional="true"
    >
      The number of items contained within a given section.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Sectioned form events">
    <sky-demo-page-property
        propertyName="active"
    >
      Fires when the active tab changes. Emits the index of the active section.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-sectioned-form-demo></sky-sectioned-form-demo>
    <sky-demo-page-code demoName="Sectioned form"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
