<sky-modal>
  <sky-modal-header>
    title here
  </sky-modal-header>
  <sky-modal-content>
    <sky-sectioned-form></sky-sectioned-form>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="instance.save('Something cool')"
    >
      Save
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-link"
      (click)="instance.cancel()"
    >
      Cancel
    </button>
  </sky-modal-footer>
  </sky-modal>
  