<sky-modal>
  <sky-modal-header>
      Tab sectioned modal - Index: {{ activeIndexDisplay }}
  </sky-modal-header>
  <sky-modal-content>
    <sky-sectioned-form>
      <sky-sectioned-form-section heading="Basic information">
        <sky-sectioned-form-information></sky-sectioned-form-information>
      </sky-sectioned-form-section>
      <sky-sectioned-form-section heading="Addresses" itemCount="2" [active]="activeTab">
        <sky-sectioned-form-address></sky-sectioned-form-address>
      </sky-sectioned-form-section>
      <sky-sectioned-form-section heading="Phone numbers" itemCount="3">
        <sky-sectioned-form-phone></sky-sectioned-form-phone>
      </sky-sectioned-form-section>
    </sky-sectioned-form>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="instance.save('Something cool')"
    >
      Save
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-link"
      (click)="instance.cancel('Nevermind')"
    >
      Cancel
    </button>
  </sky-modal-footer>
  </sky-modal>
  