<sky-modal>
  <sky-modal-header>
      Tab sectioned modal - Index: {{ activeIndex }}
  </sky-modal-header>
  <sky-modal-content >

    <sky-sectioned-form>
      <sky-vertical-tab tabHeading="tab 1">
        tab 1 content
      </sky-vertical-tab>
      <sky-vertical-tab tabHeading="tab 2">
        tab 2 content
      </sky-vertical-tab>
      <sky-vertical-tab tabHeading="tab 3">
        tab 3 content
      </sky-vertical-tab>
    </sky-sectioned-form>

  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="instance.save('Something cool')"
    >
      Save
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-link"
      (click)="instance.cancel('Nevermind')"
    >
      Cancel
    </button>
  </sky-modal-footer>
  </sky-modal>
  