<h3>Sectioned form — Index: {{ activeIndexDisplay }}</h3>
<div style="height: 150px;">
  <sky-sectioned-form (indexChanged)="updateIndex($event)" >
    <sky-sectioned-form-section heading="Basic information">
      <sky-demo-information-form>
      </sky-demo-information-form>
    </sky-sectioned-form-section>
    <sky-sectioned-form-section heading="Addresses" itemCount="2" active="true">
      <sky-demo-address-form></sky-demo-address-form>
    </sky-sectioned-form-section>
    <sky-sectioned-form-section heading="Phone numbers" itemCount="3">
      <sky-demo-phone-form></sky-demo-phone-form>
    </sky-sectioned-form-section>
  </sky-sectioned-form>
</div>

<h3>With a modal</h3>
<button type="button" class="sky-btn sky-btn-primary" (click)="openModal()">
  Open sectioned form
</button>