@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-repeater-item {
  display: flex;
  padding-bottom: 0;
  @include sky-border(row);
}

.sky-repeater-item-left {
  margin-top: -6px;
}

.sky-repeater-item-right {
  flex-grow: 1;
}

.sky-repeater-item-header {
  display: flex;
}

.sky-repeater-item-chevron {
  margin-left: $sky-margin;
  margin-top: -3px;
}

.sky-repeater-item-context-menu {
  padding: $sky-padding-half $sky-padding 0 0;
}

.sky-repeater-item-checkbox {
  padding-right: $sky-padding;
}

.sky-repeater-item-selected {
  background-color: $sky-background-color-selected;
  transition: background-color 150ms;
}

.sky-repeater-item-title {
  padding-bottom: $sky-padding;
  margin: 0;
  flex-grow: 1;
}

.sky-repeater-item-collapsible {
  .sky-repeater-item-header {
    cursor: pointer;
  }

  .sky-repeater-item-content {
    padding-right: $sky-context-menu-size + $sky-padding;
  }
}

.sky-repeater-item-collapsed {
  .sky-repeater-item-content {
    display: none;
  }
}
