<sky-demo-page pageTitle="Text expand">
  <sky-demo-page-summary>
    <p>
      The text expand component truncates long text with an ellipsis and a link that allows the user to fully expand the text.
      If the text length falls below the specified threshold, then no action is taken. The 'See more' link will expand the
      text inline if it does not exceed the limits on text characters or newline characters for the inline expanded view. Otherwise, the link will open the text in a modal view.
    </p>
    <p>
      Note that collapsed text will have newlines removed. Also, if newlines are detected, the text is automatically
      collapsed regardless of the total length.
    </p>
    <p>
      The text expand repeater component truncates a list of repeater items and will initially display a set number of items. Any items over the set maximum limit are hidden until the user expands the list.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Text expand properties">
    <sky-demo-page-property propertyName="text">
      The text to truncate.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="maxLength" defaultValue="200" isOptional="true">
      The number of characters to show before truncating the text. To avoid truncating text in the middle of a word, the directive looks for a space in the 10 characters before the last character.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="maxExpandedLength" defaultValue="600" isOptional="true">
      The maximum number of characters to show in the inline expanded view. If the text includes more characters, then a
      modal view with the content will be displayed when the 'See more' link is clicked
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="maxExpandedNewlines" defaultValue="2" isOptional="true">
      The maximum number of newline characters to show in the inline expanded view. If the text includes more newline characters, then a modal view with the content will be displayed when the 'See more' link is clicked.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="expandModalTitle" defaultValue="Expanded View" isOptional="true">
      The title to display in the modal expanded view.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="truncateNewlines" defaultValue="true" isOptional="true">
      If this property is set to <stache-code>false</stache-code>, newline characters will not be replaced with spaces in the truncated text.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Text expand repeater properties">
    <sky-demo-page-property propertyName="data">
      The data to truncate.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="maxItems">
      The number of items from the data to display before truncating.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-text-expand-demo></sky-text-expand-demo>
    <sky-demo-page-code demoName="Text expand"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
