<sky-modal>
  <sky-modal-header>
    <div *ngIf="pickerHeader">{{pickerHeader}}</div>
    <div *ngIf="!pickerHeader && isSelectMultiple()">{{'selectfieldpicker_select_values' | skyResources}}</div>
    <div *ngIf="!pickerHeader && !isSelectMultiple()">{{'selectfieldpicker_select_value' | skyResources}}</div>
  </sky-modal-header>
  <sky-modal-content>
    <div *ngIf="true else developerProvidedTemplate">
      <sky-list [data]="filteredItems" [selectedIds]='selectedIds' (selectedIdsChange)="selectedItemsChange($event)">
        <sky-list-toolbar>
        </sky-list-toolbar>
        <div *ngIf="isSelectMultiple() else singleSelectToolbar">
          <!-- remove once list-toolbar supports categories /skyux2/issues/377 -->
        </div>
        <sky-list-view-checklist label="label" description="description" [selectMode]="selectFieldStyle">
        </sky-list-view-checklist>
      </sky-list>
    </div>

  </sky-modal-content>
  <sky-modal-footer>
    <div *ngIf="isSelectMultiple() else singleSelectModeFooter">
      <button type="button" class="sky-btn sky-btn-primary" (click)="save()">
        {{'selectfieldpicker_select' | skyResources}}
      </button>
      <button type="button" class="sky-btn sky-btn-link" (click)="close()">
        {{'selectfieldpicker_close' | skyResources}}
      </button>
    </div>
  </sky-modal-footer>
</sky-modal>

<ng-template #singleSelectModeFooter>
  <button type="button" class="sky-btn sky-btn-secondary" (click)="clearSelection()">
    {{'selectfieldpicker_clear' | skyResources}}
  </button>
</ng-template>

<ng-template #singleSelectToolbar>
  <div class="sky-select-field-toolbar" *ngIf="pickerItemsCategories.length >= 1">
    <sky-dropdown>
      <sky-dropdown-button (click)="clearSelection()">
        <span *ngIf="!selectedCategory">All categories</span>
        <span *ngIf="selectedCategory">{{selectedCategory}}</span>
      </sky-dropdown-button>
        <sky-dropdown-menu>
          <sky-dropdown-item *ngFor="let category of pickerItemsCategories">
            <button (click)="selectedItemsCategory(category)">
              {{ category }}
            </button>
          </sky-dropdown-item>
        </sky-dropdown-menu>
    </sky-dropdown>
  </div>
</ng-template>


<ng-template #developerProvidedTemplate>
  developer provided template?
</ng-template>
