@import '~@blackbaud/skyux-design-tokens/scss/mixins';
@import '../../scss/mixins';

.sky-select-field-input-group {
  z-index: 3;
  width: 0%;
  overflow: visible;
  justify-content: flex-end;
}

.sky-select-field-input-group button {
  padding-right: $sky-padding-half;
  padding-left: $sky-padding-half;
  border-color: transparent;
}

.sky-select-field-input-group button:last-child {
  padding-right: $sky-padding;
}

.sky-select-field-tokens-container {
  margin-left: $sky-padding * 3;
}
