<div *ngIf="isSelectMultiple() else singleSelectMode">
  <button class="sky-btn sky-btn-link" (click)="openFormModel()">
    <i class="fa fa-plus-circle"></i>
    <span *ngIf="selectFieldText">{{selectFieldText}}</span>
    <span *ngIf="!selectFieldText">{{'selectfieldpicker_select_values' | skyResources}}</span>
  </button>
  <sky-tokens displayWith="label" [(tokens)]="tokenValues"></sky-tokens>
</div>


<ng-template #singleSelectMode>
  <div [formGroup]="singleSelectForm" class="sky-input-group">
    <input formControlName="singleSelectInput" class="sky-form-control sky-select-field-single-input" type="text" placeholder="{{selectFieldText}}"
      (click)="openFormModel()">
    <div class="sky-input-group-btn sky-select-field-input-group">
      <button class="sky-btn" *ngIf="singleSelectForm.controls.singleSelectInput.value && selectFieldClear" (click)="clearSelectSingle()">
        <i class="fa fa-times"></i>
      </button>
      <button class="sky-btn" (click)="openFormModel()" *ngIf="selectFieldIcon">
        <i class="fa {{selectFieldIcon}}"></i>
      </button>
    </div>
  </div>

  <div *ngIf="singleSelectForm.invalid && (singleSelectForm.dirty || singleSelectForm.touched)" class="alert alert-danger">
    <i class="fa fa-exclamation-triangle sky-select-field-warning"></i> {{'selectfield_selection_required_warning' | skyResources}}
  </div>
</ng-template>
