@import '~@blackbaud/skyux-design-tokens/scss/mixins';
@import '../../scss/mixins';
.sky-select-field-picker-toolbar {
  background-color: $sky-color-gray-05;
  color: $sky-text-color-default;
  padding: $sky-padding-half $sky-padding;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 49px;
  @include sky-border(dark, bottom)
}
