@import '~@blackbaud/skyux-design-tokens/scss/mixins';
@import '../../scss/mixins';
.sky-select-field-picker-toolbar {
  background-color: #eeeeef;
  color: #282b31;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 49px;
  border-bottom: 1px solid #cdcfd2;
}
