<div class="sky-input-group">
  <ng-content></ng-content>
  <div class="sky-input-group-btn sky-input-group-timepicker-btn">
    <sky-dropdown buttonType="clock-o">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <div class="sky-timepicker-container">
            <section class="sky-timepicker-column">
              <ol>
                <li
                *ngFor="let hour of hours;"
                (click)="setHour(hour)"
                >{{hour}}</li>
              </ol>
            </section>
            <section class="sky-timepicker-column">
              <ol>
                <li
                *ngFor="let minute of minutes;"
                (click)="setMinute(minute)"
                >{{minute}}</li>
              </ol>
            </section>
            <section *ngIf="this.format === 'hh'" class="sky-timepicker-column sky-timepicker-period">
              <ol>
                <li (click)="setPeriod('AM')">AM</li>
                <li (click)="setPeriod('PM')">PM</li>
              </ol>
            </section>
            <section>
              <button class="sky-timepicker-button-done">Done</button>
            </section>
          </div>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </div>
</div>
