<div class="sky-input-group">
  <ng-content></ng-content>
  <div class="sky-input-group-btn sky-input-group-timepicker-btn">
    <sky-dropdown buttonType="clock-o" alignment="right">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <div class="sky-timepicker-container">
            <section class="sky-timepicker-column" [ngClass]="{'sky-timepicker-24hour':is8601}">
              <ol>
                <li *ngFor="let hour of hours;">
                  <button type="button" name="hour" (click)="setTime($event);" [ngClass]="{'sky-btn-active': selectedHour === hour}">{{hour}}</button>
                </li>
              </ol>
            </section>
            <section class="sky-timepicker-column">
              <ol>
                <li *ngFor="let minute of minutes;">
                  <button type="button" name="minute" (click)="setTime($event);" [ngClass]="{'sky-btn-active': selectedMinute === minute}">{{ '00' .substring(0, 2 - (minute) .toString() .length) + (minute) }}</button>
                </li>
              </ol>
            </section>
            <section *ngIf="!is8601" class="sky-timepicker-column">
              <ol>
                <li>
                  <button type="button" name="meridie" (click)="setTime($event);" [ngClass]="{'sky-btn-active': selectedMeridies === 'AM'}">AM</button>
                </li>
                <li>
                  <button type="button" name="meridie" (click)="setTime($event);" [ngClass]="{'sky-btn-active': selectedMeridies === 'PM'}">PM</button>
                </li>
              </ol>
            </section>
          </div>
          <div class="sky-timepicker-container sky-timepicker-footer">
            <section class="sky-timepicker-column">
              <button type="button">{{'timepicker_close' | skyResources}}</button>
            </section>
          </div>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </div>
</div>
