<aside
  (@toastState.done)="animationDone($event)"
  [@toastState]="getAnimationState()">
  <div
    class="sky-toast"
    [ngClass]="'sky-toast-' + instance.toastType"
    [attr.aria-live]="instance.toastType==='danger' ? 'assertive' : 'polite'"
    [attr.role]="instance.toastType==='danger' ? 'alert' : undefined">
    <div
      class="sky-toast-content">
      <p
        *ngIf="!instance.customComponentType"
        class="sky-toast-content-message">
        {{instance.message}}
      </p>
      <ng-template #skytoastcustomtemplate></ng-template>
    </div>
    <button
      class="sky-toast-close"
      type="button"
      [attr.aria-label]="'toast_close' | skyResources"
      (click)="instance.close()">
      <span aria-hidden="true">
        <i class="fa fa-close"></i>
      </span>
    </button>
  </div>
</aside>
