<aside
  (@toastState.done)="animationDone($event)"
  [@toastState]="getAnimationState()">
  <div
    class="sky-toast"
    [ngClass]="{'sky-toast-info':     message.toastType==='info',
                'sky-toast-warning':   message.toastType==='warning',
                'sky-toast-danger':   message.toastType==='danger',
                'sky-toast-success':  message.toastType==='success'}"
    [attr.aria-live]="message.toastType==='danger' ? 'assertive' : 'polite'">
    <div
      class="sky-toast-content">
      <p
        *ngIf="!message.customComponentType"
        class="sky-toast-content-message">
        {{message.message}}
      </p>
      <ng-template #skytoastcustomtemplate></ng-template>
    </div>
    <button
      class="sky-toast-close"
      type="button"
      [attr.aria-label]="'toast_close' | skyResources"
      (click)="message.close()">
      <span aria-hidden="true">
        <i class="fa fa-close"></i>
      </span>
    </button>
  </div>
</aside>
