<aside>
    <div class="sky-toast"
            [ngClass]="{'sky-toast-info':     message.toastType=='info',
                        'sky-toast-warning':   message.toastType=='warning',
                        'sky-toast-danger':   message.toastType=='danger',
                        'sky-toast-success':  message.toastType=='success',
                        'sky-toast-closing': message.isClosing | async}">
        <div
        (click)="message.close()"
        class='sky-toast-content'>
            <p class='sky-toast-content-message' *ngIf="!message.customComponentType">{{message.message}}</p>
            <ng-template #skytoastcustomtemplate></ng-template>
        </div>
        <button
            type="button"
            class="sky-toast-close"
            (click)="message.close()"
            [attr.aria-label]="'toast_close' | skyResources">
        <span aria-hidden="true"><i class="fa fa-close"></i></span>
        </button>
    </div>
</aside>