<h2 class="sky-section-heading">
  Reactive form setup
</h2>

<form
  [formGroup]="reactiveForm"
  (ngSubmit)="submitReactiveForm()"
  novalidate>

  <div class="sky-form-group">
    <label
      class="sky-control-label"
      id="my-select-field-1">
      Make a single selection
    </label>
    <sky-select-field
      [data]="colorStream"
      selectMode="single"
      formControlName="favoriteColor"
      ariaLabelledBy="my-select-field-1">
    </sky-select-field>
  </div>

  <div class="sky-form-group">
    <label
      class="sky-control-label"
      id="my-select-field-2">
      Make multiple selections
    </label>
    <sky-select-field
      [data]="fruitStream"
      formControlName="favoriteFruits"
      ariaLabelledBy="my-select-field-2">
    </sky-select-field>
  </div>

  <div class="sky-form-group">
    <label
      class="sky-control-label"
      id="my-select-field-3">
      Make a single selection (disabled)
    </label>
    <sky-select-field
      [data]="colorStream"
      selectMode="single"
      formControlName="disabledColor"
      ariaLabelledBy="my-select-field-3">
    </sky-select-field>
  </div>

  <div class="sky-form-group">
    <label
      class="sky-control-label"
      id="my-select-field-4">
      Make multiple selections (disabled)
    </label>
    <sky-select-field
      [data]="fruitStream"
      formControlName="disabledFruits"
      ariaLabelledBy="my-select-field-4">
    </sky-select-field>
  </div>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form>

<br><br>
<div class="sky-form-group">
  <label class="sky-control-label">
    Form model:
  </label>
  <pre>{{ reactiveForm.value | json }}</pre>
</div>
<!--
<h2 class="sky-section-heading">
  Template-driven form setup
</h2>

<form
  class="autocomplete-demo-form"
  #myForm="ngForm"
  (ngSubmit)="submitTemplateForm(myForm.value)"
  novalidate>

  <div class="sky-form-group">
    <label
      for="my-autocomplete-template-driven"
      class="sky-control-label">
      What is your favorite color?
    </label>

    <sky-autocomplete
      [data]="colors">
      <input
        skyAutocomplete
        id="my-autocomplete-template-driven"
        type="text"
        name="favoriteColor"
        [(ngModel)]="templateDrivenModel.favoriteColor">
    </sky-autocomplete>
  </div>

  <div class="autocomplete-demo-alert">
    <strong>Form model:</strong>
    <pre>{{ myForm.value | json }}</pre>
  </div>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form> -->




<!--
<div>
  <label class="sky-control-label">
    Multi-select Mode
  </label>
  <sky-select-field
    [selectFieldText]="multipleModeText"
    [selectFieldPickerList]="pickerItems"
    [(selectField)]="multipleItemsSelected">
  </sky-select-field>
</div>

<div>
  <label class="sky-control-label sky-control-label-required">
    Single-select Mode
  </label>
  <sky-select-field
    selectFieldClear=""
    selectFieldIcon="fa-sort"
    [selectFieldStyle]="singleModeStyle"
    [selectFieldText]="singleModeText"
    [selectFieldPickerList]="pickerItems"
    [(selectField)]="singleItemSelected">
  </sky-select-field>
</div> -->
