<div>
<label class="sky-control-label">
  Multi-select Mode
</label>
<sky-select-field
  [selectFieldText]='multipleModeText'
  [selectFieldPickerList]='pickerItems'
  [(selectField)]="multipleItemsSelected"
>
</sky-select-field>
</div>
<ul *ngFor="let item of multipleItemsSelected">
  <li>{{item.label}}</li>
</ul>

<div>
<label class="sky-control-label sky-control-label-required">
  Single-select Mode
</label>
<sky-select-field
  [selectFieldStyle]='singleModeStyle'
  [selectFieldText]='singleModeText'
  [selectFieldPickerList]='pickerItems'
  [(selectField)]="singleItemSelected">
</sky-select-field>
</div>
<li>{{singleItemSelected[0]?.label}}</li>
<ul *ngFor="let item of singleItemSelected">
</ul>
