<sky-vertical-tab></sky-vertical-tab>

<sky-vertical-tab>
  <sky-vertical-tab-menu>
    Main 1
    <sky-vertical-tab-item>
      Option 1a
    </sky-vertical-tab-item>
    <sky-vertical-tab-item>
      Option 1b
    </sky-vertical-tab-item>
  </sky-vertical-tab-menu>
  <sky-vertical-tab-menu>
    Main 2
    <sky-vertical-tab-item>
      Option 2a
    </sky-vertical-tab-item>
    <sky-vertical-tab-item>
      Option 2b
    </sky-vertical-tab-item>
  </sky-vertical-tab-menu>
  <sky-vertical-tab-menu>
    Main 3
    <sky-vertical-tab-item>
      Option 3a
    </sky-vertical-tab-item>
    <sky-vertical-tab-item>
      Option 3b
    </sky-vertical-tab-item>
  </sky-vertical-tab-menu>
</sky-vertical-tab>