<sky-demo-page pageTitle="Navbar">
  <sky-demo-page-summary>
    The navbar component displays a list of top-level navigation items. It also adds behavior such as displaying sub-navigation items when users hover over a dropdown.  To display a dropdown menu, use the <a routerLink="../dropdown">dropdown</a> component inside a navbar item.
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-navbar-demo></sky-navbar-demo>
    <sky-demo-page-code demoName="Navbar"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
