<div
  class="sky-lookup"
  [ngClass]="{ 'sky-lookup-input-focused': inputFocused }">

  <sky-autocomplete
    [data]="data"
    [descriptorProperty]="descriptorProperty"
    [propertiesToSearch]="propertiesToSearch"
    [search]="search"
    [searchFilters]="searchFilters"
    [searchResultsLimit]="searchResultsLimit"
    [searchResultTemplate]="searchResultTemplate"
    [searchTextMinimumCharacters]="searchTextMinimumCharacters"
    (selectionChange)="onSelectionChange($event)">

    <div class="sky-lookup-search sky-form-control">
      <sky-tokens
        tabindex="-1"
        [disabled]="disabled"
        [displayWith]="descriptorProperty"
        [tokenStream]="tokenStream"
        (changes)="onTokenChanges($event)"
        (blur)="onTokensBlur()">

        <textarea
          skyAutocomplete
          class="sky-form-control"
          [disabled]="disabled"
          [attr.aria-label]="ariaLabel"
          [attr.aria-labelledby]="ariaLabelledBy"
          [attr.placeholder]="placeholderText"
          #lookupInput>
        </textarea>

      </sky-tokens>
    </div>
  </sky-autocomplete>
</div>

<pre>{{ selectedItems | json}}</pre>
