@import '../../scss/mixins';

.sky-lookup {
  textarea {
    resize: none;
    border: 0;
    overflow: hidden;
    height: #{$sky-line-height-base}em;
    box-sizing: content-box;
    padding: 0;
    display: inline-flex;
    background-color: transparent;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  ::ng-deep
  sky-tokens {
    &:focus {
      outline: none;
    }

    .sky-tokens {
      margin-top: -5px;
      margin-bottom: -5px;

      .sky-tokens-content {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.sky-lookup-search {
  cursor: text;
}

.sky-lookup-disabled {
  .sky-lookup-search {
    cursor: default;
  }
}

.sky-lookup-focused {
  .sky-lookup-search {
    @include sky-field-status(active);
  }

  ::ng-deep .sky-tokens-content {
    flex-basis: 100px;
  }
}
