@import '../../scss/mixins';

.sky-lookup {
  &:focus {
    outline: none;
  }

  textarea {
    resize: none;
    border: 0;
    overflow: hidden;
    height: #{$sky-line-height-base}em;
    box-sizing: content-box;
    padding: 0;
    display: inline-flex;
    background-color: transparent;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  ::ng-deep
  sky-tokens {
    &:focus {
      outline: none;
    }

    .sky-tokens {
      margin-top: -4px;
      margin-bottom: -4px;

      .sky-tokens-content {
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }
}

// This "hides" the textarea if the component is not active.
.sky-lookup:not(.sky-lookup-focused) {
  ::ng-deep
  .sky-tokens-content {
    flex-basis: 1px !important;
  }
}

.sky-lookup-search {
  cursor: text;
}

.sky-lookup-disabled {
  .sky-lookup-search {
    cursor: default;
  }
}

.sky-lookup-focused {
  .sky-lookup-search {
    @include sky-field-status(active);
  }
}
