<div
  class="sky-lookup"
  [ngClass]="{
    'sky-lookup-focused': isInputFocused,
    'sky-lookup-disabled': disabled
  }">
  <sky-autocomplete
    [data]="data"
    [descriptorProperty]="descriptorProperty"
    [propertiesToSearch]="propertiesToSearch"
    [search]="search"
    [searchFilters]="searchFilters"
    [searchResultsLimit]="searchResultsLimit"
    [searchResultTemplate]="searchResultTemplate"
    [searchTextMinimumCharacters]="searchTextMinimumCharacters"
    (selectionChange)="onAutocompleteSelectionChange($event)">

    <div class="sky-lookup-search sky-form-control">
      <sky-tokens
        [disabled]="disabled"
        [displayWith]="descriptorProperty"
        [messageStream]="tokensController"
        [tokens]="tokens"
        (tokensChange)="onTokensChange($event)"
        (focusIndexOverRange)="onTokensFocusIndexOverRange()">

        <textarea
          skyAutocomplete
          class="sky-form-control"
          [disabled]="disabled"
          [attr.aria-label]="ariaLabel"
          [attr.aria-labelledby]="ariaLabelledBy"
          [attr.placeholder]="placeholderText"
          (keydown.enter)="$event.preventDefault();"
          #lookupInput>
        </textarea>
      </sky-tokens>
    </div>
  </sky-autocomplete>
</div>
