<div
  class="sky-lookup-tokens"
  *ngIf="tokens">

  <sky-lookup-token
    *ngFor="let token of tokens"
    [attr.tabindex]="(disabled) ? false : -1"
    (keydown)="onKeyDown($event, token)">

    {{ token[displayWith] }}

    <button
      type="button"
      tabindex="-1"
      class="sky-btn sky-lookup-token-btn-close"
      [attr.aria-hidden]="true"
      [disabled]="disabled"
      (click)="removeToken(token)">
      <i class="fa fa-times"></i>
    </button>
  </sky-lookup-token>

  <ng-content>
  </ng-content>
</div>
