<div (document:click)="windowClick()">
  <div class="sky-lookup-item-input">
    <div
      [ngClass]="{'sky-lookup-input-focused': searchInputFocused}"
      class="sky-lookup-input-container sky-input-group sky-dropdown-button">
      <ul class="sky-lookup-input-group">
        <ng-container *ngIf="multiple">
          <li *ngFor="let item of selectedItems" class="sky-lookup-selected-item"
          [ngClass]="{'sky-lookup-selected-item-active': (item === activeSelectedItem)}">
            <p>{{item[descriptorProperty]}}</p>
            <span class="sky-lookup-item-delete" (click)="removeSelectedItem(item)">
              <i class="fa fa-times"></i>
            </span>
          </li>
        </ng-container>
        <li [ngClass]="{'sky-lookup-input-item': multiple}">
          <input
            type="text"
            class="sky-form-control sky-lookup-input"
            [ngModel]="searchText"
            (ngModelChange)="searchTextChanged($event)"
            (keydown)="keydown($event, searchText)"
            (keyup)="keyup($event, searchText)"
            (focus)="inputFocused($event, true)"
            (blur)="inputFocused($event, false)"
            [attr.aria-label]="'search_label' | skyResources"
            [attr.placeholder]="placeholderText" />
        </li>
      </ul>
      <span
      class="sky-input-group-btn sky-input-group-clear"
      *ngIf="!multiple &amp;&amp; selectedItems &amp;&amp; selectedItems.length > 0"
      >
        <button
          tabindex="-1"
          aria-hidden="true"
          type="button"
          class="sky-btn sky-btn-default sky-lookup-btn-clear"
          (click)="clearSearchText()">
          <i class="fa fa-times"></i>
        </button>
      </span>
      <span class="sky-input-group-btn">
        <button
          tabindex="-1"
          type="button"
          class="sky-btn sky-btn-default sky-lookup-btn-apply">
          <i class="fa fa-search fa-lg"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="sky-dropdown-menu">
    <div *ngFor="let item of results" class="sky-lookup-menu-item"
      [ngClass]="{'sky-lookup-menu-item-active': (item === activeMenuItem)}">
      <button type="button" (click)="selectMenuItem(item)">
        <ng-container
          *ngTemplateOutlet="template || defaultResultTemplate; context: { item: item }">
        </ng-container>
      </button>
    </div>
    <div *ngIf="!results || results.length === 0" class="sky-lookup-menu-item">
      <button type="button" (click)="closeMenu()" class="sky-lookup-no-match">
          {{ ('lookup_no_results' | skyResources) }}
      </button>
    </div>
  </div>
</div>

<ng-template #defaultResultTemplate let-item="item">{{item.name}}</ng-template>
