<datepicker-inner [activeDate]="activeDate"
                  [datepickerMode]="datepickerMode"
                  [initDate]="initDate"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [minMode]="minMode"
                  [maxMode]="maxMode"
                  [showWeeks]="showWeeks"
                  [formatDay]="formatDay"
                  [formatMonth]="formatMonth"
                  [formatYear]="formatYear"
                  [formatDayHeader]="formatDayHeader"
                  [formatDayTitle]="formatDayTitle"
                  [formatMonthTitle]="formatMonthTitle"
                  [startingDay]="startingDay"
                  [yearRange]="yearRange"
                  [customClass]="customClass"
                  [dateDisabled]="dateDisabled"
                  [onlyCurrentMonth]="onlyCurrentMonth"
                  [shortcutPropagation]="shortcutPropagation"
                  [monthColLimit]="monthColLimit"
                  [yearColLimit]="yearColLimit"
                  (selectionDone)="onSelectionDone($event)"
                  (activeDateChange)="onActiveDateChange($event)">
  <daypicker tabindex="0"></daypicker>
  <monthpicker tabindex="0"></monthpicker>
  <yearpicker tabindex="0"></yearpicker>
</datepicker-inner>
