<sky-tile>
  <sky-tile-title>Title</sky-tile-title>
  <sky-tile-content>
    <sky-tile-content-section>Section 1</sky-tile-content-section>
    <sky-tile-content-section>Section 2</sky-tile-content-section>
  </sky-tile-content>
</sky-tile>

<sky-tile-dashboard (dashboardChanged)="dashboardChanged($event)">
  <sky-tile-dashboard-column [tiles]="column1Tiles">
  </sky-tile-dashboard-column>
  <sky-tile-dashboard-column [tiles]="column2Tiles">
  </sky-tile-dashboard-column>
</sky-tile-dashboard>

Current dashboard config: {{dashboardConfig}}
