<p>
  <sky-tokens
    [tokenStream]="tokenStream"
    (changes)="onTokenChanges($event)">
    Content may be placed inside the tokens component.
  </sky-tokens>
</p>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="changeTokenStream()">
  Change tokens
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="resetTokenStream()">
  Reset tokens
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="killTokenStream()">
  Kill tokens
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="createTokenStream()">
  Replace tokens
</button>

<h3>
  Tokens with disabled controls
</h3>

<p>
  <sky-tokens
    [disabled]="true"
    [tokenStream]="tokenStream">
  </sky-tokens>
</p>
