<h3 class="sky-subsection-heading">
  Default setup
</h3>

<p>
  These tokens may be navigated with the arrow keys, and dismissed by either clicking the close button on each token, or pressing the backspace key.
</p>

<p>
  <sky-tokens
    [(tokens)]="colors">
  </sky-tokens>
</p>

<hr>

<h3 class="sky-subsection-heading">
  Non-dismissible tokens
</h3>

<p>
  These tokens cannot be dismissed. However, they may still be navigated using the arrow keys.
</p>

<p>
  <sky-tokens
    [(tokens)]="colors"
    [dismissible]="false">
  </sky-tokens>
</p>

<hr>

<h3 class="sky-subsection-heading">
  Static tokens
</h3>

<p>
  These tokens cannot be dismissed or navigated with the arrow keys.
</p>

<p>
  <sky-tokens
    [(tokens)]="colors"
    [dismissible]="false"
    [focusable]="false">
  </sky-tokens>
</p>

<hr>

<h3 class="sky-subsection-heading">
  Disabled tokens
</h3>

<p>
  These tokens are disabled and cannot be dismissed or navigated with the arrow keys.
</p>

<p>
  <sky-tokens
    [(tokens)]="colors"
    [disabled]="true">
  </sky-tokens>
</p>

<hr>

<h3 class="sky-subsection-heading">
  Token stream interactions
</h3>

<p>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="changeColors()">
    Change tokens
  </button>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="resetColors()">
    Reset tokens
  </button>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="destroyColors()">
    Destroy tokens
  </button>
</p>

<hr>

<h3 class="sky-subsection-heading">
  Custom setup
</h3>

<p>
  These tokens define a custom property to display their value, and emit an event when a token is selected.
</p>

<p>
  <sky-tokens
    displayWith="label"
    [(tokens)]="filters"
    (focusIndexOverRange)="onFocusIndexOverRange()"
    (focusIndexUnderRange)="onFocusIndexUnderRange()"
    (tokenSelected)="onTokenSelected($event)">
    (You may also include content inside the tokens component.)
  </sky-tokens>
</p>
