<sky-demo-page pageTitle="Help inline">
    <sky-demo-page-summary>
        <p>
            The help inline component creates a small button next to a field. When clicked they can trigger an action that displays more information about that field that the user might need information on.
        </p>
    </sky-demo-page-summary>

    <sky-demo-page-properties sectionHeading="Help inline events">
        <sky-demo-page-property
            propertyName="actionClick">
            Fires when the user clicks the help inline button
        </sky-demo-page-property>
    </sky-demo-page-properties>

    <sky-demo-page-example>
        <sky-help-inline-demo></sky-help-inline-demo>
        <sky-demo-page-code demoName="Help inline"></sky-demo-page-code>
    </sky-demo-page-example>


    <sky-demo-page-content sectionHeading="UX Guidelines">
      <p>Use inline help if you need to provide extra information about a particular field or section of a page (e.g. how a value is calculated) but it doesn’t need to be persistently presented.</p>
      <p>You can open the content in a popover or the help panel, depending on how extensive the information is.</p>
    </sky-demo-page-content>


</sky-demo-page>
