@import '../../scss/_variables';

.sky-list-view-action-button {

  /deep/
  .sky-column {
    margin-top: $sky-fluid-grid-gutter !important;
    margin-bottom: $sky-fluid-grid-gutter;
  }

  /deep/
  .sky-action-button {
    width: 100% !important;
    height: 100%;
    max-width: none !important;
    margin-right: 0 !important;
    margin-left: 0;
  }
}
