<div
  class="sky-list-view-action-button">
  <sky-row>
    <sky-column
      *ngFor="let item of items"
      screenSmall="6"
      screenMedium="4"
      screenLarge="3">
      <sky-action-button
        (actionClick)="navigate(item.data.route)">
        <sky-action-button-icon
          [iconType]="item.data.icon">
        </sky-action-button-icon>
        <sky-action-button-header>
          {{ item.data.title }}
        </sky-action-button-header>
        <sky-action-button-details>
          {{ item.data.summary }}
        </sky-action-button-details>
      </sky-action-button>
    </sky-column>
  </sky-row>
</div>
