@import '../../scss/_variables';

/deep/
.sky-list-view-action-button {
  .sky-column {
    margin-top: $sky-fluid-grid-gutter !important;
    margin-bottom: $sky-fluid-grid-gutter;
  }

  .sky-action-button {
    width: 100% !important;
    height: 100%;
    max-width: none !important;
    margin-right: 0 !important;
  }
}
