<div id="screenshot-grid">
  <sky-grid fit="scroll" [data]="items" [highlightText]="highlightText">
    <sky-grid-column field="column1" heading="Column1"></sky-grid-column>
    <sky-grid-column field="column2" heading="Column2"></sky-grid-column>
    <sky-grid-column field="column3" heading="Column3" [excludeFromHighlighting]="true"></sky-grid-column>
  </sky-grid>
</div>
<button
  id="highlight-button"
  class="sky-btn sky-btn-primary"
  (click)="triggerHighlight()"
>
  Trigger Highlight
</button>
