<sky-demo-page pageTitle="List filters">
  <sky-demo-page-summary>
    The list filter module provides components around filtering <a routerLink="../list">lists</a>.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="List filter components">
     <sky-demo-page-property
      propertyName="sky-list-filter-button"
      isOptional="true"
    >
      This component should contain a filter button for the list toolbar. Use the <a routerLink="../filter">sky-filter-button</a> component internally to open a modal with filtering options. Apply filter options by setting the <stache-code>appliedFilters</stache-code> input on <stache-code>sky-list</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-list-filter-summary"
      isOptional="true"
    >
      Including this component inside of <stache-code>sky-list-toolbar</stache-code> creates a filter summary based on the list's <stache-code>appliedFilters</stache-code> input.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-list-filter-inline"
      isOptional="true"
    >
      This component creates an inline filter area for the list. Each individual filter should be placed in a <stache-code>sky-list-filter-inline-item</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  <sky-demo-page-properties sectionHeading="List filter inline item properties">
    <sky-demo-page-property
      propertyName="name"
    >
      The name for the filter.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="filter"
      isOptional="true"
    >
      Required when using in memory data provider. This is the function applied to determine whether an item is filtered.
      Acceptable values: <stache-code>(item: ListItemModel, filterValue: any) => boolean</stache-code>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
      isOptional="true"
    >
      The initial value of the filter.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="defaultValue"
      isOptional="true"
    >
      The default value of the filter. If the value of the filter is set to the default value, then the filter is not applied.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="template"
    >
      The template for the filter. The template has access to the <stache-code>filter</stache-code> variable, which contains the <stache-code>value</stache-code> of the filter control (which should be bound to <stache-code>ngModel</stache-code>, and the <stache-code>changed</stache-code> function, which should be called when the model changes.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List filter summary events">
     <sky-demo-page-property
      propertyName="summaryItemClick"
      isOptional="true"
    >
      This event emits a <stache-code>ListFilterModel</stache-code> when a summary item is clicked. A common use case is opening a filter modal when this event is received.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="ListFilterModel properties">
    <sky-demo-page-property
       propertyName="name"
    >
      The name for the filter.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="filter"
      isOptional="true"
    >
      Required when using in memory data provider. This is the function applied to determine whether an item is filtered.
      Acceptable values: <stache-code>(item: ListItemModel, filterValue: any) => boolean</stache-code>
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="value"
      isOptional="true"
    >
      The value of the filter.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="defaultValue"
      isOptional="true"
    >
      The default value of the filter. If the value of the filter is set to the default value, then the filter is not applied.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="dismissible"
      isOptional="true"
      defaultValue="true"
    >
      Determines whether the filter's summary item can be dismissed.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="label"
      isOptional="true"
      defaultValue="true"
    >
      Specifies the text for the filter's summary item. If not specified, then the filter summary item text defaults to the <stache-code>value</stache-code> of the filter.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-example>
    <h3>Modal Filters</h3>
    <sky-list-filters-demo></sky-list-filters-demo>
    <h3>Inline Filters</h3>
    <sky-list-filters-inline-demo></sky-list-filters-inline-demo>
    <sky-demo-page-code demoName="List filters"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
