<div class="sky-page-summary">
  <ng-content select="sky-page-summary-alert"></ng-content>
  <div class="sky-page-summary-left">
    <ng-content select="sky-page-summary-image"></ng-content>
    <div>
      <ng-content select="sky-page-summary-title"></ng-content>
      <ng-content select="sky-page-summary-subtitle"></ng-content>
      <ng-content select="sky-page-summary-status"></ng-content>
      <ng-content select="sky-page-summary-content"></ng-content>
    </div>
    <ng-content select="sky-page-summary-key-info"></ng-content>
  </div>
</div>
