@import '../../scss/mixins';

.sky-page-summary {
  background-color: #fff;
  padding: $sky-padding-double $sky-padding-plus-half;
}

.sky-page-summary-row {
  align-items: stretch;
  display: flex;
}

@media (min-width: $sky-screen-sm-min) {
  .sky-page-summary-with-key-info {
    .sky-page-summary-left {
      flex-basis: 75%;
      padding-right: $sky-padding-plus-half;
    }

    .sky-page-summary-right {
      flex-basis: 25%;
    }
  }

  .sky-page-summary-left {
    align-items: stretch;
    display: flex;
  }
}
