<sky-demo-page pageTitle="Repeater">
  <sky-demo-page-summary>
    The repeater component creates a container to display information for a list of objects. As an alternative to a grid layout, repeaters are particularly effective for mobile-intensive contexts and other scenarios that require the compact display of information.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="expandMode"
        defaultValue="none"
        isOptional="true"
    >
      Specifies a layout for the repeater list to indicate whether users can collapse and expand repeater items. Items in a collapsed state display titles only. The valid options are <stache-code>none</stache-code>, <stache-code>multiple</stache-code>, and <stache-code>single</stache-code>.
        <ul>
            <li><stache-code>none</stache-code> loads all repeater items in an expanded state and does not allow users to collapse them. This standard layout provides the quickest access to the details in the repeater items. It is best-suited to repeater items with concise content that users need to view frequently.</li>
            <li><stache-code>multiple</stache-code> loads all repeater items in a collapsed state and allow users to expand and collapse them. This layout provides a more compact view but still allows users to expand as many repeater items as necessary. It is best-suited to repeater items where the most important information is in the titles and users only occasionally need to view body content.</li>
            <li><stache-code>single</stache-code> loads all repeater items in a collapsed state and allow users to expand one item at a time. This layout provides the most compact view because users can only expand one repeater item at a time. It is best-suited to repeater items where the most important information is in the titles and users only occasionally need to view body content of one repeater item at a time.</li>
        </ul>
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="selectable"
        defaultValue="false"
        isOptional="true"
    >
      Indicates whether to display a checkbox in the left of the repeater item.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="isSelected"
        isOptional="true"
    >
      Specifies whether the repeater item is selected (i.e. its checkbox is checked). When the user selects the repeater item the specified property on your model will be updated accordingly.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-repeater-demo></sky-repeater-demo>
    <sky-demo-page-code demoName="Repeater"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
