<sky-repeater [expandMode]="expandMode">
  <sky-repeater-item 
    *ngFor="let item of items" 
    [isExpanded]="item.expanded"
    [selectable]="selectable"
  >
    <!--<sky-repeater-item-context-menu ng-if="repeaterCtrl.showContextMenu">
      <bb-context-menu>
        <bb-context-menu-item>Mark completed</bb-context-menu-item>
        <bb-context-menu-item>Edit</bb-context-menu-item>
        <li class="divider"></li>
        <bb-context-menu-item>Delete</bb-context-menu-item>
      </bb-context-menu>
    </sky-repeater-item-context-menu>-->
    <sky-repeater-item-title ng-if="repeaterCtrl.showTitle">
      <div class="pull-left">
        {{item.title}}
      </div>
      <div class="pull-right">
        <span class="label" ng-class="repeaterCtrl.getStatusCls(item)">{{item.status}}</span>
      </div>
    </sky-repeater-item-title>
    <sky-repeater-item-content>
      <div>
        {{item.note}}
      </div>
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater>
<p>
  <label>
    Expand mode:
    <select [(ngModel)]="expandMode">
      <option value="none">
        None
      </option>
      <option value="single">
        Single
      </option>
      <option value="multiple">
        Multiple
      </option>
    </select>
  </label>
  <button class="sky-btn" (click)="addItem()">Add item</button>
  <button class="sky-btn" (click)="removeItem()">Remove last item</button>
  <sky-checkbox [(ngModel)]="selectable">
    <sky-checkbox-label>
      Show checkbox
    </sky-checkbox-label>
  </sky-checkbox>
</p>
