<sky-demo-page pageTitle="Numeric">
  <sky-demo-page-summary>
    <p>The numeric pipe formats numbers to a shortened value if it is 1000 or more to a rounded number plus an abbreviation character. K for thousands, M for millions, B for billions and T for trillion. It will also format the shortened number as a currency as an option, with proper localization including currency symbol placement.</p>
    <p>Pipe usage: <stache-code>number_expression | skyNumeric[:NumericOptions] ]]</stache-code></p>
    <sky-alert alertType="info">When creating the NumericOptions object in the template, You MUST have the space between the end of the options object bracket and the closing brackets for the pipe or it won't work.  See HTML code file below for examples.</sky-alert>
    <p>It can also be imported as SkyNumericService and the formatNumber method called.  It uses a new NumericOptions class, which contains the three properties.  Create a new instance of the class with its parameters set and pass it in as the NumericOptions parameter.</p>
    <p>Method usage: <stache-code>this.skyNumeric.formatNumber(value, NumericOptions)</stache-code></p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="value"
    >
      Number. This is the number_expression to be shortened.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="Numeric Options"
        isOptional="true"
    >
      NumericOptions object. This object contains arguments for the following options:
    </sky-demo-page-property>
    <div style="margin-left: 40px">
    <sky-demo-page-property
        propertyName="digits"
        defaultValue="1"
        isOptional="true"
    >
      Number. Specifies the maximum number of digits after the decimal separator.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="format"
        defaultValue="number"
        isOptional="true"
    >
      String. Specifies if it should be formatted as currency. Options are 'currency' or 'number'.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="iso"
        defaultValue="USD"
        isOptional="true"
    >
      String. Specifies the ISO4217 currency code to be used for currency formatting.
    </sky-demo-page-property>
    </div>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-numeric-demo></sky-numeric-demo>
    <sky-demo-page-code demoName="Numeric"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
