<div>
  <p>This is a sample of numeric formatting.</p>
  <p>1 with zero digits: {{1 | skyNumeric:0}}</p>
  <p>1000 with zero digits: {{1000 | skyNumeric:0}}</p>
  <p>1000 with one (or more) digit: {{1000 | skyNumeric:1}}</p>
  <p>1100 with zero digits: {{1100 | skyNumeric:0}}</p>
  <p>1100 with one digit: {{1100 | skyNumeric:1}}</p>
  <p>1500 with zero digits: {{1500 | skyNumeric:0}}</p>
  <p>1500 with one digit: {{1500 | skyNumeric:1}}</p>
  <p>1000000 with any digits: {{1000000 | skyNumeric:0}}</p>
  <p>1000000000 with any digits: {{1000000000 | skyNumeric:0}}</p>
  <p>1000000000000 with any digits: {{1000000000000 | skyNumeric:0}}</p>
  <p>1234000 with 2 digits: {{1234000 | skyNumeric:2}}</p>
  <p>1235000000 with 2 digits: {{1235000000 | skyNumeric:2}}</p>
  <p>1.45 with 1 digit: {{1.45 | skyNumeric:1}} </p>
  <p>1234567 with 1 digit: {{1234567 | skyNumeric:1}}</p>
  <p>15.50 as US dollar currency with 2 digits: {{15.50 | skyNumeric:2:true:'USD'}}</p>
  <p>-15.50 as US dollar currency with 2 digits: {{-15.50 | skyNumeric:2:true:'USD'}}</p>
  <p>1234567 as Euro currency with 2 digits: {{1234567 | skyNumeric:2:true:'EUR'}}</p>
  <p>1450 as UK Pound currency with 2 digits: {{1450 | skyNumeric:2:true:'GBP'}}</p>
  <p>1750 as Hong Kong Dollar currency with 1 digit: {{1750 | skyNumeric:1:true:'HKD'}}</p>
  <p>1234567 as Japanese Yen currency with 3 digit: {{1234567 | skyNumeric:3:true:'JPY'}}</p>
</div>

