<div
  class="sky-text-expand-container"
  (transitionend)="animationEnd()"
   #container>
  <span class="sky-text-expand-text" [id]="contentSectionId" #text></span>
  <span class="sky-text-expand-ellipsis" *ngIf="!isExpanded && expandable">... </span>
  <button *ngIf="expandable"
    type="button"
    class="sky-btn sky-btn-link-inline sky-text-expand-see-more"
    [attr.aria-expanded]="isExpanded"
    [attr.aria-controls]="contentSectionId"
    (click)="textExpand()"
  >
    {{buttonText}}
  </button>
</div>
