<sky-demo-page pageTitle="Link records">
  <sky-demo-page-summary>
    This link records component shows two records and provides options for suggesting a match or adding a new record.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="items"
        defaultValue="[]"
    >
      Specifies the data that we will be finding matches to.
      Acceptable values: <stache-code>Observable&lt;Array&lt;any&gt;&gt;</stache-code> or <stache-code>Array&lt;any&gt;</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="matches"
      defaultValue="[]"
      isOptional="true"
    >
      Specifies the match data for the items provided.
      Acceptable values: <stache-code>Observable&lt;Array&lt;SkyLinkRecordsMatchModel&gt;&gt;</stache-code> or <stache-code>Array&lt;SkyLinkRecordsMatchModel&gt;</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="matchFields"
      defaultValue="[]"
      isOptional="true"
    >
      Specifies the property names of the fields that can be updated when editing. Takes in an object with a <stache-code>key</stache-code> and <stache-code>label</stache-code> property. the key specifies the field name, and the label defines the text to show when matching fields. if no label is defined, the key name is displayed instead.
      Acceptable values: <stache-code>Observable&lt;Array&lt;any&gt;&gt;</stache-code> or <stache-code>Array&lt;any&gt;</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="showNewFieldValues"
      defaultValue="true"
      isOptional="true"
    >
      Specifies whether or not the user will be able to choose to update new values for a matched field that contains no current value. If false, the field will be updated automatically without input needed from the user.
      Acceptable values: <stache-code>true</stache-code> or <stache-code>false</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="itemTemplate"
      isOptional="true"
    >
      Specifies the <stache-code>TemplateRef</stache-code> for the item template content section.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="matchTemplate"
      isOptional="true"
    >
      Specifies the <stache-code>TemplateRef</stache-code> for the match template content section.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="noMatchTemplate"
      isOptional="true"
    >
      Specifies the <stache-code>TemplateRef</stache-code> for the no match template content section.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="itemTitleTemplate"
      isOptional="true"
    >
      Specifies the <stache-code>TemplateRef</stache-code> for the item title template content section.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="keyIdSelector"
      defaultValue="id"
      isOptional="true"
    >
      Specifies the key property name to use to link the original item with the matching item.
      Must provide <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="results"
    >
      Returns the results of the link record matching.
      Return Type: <stache-code>Observable&lt;Array&lt;SkyLinkRecordsResultModel&gt;&gt;</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="selectedByDefault"
      defaultValue="true"
      isOptional="true"
    >
      Specifies whether the edit fields should be selected by default.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  <sky-demo-page-example>
    <sky-link-records-demo></sky-link-records-demo>
    <sky-demo-page-code demoName="Link records"></sky-demo-page-code>
  </sky-demo-page-example>
	
	<sky-demo-page-content sectionHeading="UX guidelines">
		<div class="sky-section-heading">Usage</div>
		<div class="sky-subsection-heading">Matching certainty</div>
		<p>The intent of this component is to allow users to compare records when a single record is very likely the correct match. To present users with a set of less-certain matches, use a different approach.</p>
		<div class="sky-subsection-heading">Content</div>
		<p>To minimize cognitive load, comparison cards should display the minimum data required to uniquely identify a record and allow users to create a record when no true match is found.</p>
		<div class="sky-subsection-heading">Batch processing</div>
		<p>Record linking is frequently handled in the context of importing multiple records. In these cases, you can repeat the component in a vertical list of comparisons, as in the demo above. If you import multiple types of records, divide the task by record type so that users work through multiple lists that each include a single record type.</p>
		<div class="sky-section-heading">Workflow</div>
		<div class="screenshot screenshot-info"><img src="~/assets/img/guidelines/linkrecords/record-link-flow.png" /></div>
	</sky-demo-page-content>
	
</sky-demo-page>
