@import "../../../scss/variables";

:host {
  display: flex;
  padding: 0 $sky-padding;
}

.sky-tile-dashboard-layout-multi {
  display: block;
}

.sky-tile-dashboard-layout-single {
  display: none;
}

@media (max-width: $sky-screen-sm-max) {
  :host {
    display: block;
    padding: 0;
  }

  .sky-tile-dashboard-layout-multi {
    display: none;
  }

  .sky-tile-dashboard-layout-single {
    display: block;
  }

  :host /deep/ .sky-tile-dashboard-column {
    padding: 0;
  }
}

@media (max-width: $sky-screen-xs-max) {
  :host /deep/ .sky-tile {
    margin-bottom: 0 !important;
  }
}
