@import '../../scss/mixins';

.sky-list-toolbar-search {
  /deep/ .sky-toolbar-container, /deep/ .sky-search-dismiss-absolute {
    background-color: $sky-background-color-neutral-light;
  }
}

.sky-list-toolbar-container {
  /deep/ sky-toolbar-item[sky-toolbar-id="sort-selector"] .sky-toolbar-item {
    margin-right: 0;
  }
}

.sky-toolbar-item-sort-container {
  margin-right: $sky-margin-half;
}
