<div class="sky-list-toolbar-container">
  <sky-toolbar>
    <sky-toolbar-item  *ngFor="let item of leftTemplates | async">
      <sky-list-toolbar-item-renderer
        [template]="item.template"
        [attr.sky-cmp-id]="item.id"></sky-list-toolbar-item-renderer>
    </sky-toolbar-item>
    <sky-toolbar-item *ngFor="let item of centerTemplates | async">
      <sky-list-toolbar-item-renderer
        [template]="item.template"
        [attr.sky-cmp-id]="item.id"></sky-list-toolbar-item-renderer>
    </sky-toolbar-item>
    <sky-toolbar-item *ngFor="let item of rightTemplates | async">
      <sky-list-toolbar-item-renderer
        [template]="item.template"
        [attr.sky-cmp-id]="item.id"></sky-list-toolbar-item-renderer>
    </sky-toolbar-item>
    <ng-content></ng-content>
  </sky-toolbar>
</div>

<template #search>
  <div *ngIf="isSearchEnabled | async">
    <sky-search
      #searchComponent
      [searchText]="searchTextInput | async"
      (searchApply)="updateSearchText($event)"
      [placeholderText]="placeholder">
    </sky-search>
  </div>
</template>
