<div class="sky-list-toolbar-container">
  <sky-toolbar *ngIf="(type | async) !== 'search'">
    <sky-toolbar-section>
      <sky-toolbar-item  *ngFor="let item of leftTemplates | async">
        <sky-list-toolbar-item-renderer
          [template]="item.template"
          [attr.sky-cmp-id]="item.id">
        </sky-list-toolbar-item-renderer>
      </sky-toolbar-item>
      <sky-toolbar-item *ngFor="let item of centerTemplates | async">
        <sky-list-toolbar-item-renderer
          [template]="item.template"
          [attr.sky-cmp-id]="item.id">
        </sky-list-toolbar-item-renderer>
      </sky-toolbar-item>
      <sky-toolbar-item
        *ngFor="let item of rightTemplates | async"
        [attr.sky-toolbar-id]="item.id">
        <sky-list-toolbar-item-renderer
          [template]="item.template"
          [attr.sky-cmp-id]="item.id">
        </sky-list-toolbar-item-renderer>
      </sky-toolbar-item>
      <ng-content></ng-content>
    </sky-toolbar-section>
    <sky-toolbar-section
    *ngIf="showFilterSummary && (hasAppliedFilters | async)">
      <ng-content select="sky-list-filter-summary"></ng-content>
    </sky-toolbar-section>
  </sky-toolbar>
  <div class="sky-list-toolbar-search" *ngIf="(type | async) === 'search'">
    <sky-toolbar>
      <sky-toolbar-section>
        <sky-toolbar-item>
          <sky-list-toolbar-item-renderer
            [template]="search" sky-cmp-id="search">
          </sky-list-toolbar-item-renderer>
        </sky-toolbar-item>
      </sky-toolbar-section>
      <sky-toolbar-section [hidden]="!(hasAdditionalToolbarSection | async)">
        <sky-toolbar-item  *ngFor="let item of leftTemplates | async">
          <sky-list-toolbar-item-renderer
            [template]="item.template"
            [attr.sky-cmp-id]="item.id"></sky-list-toolbar-item-renderer>
        </sky-toolbar-item>
        <sky-toolbar-item *ngFor="let item of centerTemplates | async">
          <sky-list-toolbar-item-renderer
            *ngIf="item.id !== 'search'"
            [template]="item.template"
            [attr.sky-cmp-id]="item.id"></sky-list-toolbar-item-renderer>
        </sky-toolbar-item>
        <sky-toolbar-item
          *ngFor="let item of rightTemplates | async"
          [attr.sky-toolbar-id]="item.id"
        >
          <sky-list-toolbar-item-renderer
            [template]="item.template"
            [attr.sky-cmp-id]="item.id">
          </sky-list-toolbar-item-renderer>
        </sky-toolbar-item>
        <ng-content></ng-content>
      </sky-toolbar-section>
    </sky-toolbar>
  </div>
  <div *ngIf="hasInlineFilters && inlineFilterBarExpanded">
    <ng-content select="sky-list-filter-inline"></ng-content>
  </div>
</div>

<ng-template #search>
  <div *ngIf="isSearchEnabled | async">
    <sky-search
      #searchComponent
      [expandMode]="(type | async) === 'search' ? 'fit' : 'responsive'"
      [searchText]="searchTextInput | async"
      (searchApply)="updateSearchText($event)"
      [placeholderText]="placeholder">
    </sky-search>
  </div>
</ng-template>

<ng-template #sortSelector>
  <div
    class="sky-toolbar-item-sort-container"
    *ngIf="(isSortSelectorEnabled | async) && (sortSelectors | async).length > 0">
    <sky-sort>
      <sky-sort-item
        *ngFor="let item of sortSelectors | async"
        [active]="item.selected"
        (itemSelect)="setSort(item.sort)">
        {{item.sort.text}}
      </sky-sort-item>
    </sky-sort>
  </div>
</ng-template>

<ng-template #inlineFilterButton>
  <sky-filter-button
    (filterButtonClick)="inlineFilterButtonClick()"
    [active]="hasAppliedFilters | async">
  </sky-filter-button>
</ng-template>
