<div class="popover-demo-container">
  <div class="popover-demo-item">
    <sky-popover placement="top" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-demo-item">
    <sky-popover placement="bottom" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-demo-item">
    <sky-popover placement="right" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-demo-item">
    <sky-popover placement="left" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
</div>

<h3>
  With titles:
</h3>

<div class="popover-demo-container">
  <div class="popover-demo-item">
    <sky-popover placement="top" popoverTitle="Need help?" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-demo-item">
    <sky-popover placement="bottom" popoverTitle="Need help?" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-demo-item">
    <sky-popover placement="right" popoverTitle="Need help?" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-demo-item">
    <sky-popover placement="left" popoverTitle="Need help?" [isVisible]="true">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
</div>

<h3>
  Popovers can be opened via buttons:
</h3>

<sky-popover #myPopover>
  The content of a popover can be text, HTML, or Angular components.
</sky-popover>

<button class="sky-btn"
  [skyPopoverTarget]="myPopover"
  skyPopoverPlacement="right">
  Right
</button>

<button class="sky-btn"
  [skyPopoverTarget]="myPopover"
  skyPopoverPlacement="top">
  Top
</button>

<button class="sky-btn"
  [skyPopoverTarget]="myPopover"
  skyPopoverPlacement="bottom">
  Bottom
</button>

<button class="sky-btn"
  [skyPopoverTarget]="myPopover"
  skyPopoverPlacement="left">
  Left
</button>

<button class="sky-btn"
  [skyPopoverTarget]="myPopover">
  Default
</button>

<h3>
  Or, via links:
</h3>

<p>
  <a href="javascript:void" class="help-link" [skyPopoverTarget]="myPopover" skyPopoverPlacement="right">Need help?</a>
</p>

<h3>
  Events
</h3>

<sky-popover popoverTitle="Need help?" #myPopoverWithTitle>
  The content of a popover can be text, HTML, or Angular components.
</sky-popover>

<button class="sky-btn"
  [skyPopoverTarget]="myPopoverWithTitle"
  (skyPopoverOpened)="onPopoverOpened($event)">
  Say something when opened
</button>

<button class="sky-btn"
  [skyPopoverTarget]="myPopoverWithTitle"
  (skyPopoverClosed)="onPopoverClosed($event)">
  Say something when closed
</button>
