.popover-demo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 40px;
}

.popover-demo-item {
  position: relative;
  padding: 10px;
  flex: 1;
}

/deep/
.popover-demo-item {
  .sky-popover-container {
    position: static !important;
    width: 100% !important;
    opacity: 1 !important;
    visibility: visible !important;

    .sky-popover {
      margin: 0;
    }
  }
}
