.sky-confirmation-dialog-description-container {
  padding-top: 5px;
  padding-bottom: 20px;
}

.sky-confirmation-dialog-buttons {
  padding-top: 10px;
  padding-bottom: 5px;
}

.sky-confirmation-dialog-confirm,
.sky-confirmation-dialog-cancel  {
    min-width: 15%; 
}
