<sky-modal>
  <sky-modal-content>
    <div class="sky-confirmation-dialog-container">
      <div class="sky-confirmation-dialog-description-container">
          <span class="sky-confirmation-dialog-description sky-emphasized">
            {{ context.description }}
          </span>
      </div>      
      <div class="sky-confirmation-dialog-buttons">
        <button
          type="button"
          class="sky-btn sky-btn-primary sky-confirmation-dialog-confirm"
          (click)="instance.close('confirm')"
        >
          {{ context.confirmText }}
        </button>
        <button
          type="button"
          class="sky-btn-link sky-confirmation-dialog-cancel"
          (click)="instance.close('cancel')"
        >
          {{ context.cancelText }}
      </button>
      </div>
    </div>
  </sky-modal-content>
</sky-modal>
