<sky-modal>
  <sky-modal-content>
    <div class="sky-confirmation-dialog-container">
      <div class="sky-confirmation-dialog-description-container">
          <span class="sky-confirmation-dialog-description sky-emphasized">
            {{ context.description }}
          </span>
      </div>      
      <div class="sky-confirmation-dialog-buttons">
        <button
         *ngFor="let btn of buttons; let i = index;"
          type="button"
          class="{{btn.style}} sky-confirmation-dialog-btn"
          (click)="instance.close(btn.text)"
          [attr.autofocus]="btn.autofocus ? 'autofocus' : null"
        >
        {{btn.text}}
        </button>
      </div>
    </div>
  </sky-modal-content>
</sky-modal>
