<sky-navbar>
  <sky-navbar-item active="true">
    <a href="#">
      Selected item
    </a>
  </sky-navbar-item>
  <sky-navbar-item>
    <sky-dropdown trigger="hover">
      <sky-dropdown-button>
        Show dropdown
      </sky-dropdown-button>
      <sky-dropdown-menu>
        <sky-dropdown-item>
          Item 1
        </sky-dropdown-item>
        <sky-dropdown-item>
          Item 2
        </sky-dropdown-item>
        <sky-dropdown-item>
          Item 3
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-navbar-item>
</sky-navbar>
