<div class="sky-datepicker">
  <div class="sky-input-group">
    <ng-content></ng-content>

    <div class="sky-input-group-btn sky-input-group-datepicker-btn">
      <sky-dropdown
        buttonType="calendar"
        alignment="right"
        [messageStream]="dropdownController">
        <sky-dropdown-menu>
          <sky-datepicker-calendar
            (selectedDateChange)="dateSelected($event)"
            (calendarModeChange)="onCalendarModeChange()"
            [maxDate]="maxDate"
            [minDate]="minDate"
            [startingDay]="startingDay">
          </sky-datepicker-calendar>
        </sky-dropdown-menu>
      </sky-dropdown>
    </div>
  </div>
</div>
