@import "../../scss/mixins";

.sky-input-group-datepicker-btn /deep/ .sky-dropdown-button.sky-btn {
  border-radius: 0;
  border-left: none;
  &:hover{
    @include sky-border(dark, left);
  }
}

.sky-input-group-datepicker-btn /deep/ .sky-dropdown-menu {
  box-shadow: none;
  background-color: transparent;
  text-align: center;
}
