<table
  *ngIf="datepicker.datepickerMode==='day'"
  role="grid"
  [attr.aria-labelledby]="datepicker.datepickerId+'-title'"
  [attr.aria-activedescendant]="datepicker.activeDateId">
  <thead>
    <tr>
      <th scope="col">
        <button
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm sky-datepicker-btn-previous"
          (click)="datepicker.moveCalendar($event, -1)"
          tabindex="-1"
          aria-hidden="true"
          >
          <i class="fa fa-chevron-left"></i>
        </button>
      </th>
      <th [attr.colspan]="5 + (datepicker.showWeeks ? 1 : 0)" scope="col">
        <button
          [id]="datepicker.datepickerId + '-title'"
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm sky-datepicker-calendar-title"
          (click)="datepicker.toggleModeCalendar($event)"
          [disabled]="datepicker.datepickerMode === datepicker.maxMode"
          [ngClass]="{'sky-btn-disabled': datepicker.datepickerMode === datepicker.maxMode}"
          tabindex="-1"
          aria-hidden="true"
          >
          <strong>{{title}}</strong>
        </button>
      </th>
      <th scope="col">
        <button
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm sky-datepicker-btn-next"
          (click)="datepicker.moveCalendar($event, 1)"
          tabindex="-1"
          aria-hidden="true"
          >
          <i class="fa fa-chevron-right"></i>
        </button>
      </th>
    </tr>
    <tr>
      <th
        scope="col"
        *ngFor="let label of labels"
        class="sky-datepicker-center sky-datepicker-weekdays">
        <small [attr.aria-label]="label.full">
          <b>{{label.abbr}}</b>
        </small>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-template
      ngFor
      [ngForOf]="rows"
      let-row="$implicit"
      let-index="index"
      >
      <tr role="row">
        <td
          *ngFor="let date of row"
          class="sky-datepicker-center"
          role="gridcell"
          [id]="date.uid"
          >
          <button
            type="button"
            class="sky-btn sky-btn-sm sky-btn-default sky-datepicker-btn-date"
            [ngClass]="{ 'sky-datepicker-btn-selected': date.selected, 'sky-btn-disabled': date.disabled, 'sky-btn-active': datepicker.isActive(date)}"
            [disabled]="date.disabled"
            (click)="datepicker.selectCalendar($event, date.date, true)"
            tabindex="-1"
            >
            <span
              [ngClass]="{'sky-datepicker-secondary': date.secondary }"
              >{{date.label}}</span>
          </button>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
