<table *ngIf="datepicker.datepickerMode==='month'" role="grid">
  <thead>
    <tr>
      <th>
        <button
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm sky-datepicker-btn-previous"
          (click)="datepicker.moveCalendar($event, -1)"
          tabindex="-1"
          >
          <i class="fa fa-chevron-left"></i>
        </button></th>
      <th [attr.colspan]="((datepicker.monthColLimit - 2) <= 0) ? 1 : datepicker.monthColLimit - 2">
        <button
          [id]="datepicker.datepickerId + '-title'"
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm sky-datepicker-calendar-title"
          (click)="datepicker.toggleModeCalendar($event)"
          [disabled]="datepicker.datepickerMode === maxMode"
          [ngClass]="{'sky-btn-disabled': datepicker.datepickerMode === maxMode}"
          tabindex="-1"
          >
          <strong>{{title}}</strong>
        </button>
      </th>
      <th>
        <button
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm sky-datepicker-btn-next"
          (click)="datepicker.moveCalendar($event, 1)"
          tabindex="-1"
          >
          <i class="fa fa-chevron-right"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td
        *ngFor="let date of row"
        class="text-center"
        role="gridcell"
        id="{{date.uid}}">
        <button
          type="button"
          class="sky-btn sky-btn-default sky-datepicker-btn-date"
          [ngClass]="{'sky-datepicker-btn-selected': date.selected, 'sky-btn-disabled': date.disabled, 'sky-btn-active': datepicker.isActive(date)}"
          [disabled]="date.disabled"
          (click)="datepicker.selectCalendar($event, date.date)"
          tabindex="-1"
          >
          <span [ngClass]="{'sky-datepicker-current': date.current}">{{date.label}}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
