<table *ngIf="datepicker.datepickerMode==='year'" role="grid">
  <thead>
    <tr>
      <th>
        <button
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm"
          (click)="datepicker.move(-1)"
          tabindex="-1"
          >
          <i class="fa fa-chevron-left"></i>
        </button>
      </th>
      <th [attr.colspan]="((datepicker.yearColLimit - 2) <= 0) ? 1 : datepicker.yearColLimit - 2">
        <button
          [id]="datepicker.uniqueId + '-title'"
          role="heading"
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm"
          (click)="datepicker.toggleMode()"
          [disabled]="datepicker.datepickerMode === datepicker.maxMode"
          [ngClass]="{'sky-btn-disabled': datepicker.datepickerMode === datepicker.maxMode}"
          tabindex="-1"
          style="width:100%;"
          >
          <strong>{{title}}</strong>
        </button>
      </th>
      <th>
        <button
          type="button"
          class="sky-btn sky-btn-default sky-btn-sm"
          (click)="datepicker.move(1)"
          tabindex="-1"
          >
          <i class="fa fa-chevron-right"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td
        *ngFor="let date of row"
        class="sky-datepicker-row"
        role="gridcell"
        >
        <button
          type="button"
          style="min-width:100%;"
          class="sky-btn sky-btn-default"
          [ngClass]="{'sky-datepicker-btn-selected': date.selected, 'sky-btn-disabled': date.disabled, 'sky-datepicker-btn-active': datepicker.isActive(date)}"
          [disabled]="date.disabled"
          (click)="datepicker.select(date.date)"
          tabindex="-1"
          >
          <span
            [ngClass]="{'sky-datepicker-current': date.current }">{{date.label}}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
