<sky-demo-page pageTitle="Alert">
  <sky-demo-page-summary>
    The alert component displays a SKY UX-themed alert. It includes an option to let
    users dismiss the alert with a close button.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="alertType"
        defaultValue="warning"
        isOptional="true"
    >
      Specifies a style for the alert. The valid options are <stache-code>success</stache-code>,
      <stache-code>info</stache-code>, <stache-code>warning</stache-code>, and <stache-code>danger</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="closeable"
        defaultValue="false"
        isOptional="true"
    >
      Specifies a Boolean value to indicate whether users can dismiss the alert.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="closed"
        defaultValue="false"
        isOptional="true"
    >
      For alerts that are closeable, indicates whether the alert is closed.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Events">
    <sky-demo-page-property
        propertyName="closedChange"
    >
      Fires when the user closes the alert.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-alert-demo></sky-alert-demo>
    <sky-demo-page-code demoName="Alert"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
