@import '../../scss/mixins';

.sky-demo-page-code {
  margin: $sky-margin 0;
}

.sky-demo-page-code-sample {
  border: solid 1px $sky-color-gray-lighter;
  border-top: none;
  padding: $sky-padding;

  pre {
    margin: 0;
    padding: 0;
  }

  code {
    color: #000;
    background-color: transparent;
  }
}
