@import "../../scss/mixins";

.sky-dropdown-button-type-tab {
  @include sky-btn-tab;
  @include sky-btn-tab-selected;
}

.sky-dropdown-button-type-context-menu {
  border-radius: 50%;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
}

.sky-dropdown-caret {
  margin-left: $sky-margin;
}

.sky-dropdown-menu {
  background-color: #fff;
  display: none;
  position: absolute;
  @include sky-shadow;
  z-index: $sky-dropdown-z-index;

  &.sky-dropdown-open {
    display: block;
  }
}
