<div class="sky-dropdown">
  <button
    type="button"
    class="sky-btn sky-dropdown-button"
    [ngClass]="[
      'sky-dropdown-button-type-' + buttonType,
      'sky-btn-' + buttonStyle
    ]"
    [attr.aria-label]="label"
    [attr.title]="title"
    (click)="onButtonClick()"
    (focus)="onButtonFocus()"
    #dropdownButton>

    <div [ngSwitch]="buttonType">
      <ng-template ngSwitchCase="context-menu">
        <i class="fa fa-ellipsis-h"></i>
      </ng-template>

      <ng-template ngSwitchDefault>
        <div
          class="sky-dropdown-button-container"
          *ngIf="buttonType === 'select' || buttonType === 'tab' || !buttonType">
          <div class="sky-dropdown-button-content-container">
            <ng-content
              select="sky-dropdown-button">
            </ng-content>
          </div>
          <div class="sky-dropdown-button-icon-container">
            <i class="fa fa-caret-down sky-dropdown-caret"></i>
          </div>
        </div>
        <div
          *ngIf="buttonType !== 'select' && buttonType !== 'tab' && buttonType">
          <i
            class="fa fa-lg"
            [ngClass]="['fa-' + buttonType]"></i>
        </div>
      </ng-template>
    </div>
  </button>
  <div
    class="sky-dropdown-menu"
    (click)="onMenuClick()">
    <ng-content
      select="sky-dropdown-menu">
    </ng-content>
  </div>
</div>
