@import "../../scss/mixins";

.sky-dropdown-button-type-tab {
  @include sky-btn-tab;
  @include sky-btn-tab-selected;
  max-width: 100%;
}

.sky-dropdown-button-type-context-menu {
  border-radius: 50%;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
}

.sky-dropdown-caret {
  margin-left: $sky-margin;
}

.sky-dropdown-menu {
  background-color: #fff;
  display: none;
  position: fixed;
  @include sky-shadow;
  z-index: $sky-dropdown-z-index;

  &.sky-dropdown-open {
    display: block;
  }
}

.sky-dropdown-button-container {
  display: flex;
}

.sky-dropdown-button-content-container {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sky-dropdown-button-icon-container {
  flex-grow: 1;
}

.sky-dropdown-menu {
  /deep/ button {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
