<div class="sky-dropdown">
  <button
    aria-haspopup="true"
    class="sky-btn sky-dropdown-button"
    type="button"
    [attr.aria-expanded]="isOpen"
    [attr.aria-controls]="menuId"
    [attr.aria-label]="label"
    [attr.title]="title"
    [disabled]="disabled"
    [ngClass]="[
      'sky-dropdown-button-type-' + buttonType,
      'sky-btn-' + buttonStyle
    ]"
    [skyPopover]="popover"
    [skyPopoverTrigger]="getPopoverTriggerType()"
    [skyPopoverAlignment]="alignment"
    skyPopoverPlacement="below"
    #triggerButton>

    <div [ngSwitch]="buttonType">
      <ng-template ngSwitchCase="context-menu">
        <sky-icon icon="ellipsis-h"></sky-icon>
      </ng-template>

      <ng-template ngSwitchDefault>
        <div
          class="sky-dropdown-button-container"
          *ngIf="buttonType === 'select' || buttonType === 'tab' || !buttonType">
          <div class="sky-dropdown-button-content-container">
            <ng-content
              select="sky-dropdown-button">
            </ng-content>
          </div>
          <div class="sky-dropdown-button-icon-container">
            <sky-icon
              icon="caret-down"
              class="sky-dropdown-caret"
            >
          </sky-icon>
          </div>
        </div>
        <div
          *ngIf="buttonType !== 'select' && buttonType !== 'tab' && buttonType">
          <sky-icon [icon]="buttonType" size="lg"></sky-icon>
        </div>
      </ng-template>
    </div>
  </button>
  <sky-popover
    placement="below"
    [alignment]="alignment"
    [dismissOnBlur]="dismissOnBlur"
    (popoverOpened)="onPopoverOpened()"
    (popoverClosed)="onPopoverClosed()"
    [@.disabled]="true"
    #popover>
    <ng-content
      select="sky-dropdown-menu">
    </ng-content>
  </sky-popover>
</div>
