<sky-demo-page pageTitle="Modal">
  <sky-demo-page-summary>
    <p>The modal directive and service allow you to launch modals in a consistent way in SKY UX applications. The <stache-code>SkyModalService</stache-code> provider lauches the modals, while the <stache-code>sky-modal</stache-code> directive provides a common look-and-feel for modal content. Within the <stache-code>sky-modal</stache-code> directive, you have options to display a common modal header, specify body content, and display a common modal footer and buttons. The <stache-code>SkyModalInstance</stache-code> class allows you to close the modal and return data from the launched modal. For information about how to test modals in SKY UX, see <a routerLink="/learn/get-started/advanced/unit-test-modals">write unit tests for modals</a>.</p>
    <sky-alert alertType="info">Keep in mind that modals are not child components. Any component in a SPA can use <stache-code>SkyModalService</stache-code> to launch a modal, but the modal is launched independently through the service.</sky-alert>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Modal service methods">
    <sky-demo-page-property
        propertyName="open(component, config?)"
    >
      Opens a modal using the specified component. The optional <stache-code>config</stache-code> parameter is an object literal to be passed to the component's constructor. This method returns the modal instance.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal service config properties">
    <sky-demo-page-property
        propertyName="fullPage"
    >
      A Boolean property of <stache-code>config</stache-code> with a default of false. When set to true, the modal will become full screen.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="tiledBody"
        defaultValue="false"
        isOptional="true"
    >
      Indicates whether the modal uses tiles. When set to true, the modal's background switches to <stache-code>$sky-background-color-neutral-light</stache-code> and tile headings are styled as subsection headings.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="providers"
    >
      A array property of <stache-code>providers</stache-code> This can be used to pass context values from the component launching the modal to the modal component.

    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="size"
        defaultValue="medium"
        isOptional="true"
    >
      Specifies a size for the modal. The valid options are <stache-code>small</stache-code>,
      <stache-code>medium</stache-code>, and <stache-code>large</stache-code>.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="ariaLabelledBy"
        isOptional="true"
    >
      Sets the <stache-code>aria-labelledby</stache-code> attribute for the modal dialog for accessibility support. The value should be an ID (without the leading <stache-code>#</stache-code>) pointing to the element that labels your modal. Typically, this will be a header element. If not provided, this will default to the content of the <stache-code>sky-modal-header</stache-code> component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaDescribedBy"
      isOptional="true"
    >
      Sets the <stache-code>aria-describedby</stache-code> attribute for the modal dialog for accessibility support. The value should be an id (without the leading <stache-code>#</stache-code>) pointing to the element that describes your modal. Typically, this will be the text on your modal, but does not include something the user would interact with, like buttons or a form. If not provided, this will default to the content of the <stache-code>sky-modal-content</stache-code> component.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="helpKey"
      isOptional="true">
      Specifies a <stache-code>helpKey</stache-code> string. This property dispays the <i class="fa fa-question-circle" aria-hidden="true"></i> button in the modal header. When users click this button, the <stache-code>helpOpened</stache-code> event broadcasts the helpKey.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal component properties">
    <sky-demo-page-property
        propertyName="sky-modal-header"
    >
      Specifies a header for the modal.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="sky-modal-content"
    >
      Specifies content to display in the modal's body.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="sky-modal-footer"
    >
      Specifies content to display in the modal's footer.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal instance properties">
    <sky-demo-page-property
      propertyName="save(result?)">
      Closes the modal instance with <stache-code>reason=save</stache-code>. The optional <stache-code>result</stache-code> parameter specifies an object that will be emitted to subscribers of the <stache-code>closed</stache-code> event of the modal instance. The <stache-code>SkyModalInstance</stache-code> provider can be injected into a component's constructor so that this <stache-code>save</stache-code> function can be called from a button in the <stache-code>sky-modal-footer</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="cancel(result?)">
      Closes the modal instance with <stache-code>reason=cancel</stache-code>. The optional <stache-code>result</stache-code> parameter specifies an object that will be emitted to subscribers of the <stache-code>closed</stache-code> event of the modal instance. The <stache-code>SkyModalInstance</stache-code> provider can be injected into a component's constructor so that this <stache-code>close</stache-code> function can be called from a button in the <stache-code>sky-modal-footer</stache-code>.
    </sky-demo-page-property>
     <sky-demo-page-property
      propertyName="close(result?, reason?)">
      Closes the modal instance. The optional <stache-code>result</stache-code> parameter specifies an object that will be emitted to subscribers of the <stache-code>closed</stache-code> event of the modal instance. The optional <stache-code>reason</stache-code> parameter specifies a string indicatinng the reason for the modal closing. The <stache-code>SkyModalInstance</stache-code> provider can be injected into a component's constructor so that this <stache-code>close</stache-code> function can be called from a button in the <stache-code>sky-modal-footer</stache-code>.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="openHelp(helpKey?)">
      Triggers the <stache-code>helpOpened</stache-code> event. The optional <stache-code>helpKey</stache-code> parameter specifies a string to emit to subscribers of the modal instance's <stache-code>helpOpened</stache-code> event. You can inject the <stache-code>SkyModalInstance</stache-code> provider into a component's constructor to call the <stache-code>openHelp</stache-code> function in the modal template.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal instance events">
    <sky-demo-page-property
      propertyName="closed">
      An event that is emitted by the modal instance when it is closed. It emits a <stache-code>SkyCloseModalArgs</stache-code> object that has a <stache-code>data</stache-code> property with data passed from the user on close or save and a <stache-code>reason</stache-code> property which indicates whether the modal was saved or closed without saving.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="helpOpened">
      Emitted by the modal instance when users click the <i class="fa fa-question-circle" aria-hidden="true"></i> button. When a <stache-code>helpKey</stache-code> is specified, it gets broadcast with the <stache-code>helpOpened</stache-code> event.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-modal-demo></sky-modal-demo>
    <sky-demo-page-code demoName="Modal"></sky-demo-page-code>
  </sky-demo-page-example>

  <sky-demo-page-content sectionHeading="Accessibility">
    <p>Follow these guidelines to ensure that people can use modals with assistive technology or keyboards.</p>
    <ul>
      <li>When a modal opens, focus should be on the first focusable item in the modal. If the modal does not include focusable items, then focus should be on the modal container element.</li>
      <li>While a modal is open, focus should remain on elements in the modal when using Tab key to navigate. Focus should not move back to the initiating page behind the modal. At the end of the modal, the Tab key should return focus to the first focusable item in the modal. Conversely, at the top of the modal, the Shift+Tab keys should switch focus to the last focusable item in the modal. </li>
      <li>When a modal closes, focus should return to the element that had focus before the modal opened. Usually this is the element that opened the modal.</li>
    </ul>
  </sky-demo-page-content>
	
	<sky-demo-page-content sectionHeading="UX guidelines">
  	<div class="sky-subsection-heading">Modal</div>
			<p>A modal dialog is appropriate for forms that meet any of the following criteria:</p>
			<ul>
				<li>The task is functionally modal, and users must finish it before doing anything else.</li>
				<li>Displaying the form inline would lead to substantial content shifting or require users to scroll to complete the form.</li>
				<li>The form adds records from a paginated list or an infinite scroll list.</li>
			</ul>
		<div class="sky-subsection-heading">Full-page modal</div>
			<p>A full-page modal is appropriate for forms that meet the following criteria:</p>
			<ul>
				<li>The task is functionally modal, and users must finish it before doing anything else.</li>
				<li>Users usually perform the task in a large viewport, and a full-page modal can optimize the use of space.</li>
				<li>The context of the task is self-contained.</li>
				<li>The form displays ancillary information or previews such as running totals or an email being constructed.</li>
				<li>The form supports a complex task for a list of objects such as filling out report cards for a class.</li>
				<li>The task includes subtasks that need to be completed in context.</li>
			</ul>
  </sky-demo-page-content>

</sky-demo-page>
