<sky-demo-page pageTitle="Modal">
  <sky-demo-page-summary>
    <p>The modal directive and service allow you to launch modals in a consistent way in SKY UX applications. The <code>SkyModalService</code> provider lauches the modals, while the <code>sky-modal</code> directive provides a common look-and-feel for modal content. Within the <code>sky-modal</code> directive, you have options to display a common modal header, specify the body content, and display a common modal footer and buttons. The <code>SkyModalInstance</code> class allows you to close the modal and return data from the launched modal.</p>
    <sky-alert alertType="info">For information about how to test modals in SKY UX, see <a routerLink="/learn/get-started/8.-unit-test-modals">write unit tests for modals</a>.</sky-alert>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Modal service methods">
    <sky-demo-page-property
        propertyName="open(component, config?)"
    >
      Opens a modal using the specified component.  The optional <code>config</code> parameter is an object literal to be passed to the component's constructor.This method returns the modal instance.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal service config properties">
    <sky-demo-page-property
        propertyName="fullPage?"
    >
      A Boolean property of <code>config</code> with a default of false. When set to true, the modal will become full screen.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="tiledBody?"
        defaultValue="false"
        isOptional="true"
    >
      When set to true, the modal will be styled for use with sky-tile sections.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="providers?"
    >
      A array property of <code>providers</code> This can be used to pass context values from the component launching the modal to the modal component.

    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="size?"
        defaultValue="medium"
        isOptional="true"
    >
      Specifies a size for the modal. The valid options are <code>small</code>,
      <code>medium</code>, and <code>large</code>.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="ariaLabelledBy?"
        isOptional="true"
    >
      Sets the <code>aria-labelledby</code> attribute for the modal dialog for accessibility support. The value should be an id (without the leading <code>#</code>) pointing to the element that labels your modal. Typically, this will be a header element. If not provided, this will default to the content of the <code>sky-modal-header</code> component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="ariaDescribedBy?"
      isOptional="true"
    >
      Sets the <code>aria-describedby</code> attribute for the modal dialog for accessibility support.  The value should be an id (without the leading <code>#</code>) pointing to the element that describes your modal. Typically, this will be the text on your modal, but does not include something the user would interact with, like buttons or a form. If not provided, this will default to the content of the <code>sky-modal-content</code> component.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal component properties">
    <sky-demo-page-property
        propertyName="sky-modal-header"
    >
      Specifies a header for the modal.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="sky-modal-content"
    >
      Specifies content to display in the modal's body.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="sky-modal-footer"
    >
      Specifies content to display in the modal's footer.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal instance properties">
    <sky-demo-page-property
      propertyName="save(result?)">
      Closes the modal instance with <code>reason=save</code>. The optional <code>result</code> parameter specifies an object that will be emitted to subscribers of the <code>closed</code> event of the modal instance. The <code>SkyModalInstance</code> provider can be injected into a component's constructor so that this <code>save</code> function can be called from a button in the <code>sky-modal-footer</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="cancel(result?)">
      Closes the modal instance with <code>reason=cancel</code>. The optional <code>result</code> parameter specifies an object that will be emitted to subscribers of the <code>closed</code> event of the modal instance. The <code>SkyModalInstance</code> provider can be injected into a component's constructor so that this <code>close</code> function can be called from a button in the <code>sky-modal-footer</code>.
    </sky-demo-page-property>
     <sky-demo-page-property
      propertyName="close(result?, reason?)">
      Closes the modal instance. The optional <code>result</code> parameter specifies an object that will be emitted to subscribers of the <code>closed</code> event of the modal instance. The optional <code>reason</code> parameter specifies a string indicatinng the reason for the modal closing. The <code>SkyModalInstance</code> provider can be injected into a component's constructor so that this <code>close</code> function can be called from a button in the <code>sky-modal-footer</code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Modal instance events">
    <sky-demo-page-property
      propertyName="closed">
      An event that is emitted by the modal instance when it is closed. It emits a <code>SkyCloseModalArgs</code> object that has a <code>data</code> property with data passed from the user on close or save and a <code>reason</code> property which indicates whether the modal was saved or closed without saving.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-modal-demo></sky-modal-demo>
    <sky-demo-page-code demoName="Modal"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
