<button type="button" class="sky-btn sky-btn-primary" (click)="openModal('defaultModal')">
  Open modal
</button>

<button type="button" class="sky-btn sky-btn-primary" (click)="openModal('smallModal')">
  Open small modal
</button>

<button type="button" class="sky-btn sky-btn-primary" (click)="openModal('largeModal')">
  Open large modal
</button>

<button type="button" class="sky-btn sky-btn-primary" (click)="openModal('fullScreenModal')">
 Open full-screen modal
</button>

<button type="button" class="sky-btn sky-btn-primary" (click)="openModal('tiledModal')">
  Open tiled modal
</button>

<button type="button" class="sky-btn sky-btn-primary" (click)="openModal('withHelpHeader')">
  Open modal with help header
</button>
