<sky-modal [tiledBody]="true">
  <sky-modal-header>
    {{title}}
  </sky-modal-header>
  <sky-modal-content>
    <sky-tile>
      <sky-tile-title>Section 1</sky-tile-title>
      <sky-tile-content>
        <sky-tile-content-section>
          Content 1
        </sky-tile-content-section>
      </sky-tile-content>
    </sky-tile>
    <sky-tile>
      <sky-tile-title>Section 2</sky-tile-title>
      <sky-tile-content>
        <sky-tile-content-section>
          Content 2
        </sky-tile-content-section>
      </sky-tile-content>
    </sky-tile>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="instance.save('Something cool')"
    >
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
