@import "../../scss/variables";
@import "../../scss/mixins";

.sky-file-item {
  border: solid 1px $sky-color-gray-lighter;
  background-color: $sky-color-gray-lightest;
  padding: $sky-padding;
}

.sky-file-item-name-container {
  flex-grow: 1;
}

.sky-file-item-name {
  @include sky-ellipsis();
}

.sky-file-item-title {
  margin-bottom: $sky-margin;
  display: flex;
}

.sky-file-item-preview-img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 5px #666;
}

.sky-file-item-preview-other {
  color: $sky-color-gray-light;
  font-size: 100px;
  line-height: 1;
  text-align: center;
  width: 100%;
}
