<div class="sky-file-drop-row">
    <div class="sky-file-drop-col">
      <button
        type="button"
        class="sky-file-drop sky-file-drop-target"
        (click)="dropClicked()"
        (dragover)="fileDragOver($event)"
        (dragenter)="fileDragEnter($event)"
        (dragleave)="fileDragLeave($event)"
        (drop)="fileDrop($event)"
        [ngClass]="{'sky-file-drop-accept': acceptedOver, 'sky-file-drop-reject': rejectedOver}"
        [attr.aria-label]="'file_upload_drag_or_click' | skyResources">

          <input
          tabindex="-1"
          aria-hidden="true"
          type="file"
          class="sky-file-input-hidden"
          [attr.multiple]="multiple ? multiple: null"
          [attr.accept]="acceptedTypes ? acceptedTypes: null"
          (change)="fileChangeEvent($event)"
          #fileInput/>
          <div class="sky-file-drop-contents" *ngIf="customEl.children.length === 0">
            <div class="sky-file-drop-contents-not-over">
              <h4>{{'file_upload_drag_file_here' | skyResources}}</h4>
              <h5>{{'file_upload_or_click_to_browse' | skyResources}}</h5>
              <i class="fa fa-cloud-upload sky-file-upload-icon"></i>
            </div>
            <!-- This will appear when file is dragged over and is valid -->
            <div class="sky-file-drop-contents-accept" >
              <h4>{{'file_upload_drop_files_here' | skyResources}}</h4>
              <i class="fa fa-bullseye sky-file-upload-icon"></i>
            </div>
            <!-- This will appear when file is dragged over and is invalid -->
            <div class="sky-file-drop-contents-reject" >
              <h4>{{'file_upload_invalid_file' | skyResources}}</h4>
              <i class="fa fa-times-circle sky-file-upload-icon"></i>
            </div>
          </div>
          <div class="sky-file-drop-contents-custom" #customEl>
            <ng-content></ng-content>
          </div>
      </button>
    </div>
    <div class="sky-file-drop-col" *ngIf="allowLinks">
        <div class="sky-file-drop-contents">
            <div class="sky-file-drop-link">
                <h4 class="sky-file-drop-link-header">{{'file_upload_paste_link' | skyResources}}</h4>
                <div class="sky-form-group">
                    <input
                      type="text"
                      class="sky-form-control"
                      [attr.placeholder]="'file_upload_link_placeholder' | skyResources"
                      [(ngModel)]="linkUrl"
                      (keyup)="addLinkEnter($event)"
                      [attr.aria-label]="'file_upload_link_input' | skyResources"
                      />
                </div>
                <button type="button" class="sky-btn sky-btn-primary" [disabled]="!linkUrl" (click)="addLink($event)">
                    {{'file_upload_paste_link_done' | skyResources}}
                </button>
            </div>
        </div>
    </div>
  </div>
