<div class="sky-file-drop-row">
    <div class="sky-file-drop-col">
      <button
        type="button"
        class="sky-file-drop sky-file-drop-target"
        (click)="fileInput.click()">
         <div class="sky-file-drop-contents">
           <input
            tabindex="-1"
            aria-hidden="true"
            type="file"
            class="sky-file-input-hidden"
            [attr.multiple]="multiple ? multiple: null"
            (change)="fileChangeEvent($event)"
            #fileInput/>
            <div class="sky-file-drop-contents-not-over">
              <h4>Drag a file here</h4>
              <h5>or click to browse</h5>
              <i class="fa fa-cloud-upload sky-file-upload-icon"></i>
            </div>
            <!-- This will appear when file is dragged over and is valid -->
            <div class="sky-file-drop-contents-accept" style="display: none">
              <h4>Drop files here</h4>
              <i class="fa fa-bullseye sky-file-upload-icon"></i>
            </div>
            <!-- This will appear when file is dragged over and is invalid -->
            <div class="sky-file-drop-contents-reject" style="display: none">
              <h4>This file type is invalid</h4>
              <i class="fa fa-times-circle sky-file-upload-icon"></i>
            </div>
        </div>
      </button>
    </div>
  </div>
