<div class="sky-file-item">
    <div class="sky-file-item-title">
        <div class="sky-file-item-name-container">
            <div class="sky-file-item-name">
                <strong *ngIf="isFile()">{{fileItem.file.name || fileItem.url}}</strong>
                <strong *ngIf="!isFile()">{{fileItem.url}}</strong>
            </div>
            <div class="sky-file-item-size" *ngIf="isFile()">
                ({{fileItem.file.size | skyFileSize}})
            </div>
        </div>
        <div class="sky-pull-right">
          <button type="button" class="sky-btn sky-btn-default sky-file-item-btn-delete" [attr.aria-label]="'file_item_delete' | skyResources" (click)="itemDelete()">
              <i class="fa fa-lg fa-trash-o"></i>
          </button>
        </div>
    </div>
    <div class="sky-file-item-content">
        <div class="sky-file-item-preview">
            <div *ngIf="isImg()" class="sky-file-item-preview-img-container">
              <img class="sky-file-item-preview-img" [src]="fileItem.url" />
            </div>
            <div *ngIf="!isImg()" class="sky-file-item-preview-other">
                <i class="fa" [ngClass]="otherCls"></i>
            </div>
        </div>
        <div class="sky-file-item-content-custom">
          <ng-content></ng-content>
        </div>
    </div>
</div>
