<div
  class="sky-file-drop-row" [ngClass]="{ 'sky-file-drop-allow-links': allowLinks }">
  <div
    class="sky-file-drop-col"
    [ngClass]="{ 'sky-file-drop-accept': acceptedOver, 'sky-file-drop-reject': rejectedOver }">

    <button
      class="sky-file-drop sky-file-drop-target"
      type="button"
      (click)="dropClicked()"
      (dragover)="fileDragOver($event)"
      (dragenter)="fileDragEnter($event)"
      (dragleave)="fileDragLeave($event)"
      (drop)="fileDrop($event)"
      [attr.aria-label]="'file_upload_drag_or_click' | skyResources">
    </button>

    <input
      tabindex="-1"
      aria-hidden="true"
      type="file"
      class="sky-file-input-hidden"
      [attr.multiple]="multiple ? multiple: null"
      [attr.accept]="acceptedTypes ? acceptedTypes: null"
      (change)="fileChangeEvent($event)"
      #fileInput>

    <div class="sky-file-drop-contents" *ngIf="customEl.children.length === 0">
      <div class="sky-file-drop-contents-not-over">
        <div class="sky-file-drop-text-header">
          {{ 'file_upload_drag_file_here' | skyResources }}
        </div>
        <div class="sky-file-drop-text">
          {{ 'file_upload_or_click_to_browse' | skyResources }}
        </div>
        <i class="fa fa-cloud-upload sky-file-upload-icon"></i>
      </div>

      <!-- This will appear when file is dragged over and is valid -->
      <div class="sky-file-drop-contents-accept" >
        <div class="sky-file-drop-text-header">
          {{ 'file_upload_drop_files_here' | skyResources }}
        </div>
        <i class="fa fa-bullseye sky-file-upload-icon"></i>
      </div>

      <!-- This will appear when file is dragged over and is invalid -->
      <div class="sky-file-drop-contents-reject" >
        <div class="sky-file-drop-text-header">
          {{ 'file_upload_invalid_file' | skyResources }}
        </div>
        <i class="fa fa-times-circle sky-file-upload-icon"></i>
      </div>
    </div>

    <div class="sky-file-drop-contents-custom" #customEl>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="sky-file-drop-col" *ngIf="allowLinks">
    <div class="sky-file-drop-contents">
      <div class="sky-file-drop-link">
        <div class="sky-file-drop-link-header">
          <div class="sky-file-drop-text-header">
            {{ 'file_upload_paste_link' | skyResources }}
          </div>
        </div>
        <div class="sky-form-group">
          <input
            type="text"
            class="sky-form-control"
            [attr.placeholder]="'file_upload_link_placeholder' | skyResources"
            [(ngModel)]="linkUrl"
            (keyup)="addLinkEnter($event)"
            [attr.aria-label]="'file_upload_link_input' | skyResources">
        </div>
        <button
          type="button"
          class="sky-btn sky-btn-primary"
          [disabled]="!linkUrl"
          (click)="addLink($event)">
          {{ 'file_upload_paste_link_done' | skyResources }}
        </button>
      </div>
    </div>
  </div>
</div>
