@import "../../scss/variables";
@import "../../scss/mixins";

.sky-file-drop-row {
    margin-left: -$sky-margin-half;
    margin-right: -$sky-margin-half;
}

.sky-file-drop-col {
    margin-bottom: $sky-margin;
    padding-left: $sky-margin-half;
    padding-right: $sky-margin-half;
}

.sky-file-drop-contents,
.sky-file-item {
    border: solid 1px $sky-color-gray-lighter;
    background-color: $sky-color-gray-lightest;
    padding: $sky-padding;
}

.sky-file-drop-contents {
    color: $sky-color-gray;
    cursor: pointer;
    display: table;
    height: 120px;
    width: 100%;
    text-align: center;

    .sky-file-input-hidden {
      visibility: hidden;
      height: 0;
      width: 0;
      overflow:
      hidden;
      border: none;
      padding: 0;
      margin: 0;
    }

    h4,
    h5 {
        font-style: italic;
    }

    h4 {
        font-size: $sky-font-size-xl;
        margin: 0;
    }

    h5 {
        font-size: $sky-font-size-lg;
        margin-top: $sky-margin-half;
    }

    .sky-file-drop-link-header {
        margin-bottom: $sky-margin-half;
    }
}

.sky-file-drop-noclick {
    .sky-file-drop-contents {
        cursor: default;

        h5 {
            display: none;
        }
    }
}

.sky-file-drop-contents-not-over,
.sky-file-drop-contents-accept,
.sky-file-drop-contents-reject,
.sky-file-drop-link {
    display: table-cell;
    vertical-align: middle;
}

.sky-file-drop-accept,
.sky-file-drop-reject {
    .sky-file-drop-contents {
        border-style: dashed;
        border-width: 1px;
    }

    .sky-file-drop-contents-not-over {
        display: none;
    }
}

.sky-file-drop-accept {
    .sky-file-drop-contents {
        border-color: $sky-color-green;
        color: $sky-color-green;
    }
}

.sky-file-drop-reject {
    .sky-file-drop-contents {
        border-color: $sky-color-red;
        color: $sky-color-red;
    }
}

.sky-file-drop-contents-accept,
.sky-file-drop-contents-reject {
    display: none;
}

.sky-file-drop-accept {
    .sky-file-drop-contents-accept {
        display: table-cell;
    }
}

.sky-file-drop-reject {
    .sky-file-drop-contents-reject {
        display: table-cell;
    }
}

.sky-file-upload-icon {
    display: block;
    font-size: 40px;
    margin-top: $sky-margin;
}

.sky-file-drop-link {
    cursor: default;
}

.sky-file-item-name {
    @include sky-ellipsis();
}

.sky-file-item-title {
    margin-bottom: $sky-margin;
}

.sky-file-item-preview-img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 5px #666;
}

.sky-file-item-preview-other {
    color: $sky-color-gray-light;
    font-size: 100px;
    line-height: 1;
    text-align: center;
    width: 100%;
}

.sky-file-drop {
    background-color: transparent;
    border: none;
    display: block;
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
}
