<section class="sky-demo-page-code">
  <div class="sky-demo-page-code-header">
    <stache-page-anchor>
      Code
    </stache-page-anchor>
    <div class="sky-demo-page-code-plunker">
      <form ngNoForm action="https://plnkr.co/edit/?p=preview" method="POST" target="_blank">
        <input
          type="hidden"
          *ngFor="let plunkerFile of plunkerFiles;"
          [name]="'files[' + plunkerFile.name + ']'"
          [value]="plunkerFile.content"
        >
        <button type="submit" class="sky-btn sky-btn-primary">
          <i class="fa fa-pencil"></i>
          Edit in Plunker
        </button>
      </form>
    </div>
  </div>
  <sky-tabset
    [active]="0">
    <sky-tab
      *ngFor="let codeFile of codeFilesForBinding"
      [tabHeading]="codeFile.name">
      <stache-code-block
        [code]="codeFile.codeImports"
        [languageType]="codeFile.language">
      </stache-code-block>
    </sky-tab>
  </sky-tabset>
</section>
