@import '../../../scss/mixins';

.sky-demo-page-code {
  margin: $sky-margin 0;
}

.sky-demo-page-code-sample {
  @include sky-border(light, top, bottom, left, right);
  border-top: none;
  overflow: auto;
  padding: $sky-padding;

  pre {
    margin: 0;
    padding: 0;
  }

  code {
    background-color: transparent;
    color: #000;
    line-height: 1.6em;
    padding: 0;
  }
}

.sky-demo-page-code-plunker {
  text-align: right;
  margin-bottom: 15px;
}

// This can be removed after the next Stache2 release:
// https://github.com/blackbaud/stache2/pull/314
/deep/
.stache-table-of-contents {
  .stache-nav-list {
    list-style-type: decimal !important;
    margin-left: 15px !important;
  }
}
