@import '../../../scss/mixins';

:host {
  flex: 0 0 33.33333%;
  padding: $sky-padding;
}

@media (max-width: $sky-screen-md-max) {
  :host {
    flex-basis: 50%;
  }
}

@media (max-width: $sky-screen-xs-max) {
  :host {
    flex-basis: 100%;
  }
}

.sky-demo-button {
  color: #000;
  display: block;
  text-decoration: none;
  border: solid 1px $sky-color-gray-lightest;

  h3 {
    background-color: scale-color($color: $sky-color-gray-lightest, $lightness: 50%);
    border-bottom: solid 1px $sky-color-gray-lightest;
    font-size: $sky-font-size-lg;
    margin: 0;
    padding: $sky-padding;
  }

  p {
    margin: $sky-margin-double;
  }
}

@media (min-width: $sky-screen-sm-min) {
  .sky-demo-button {
    min-height: 200px;
  }
}

.sky-demo-button-content {
  display: flex;
}

.sky-demo-button-icon {
  color: $sky-color-gray;
  display: block;
  flex-grow: 0;
  padding: $sky-padding-double;
  padding-right: 0;
}
