@import '~@blackbaud/skyux-design-tokens/scss/mixins';

.sky-demo-page-code {
  margin: 10px 0;
}

.sky-demo-page-code-sample {
  @include sky-border(light, top, bottom, left, right);
  border-top: none;
  overflow: auto;
  padding: 10px;

  pre {
    margin: 0;
    padding: 0;
  }

  code {
    background-color: transparent;
    color: #000;
    line-height: 1.6em;
    padding: 0;
  }
}

.sky-demo-page-code-header {
  position: relative;
}

.sky-demo-page-code-plunker {
  position: static;
  text-align: right;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    position: absolute;
    right: 0;
    bottom: 12px;
    margin-bottom: 0;
  }
}

// This can be removed after the next Stache2 release:
// https://github.com/blackbaud/stache2/pull/314
/deep/
.stache-table-of-contents {
  .stache-nav-list {
    list-style-type: decimal !important;
    margin-left: 15px !important;
  }
}
