@import '~@blackbaud/skyux-design-tokens/scss/mixins';

:host {
  flex: 0 0 33.33333%;
  padding: 10px;
}

@media (max-width: 991px) {
  :host {
    flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  :host {
    flex-basis: 100%;
  }
}

.sky-demo-button {
  color: #000;
  display: block;
  text-decoration: none;
  @include sky-border(light, top, bottom, left, right);

  h3 {
    background-color: scale-color($color: $sky-background-color-neutral-light, $lightness: 50%);
    border-bottom: solid 1px $sky-border-color-neutral-light;
    font-size: 15px;
    margin: 0;
    padding: 10px;
  }

  p {
    margin: 20px;
  }
}

@media (min-width: 768px) {
  .sky-demo-button {
    min-height: 200px;
  }
}

.sky-demo-button-content {
  display: flex;
}

.sky-demo-button-icon {
  color: $sky-text-color-deemphasized;
  display: block;
  flex-grow: 0;
  padding: 20px;
  padding-right: 0;
}
