<sky-demo-page pageTitle="Wizard">
  <sky-demo-page-summary>
    A wizard uses tabs to guide users through a set of pre-defined steps. A wizard is useful when users need to perform steps in a particular order. To display a series of tabs as a wizard, set <stache-code>tabStyle="wizard"</stache-code> on the <stache-code>sky-tabset</stache-code> component. To include buttons for users to navigate through the wizard, use the <stache-code>sky-tabset-nav-button</stache-code> component. For more information about tabs, see the <a routerLink="/components/tabs">tabs module</a>.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Wizard tabset properties">
    <sky-demo-page-property
        propertyName="tabStyle"
    >
      Specifies the behavior for a series of tabs. To display tabs as steps in a wizard, set <stache-code>tabStyle="wizard"</stache-code> on the <stache-code>sky-tabset</stache-code> component.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tabset nav button properties">
    <sky-demo-page-property
        propertyName="buttonType"
    >
      Specifies the button type for a tabset nav button. To create a <strong>Previous</strong> button, set <stache-code>buttonType="previous"</stache-code> on the <stache-code>sky-tabset-nav-button</stache-code> component. To create a <strong>Next</strong> button, set <stache-code>buttonType="next"</stache-code> on the <stache-code>sky-tabset-nav-button</stache-code> component.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="tabset"
    >
      Specifies the <stache-code>sky-tabset</stache-code> component that the tabset nav button controls.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-wizard-demo></sky-wizard-demo>
    <sky-demo-page-code demoName="Wizard"></sky-demo-page-code>
  </sky-demo-page-example>
    
  <sky-demo-page-content sectionHeading="UX guidelines">
  	<p>A wizard is appropriate for forms that meet the following criteria:</p>
		<ul>
			<li>The task can be divided into discrete steps.</li>
			<li>The order of the steps is important.</li>
			<li>User actions in earlier steps affect later steps.</li>
			<li>Users must complete or review the fields in every step.</li>
			<li>Users might want to save their progress so that they can leave the form and return later.</li>
		</ul>
  </sky-demo-page-content>

</sky-demo-page>
