<sky-demo-page pageTitle="Highlight">
  <sky-demo-page-summary>
    The highlight directive allows you to highlight text within DOM elements. When you set the <stache-code>skyHighlight</stache-code> attribute to the text you want to highlight, it highlights all matching text within the element.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="skyHighlight"
      defaultValue="">
      Specifies the text to highlight.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-text-highlight-demo></sky-text-highlight-demo>
    <sky-demo-page-code demoName="Highlight"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
