<sky-progress-indicator #progressIndicator>

  <sky-progress-indicator-item [itemNumber]='1' titleHtml='Do the first thing'>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item [itemNumber]='2' titleHtml='Do the second thing'>
  </sky-progress-indicator-item>

  <sky-progress-indicator-item [itemNumber]='3' titleHtml='Do the third thing'>
  </sky-progress-indicator-item>

</sky-progress-indicator>

<button type="button" class="sky-btn sky-btn-primary" id="btn-regress" (click)="regress()">Do</button>
<button type="button" class="sky-btn sky-btn-default" id="btn-progress" (click)="progress()">Undo</button>
