@import '../../scss/_mixins';

$popover-arrow-size: 20px;
$popover-border-size: 10px;
$popover-max-width: 276px;

.sky-popover-container {
  position: absolute;
  z-index: $sky-dropdown-z-index;
  min-width: $popover-max-width;
  max-width: $popover-max-width;
  padding: $popover-border-size;

  &.sky-popover-hidden {
    visibility: hidden;
    opacity: 0;
    top: 0 !important;
    left: 0 !important;
  }

  &:focus {
    outline: none;
  }
}

.sky-popover-border {
  position: relative;
  padding: $popover-border-size;
}

.sky-popover-border-x {
  position: absolute;
  top: $popover-border-size;
  left: 0;
  right: 0;
  bottom: $popover-border-size;
  border-radius: $sky-border-radius;
  overflow: hidden;
}

.sky-popover-border-y {
  position: absolute;
  bottom: 0;
  top: 0;
  right: $popover-border-size;
  left: $popover-border-size;
  border-radius: $sky-border-radius;
  overflow: hidden;
}

.sky-popover {
  @include sky-shadow;
  background-color: $sky-color-white;
  position: relative;
}

.sky-popover-header {
  padding: $sky-padding $sky-padding 0 $sky-padding;

  & + .sky-popover-body {
    padding-top: 2px;
  }
}

.sky-popover-title {
  @include sky-emphasized;
  margin: 0;
}

.sky-popover-body {
  padding: $sky-padding;
}

.sky-popover-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: $popover-border-size solid transparent;
}

.sky-popover-placement-fullscreen {
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  max-width: none;

  > .sky-popover-border > .sky-popover {
    position: fixed;
    top: $sky-padding;
    left: $sky-padding;
    right: $sky-padding;
    bottom: $sky-padding;
    overflow: hidden;
    border-radius: $sky-border-radius;
    display: flex;
    flex-direction: column;
    @include sky-border(dark, top, bottom, left, right);
    @include sky-shadow();

    .sky-popover-header {
      padding: $sky-padding;
      border-bottom: 1px solid $sky-border-color-neutral-light;
    }

    .sky-popover-body {
      overflow: auto;
      position: relative;
    }
  }
}

.sky-popover-placement-above {
  .sky-popover-border-y {
    &:before {
      content: '';
      height: $popover-border-size;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $sky-highlight-color-info;
    }
  }

  .sky-popover {
    border-radius: $sky-border-radius $sky-border-radius 0 0;
  }

  .sky-popover-arrow {
    border-bottom: 0;
    border-top-color: $sky-highlight-color-info;
    bottom: 0;
    left: 50%;
    margin-left: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-below {
  .sky-popover-border-y {
    &:before {
      content: '';
      height: $popover-border-size;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: $sky-highlight-color-info;
    }
  }

  .sky-popover {
    border-radius: 0 0 $sky-border-radius $sky-border-radius;
  }

  .sky-popover-arrow {
    border-top: 0;
    border-bottom-color: $sky-highlight-color-info;
    top: 0;
    left: 50%;
    margin-left: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-right {
  .sky-popover-border-x {
    &:before {
      content: '';
      width: $popover-border-size;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $sky-highlight-color-info;
    }
  }

  .sky-popover {
    border-radius: 0 $sky-border-radius $sky-border-radius 0;
  }

  .sky-popover-arrow {
    border-left: 0;
    border-right-color: $sky-highlight-color-info;
    left: 0;
    top: 50%;
    margin-top: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-left {
  .sky-popover-border-x {
    &:before {
      content: '';
      width: $popover-border-size;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $sky-highlight-color-info;
    }
  }

  .sky-popover {
    border-radius: $sky-border-radius 0 0 $sky-border-radius;
  }

  .sky-popover-arrow {
    border-right: 0;
    border-left-color: $sky-highlight-color-info;
    right: 0;
    top: 50%;
    margin-top: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-above,
.sky-popover-placement-below {
  &.sky-popover-alignment-left {
    padding-left: 0;
    padding-right: 20px;

    .sky-popover-border {
      padding-left: 0;
      padding-right: 20px;
    }

    .sky-popover-border-y {
      left: 0;
      right: 20px;
    }
  }

  &.sky-popover-alignment-right {
    padding-right: 0;
    padding-left: 20px;

    .sky-popover-border {
      padding-right: 0;
      padding-left: 20px;
    }

    .sky-popover-border-y {
      left: 20px;
      right: 0;
    }
  }
}

.sky-popover-placement-above,
.sky-popover-placement-below {
  &.sky-popover-alignment-left {
    .sky-popover-arrow {
      left: $popover-arrow-size * 2;
      right: auto;
    }
  }

  &.sky-popover-alignment-right {
    .sky-popover-arrow {
      left: auto;
      right: $popover-arrow-size * 2;
    }
  }
}
