<div class="sky-popover-container"
  tabindex="-1"
  [ngClass]="[
    'sky-popover-alignment-' + alignment,
    'sky-popover-placement-' + placement
  ]"
  (@popoverState.start)="onAnimationStart($event)"
  (@popoverState.done)="onAnimationDone($event)"
  [@popoverState]="animationState"
  [style.top.px]="popoverTop"
  [style.left.px]="popoverLeft"
  #popoverContainer>
  <div class="sky-popover">
    <header class="sky-popover-header" *ngIf="popoverTitle">
      <h1 class="sky-popover-title">
        {{ popoverTitle }}
      </h1>
    </header>
    <div class="sky-popover-body">
      <ng-content></ng-content>
    </div>
    <div
      class="sky-popover-arrow"
      [style.top.px]="arrowTop"
      [style.left.px]="arrowLeft"
      aria-hidden="true"
      #popoverArrow></div>
  </div>
</div>
