@import '../../scss/_mixins';

$popover-arrow-size: 20px;
$popover-border-size: 10px;
$popover-max-width: 276px;

.sky-popover-container {
  position: fixed;
  z-index: $sky-dropdown-z-index;
  min-width: $popover-max-width;
  max-width: $popover-max-width;

  &.sky-popover-hidden {
    visibility: hidden;
    opacity: 0;
    top: -9999px !important;
    left: -9999px !important;
  }

  &:focus {
    outline: none;
  }

  @media (max-width: $popover-max-width) {
    max-width: 100%;
    min-width: auto;
  }
}

.sky-popover {
  @include sky-shadow;
  background-color: $sky-color-white;
  border-radius: $sky-border-radius;
}

.sky-popover-header {
  padding: $sky-padding $sky-padding 0 $sky-padding;

  & + .sky-popover-body {
    padding-top: 2px;
  }
}

.sky-popover-title {
  @include sky-emphasized;
  margin: 0;
}

.sky-popover-body {
  padding: $sky-padding;
}

.sky-popover-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: $popover-border-size solid transparent;
}

.sky-popover-placement-fullscreen {
  background-color: rgba(0, 0, 0, 0.2);
  padding: $sky-padding !important;
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  width: 100% !important;
  max-width: none;
  max-height: 100%;
  height: auto !important;

  > .sky-popover {
    @include sky-border(dark, top, bottom, left, right);
    @include sky-shadow();
    overflow: hidden;
    max-height: 100%;
    border-radius: $sky-border-radius;
    display: flex;
    flex-direction: column;

    .sky-popover-header {
      padding: $sky-padding;
      border-bottom: 1px solid $sky-border-color-neutral-light;
    }

    .sky-popover-body {
      overflow: auto;
      position: relative;
    }
  }
}

.sky-popover-placement-above {
  padding-bottom: $popover-border-size;

  .sky-popover {
    border-bottom: $popover-border-size solid $sky-highlight-color-info;
  }

  .sky-popover-arrow {
    border-bottom: 0;
    border-top-color: $sky-highlight-color-info;
    bottom: 0;
    left: 50%;
    margin-left: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-below {
  padding-top: $popover-border-size;

  .sky-popover {
    border-top: $popover-border-size solid $sky-highlight-color-info;
  }

  .sky-popover-arrow {
    border-top: 0;
    border-bottom-color: $sky-highlight-color-info;
    top: 0;
    left: 50%;
    margin-left: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-right {
  padding-left: $popover-border-size;

  .sky-popover {
    border-left: $popover-border-size solid $sky-highlight-color-info;
  }

  .sky-popover-arrow {
    border-left: 0;
    border-right-color: $sky-highlight-color-info;
    left: 0;
    top: 50%;
    margin-top: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-left {
  padding-right: $popover-border-size;

  .sky-popover {
    border-right: $popover-border-size solid $sky-highlight-color-info;
  }

  .sky-popover-arrow {
    border-right: 0;
    border-left-color: $sky-highlight-color-info;
    right: 0;
    top: 50%;
    margin-top: -$popover-arrow-size / 2;
  }
}

.sky-popover-placement-above,
.sky-popover-placement-below {
  &.sky-popover-alignment-left {
    .sky-popover-arrow {
      left: $popover-arrow-size * 2;
      right: auto;
    }
  }

  &.sky-popover-alignment-right {
    .sky-popover-arrow {
      left: auto;
      right: $popover-arrow-size * 2;
    }
  }
}
