@import '../../scss/_variables';
@import '../../scss/_mixins';

$arrow-size: 10px;

:host {
  position: absolute;
  z-index: 9999;
  display: inline-block;

  &.hidden {
    left: -99999px !important;

    .sky-popover {
      opacity: 0;
    }
  }

  &.hidden-arrow {
    .sky-popover-arrow {
      visibility: hidden;
    }
  }

  @media (max-width: $sky-screen-xs-max) {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    padding: 10px;

    .sky-popover {
      margin: 0;
    }
  }

  @media (min-width: $sky-screen-sm-min) {
    max-width: 276px;
  }
}

.sky-popover {
  position: relative;
  background-color: $sky-color-white;
  box-shadow: 0 0 35px rgba(0,0,0,0.45);
  opacity: 1;
  transition: opacity 250ms;

  @media (min-width: $sky-screen-sm-min) {
    // max-width: 276px;
  }
}

.sky-popover-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: $arrow-size solid transparent;
}

.sky-popover-placement-top {
  border-bottom: $arrow-size solid $sky-highlight-color-info;
  margin-bottom: $arrow-size;

  .sky-popover-arrow {
    border-bottom: 0;
    border-top-color: $sky-highlight-color-info;
    bottom: ($arrow-size * 2) * -1;
    left: 50%;
    margin-left: -$arrow-size;
  }
}

.sky-popover-placement-bottom {
  border-top: $arrow-size solid $sky-highlight-color-info;
  margin-top: $arrow-size;

  .sky-popover-arrow {
    border-top: 0;
    border-bottom-color: $sky-highlight-color-info;
    top: ($arrow-size * 2) * -1;
    left: 50%;
    margin-left: -$arrow-size;
  }
}

.sky-popover-placement-right {
  border-left: $arrow-size solid $sky-highlight-color-info;
  margin-left: $arrow-size;

  .sky-popover-arrow {
    border-left: 0;
    border-right-color: $sky-highlight-color-info;
    left: ($arrow-size * 2) * -1;
    top: 50%;
    margin-top: -$arrow-size;
  }
}

.sky-popover-placement-left {
  border-right: $arrow-size solid $sky-highlight-color-info;
  margin-right: $arrow-size;

  .sky-popover-arrow {
    border-right: 0;
    border-left-color: $sky-highlight-color-info;
    right: ($arrow-size * 2) * -1;
    top: 50%;
    margin-top: -$arrow-size;
  }
}

.sky-popover-header {
  background-color: $sky-background-color-neutral-light;
  padding: $sky-tab-btn-padding-top-bottom $sky-tab-btn-padding-left-right;
}

.sky-popover-title {
  margin: 0;
  font-size: 1.1em;
}

.sky-popover-body {
  padding: $sky-tab-btn-padding-top-bottom $sky-tab-btn-padding-left-right;
}
