
<div
  class="sky-flyout"
  role="dialog"
  tabindex="-1"
  [@flyoutState]="getAnimationState()"
  [attr.aria-describedby]="ariaDescribedBy"
  [attr.aria-labelledby]="ariaLabelledBy"
>
  <div class="sky-flyout-header"></div>
  <div
    class=""
    [ngStyle]="{ zIndex: modalZIndex }"
  >

  <div class="sky-flyout-content">
    <form>
      <input type="text"/>
      <p>some text</p>
      <textarea></textarea>
      <p>some more text with a <a href="#">link</a>.</p>
      <input type="text"/>
      <p>some final text</p>
    </form>
    <ng-content select="sky-flyout-content"></ng-content>
  </div>
</div>
