<div
  class="sky-flyout sky-shadow"
  tabindex="-1"
  [attr.role]="config?.ariaRole"
  [attr.aria-describedby]="config?.ariaDescribedBy"
  [attr.aria-labelledby]="config?.ariaLabelledBy"
  [ngClass]="{ 'sky-flyout-hidden': !isOpen && !isOpening }"
  (@flyoutState.done)="animationDone($event)"
  [@flyoutState]="getAnimationState()"
  [style.width.px]="flyoutWidth">

  <button
    type="button"
    class="sky-flyout-resize-handle"
    aria-hidden="true"
    role="separator"
    tabindex="-1"
    (mousedown)="onMouseDown($event)">
  </button>

  <div class="sky-flyout-header" #flyoutHeader>
    <div class="sky-flyout-header-content"></div>
    <div class="sky-flyout-header-buttons">
      <ng-container *ngTemplateOutlet="permalinkTemplate">
      </ng-container>
      <ng-container *ngTemplateOutlet="primaryActionTemplate">
      </ng-container>
      <button
        type="button"
        class="sky-btn sky-btn-default sky-flyout-btn-close"
        (click)="close()"
        [attr.aria-label]="'flyout_close' | skyResources">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="sky-flyout-content">
    <div #target></div>
  </div>
</div>

<ng-template #permalinkTemplate>
  <ng-template [ngIf]="permalink">
    <ng-template [ngIf]="permalink.url">
      <a
        class="sky-btn sky-btn-default sky-flyout-btn-permalink"
        [href]="permalink.url"
        (click)="close()"
      >
        {{ permalinkLabel }}
      </a>
    </ng-template>
    <ng-template [ngIf]="permalink.route">
      <a
        class="sky-btn sky-btn-default sky-flyout-btn-permalink"
        [routerLink]="permalink.route.commands"
        [fragment]="permalink.route.extras?.fragment"
        [queryParams]="permalink.route.extras?.queryParams"
        [queryParamsHandling]="permalink.route.extras?.queryParamsHandling"
        (click)="close()"
      >
        {{ permalinkLabel }}
      </a>
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #primaryActionTemplate>
  <ng-template [ngIf]="primaryAction && primaryAction.callback">
    <button
      type="button"
      class="sky-btn sky-btn-default sky-flyout-btn-primary-action"
      href="#"
      (click)="invokePrimaryAction()">
        {{ primaryActionLabel }}
    </button>
  </ng-template>
</ng-template>
