
<div
  class="sky-flyout"
  role="dialog"
  tabindex="-1"
  (@flyoutState.done)="animationDone($event)"
  [@flyoutState]="getAnimationState()"
  [attr.aria-describedby]="ariaDescribedBy"
  [attr.aria-labelledby]="ariaLabelledBy"
  skyContainFocus
>
  <div class="sky-flyout-header">
    <div class="sky-flyout-header-content"></div>
    <div class="sky-flyout-header-buttons">
      <button
        type="button"
        class="sky-btn sky-btn-default sky-flyout-btn-close"
        (click)="close()"
      >
        <i class="fa fa-close"></i>
      </button>
    </div>
  </div>

  <div class="sky-flyout-content">
    <div #target></div>
  </div>
</div>
