@import '../../scss/mixins';

.sky-flyout {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  border-left: 6px solid $sky-highlight-color-info;
  z-index: $sky-flyout-z-index;

  &:focus {
    outline: none;
  }

  @media (max-width: $sky-screen-sm-min) {
    min-width: 100%;
    max-width: 100%;
  }

  &.sky-flyout-hidden {
    visibility: hidden;
  }
}

.sky-flyout-resize-handle {
  height: 100%;
  width: 14px;
  position: absolute;
  left: -10px;
  cursor: ew-resize;
  padding: 0;
  border: 0;
  background: transparent;
  display: block;
  top: 0;
  bottom: 0;

  @media (max-width: $sky-screen-sm-min) {
    cursor: initial;
  }
}

.sky-flyout-header {
  @include sky-border(dark, bottom);
  width: 100%;
  background: $sky-background-color-neutral-light;
  height: 50px;
  padding: 8px $sky-padding-plus-half;
  display: flex;
  align-items: baseline;
}

.sky-flyout-header-content {
  flex-grow: 1;
}

.sky-flyout-btn-permalink {
  &:hover {
    text-decoration: none;
  }
}

.sky-flyout-help-shim {
  padding-right: 8px;

  @media (min-width: $sky-screen-sm-min) {
    padding-right: 50px;
  }
}

.sky-flyout-content {
  overflow-y: auto;
  height: calc(100% - 50px);
}
