@import "../../scss/mixins";

.sky-flyout {
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  height:100%;
  background-color:#fff;
  border-left:6px solid $sky-background-color-primary-dark;

  width:50%;
  min-width:320px;

  z-index:1001; // omnibar is 1000, help is 9999
  overflow-y:scroll;
}

.sky-flyout-header {
  width:100%;
  background: #7f8690;
  height:50px;
  padding:8px 8px 8px 15px;
  display:flex;
  align-items: baseline;
}
.sky-flyout-header-content {
  flex-grow:1;
}
.sky-flyout-help-shim {
  padding-right:50px;
}

@media (max-width: $sky-screen-sm-min - 1px) {
  .sky-flyout-help-shim {
    padding-right:8px;
  }
}
