<sky-list [data]="items" [defaultView]="grid">
  <sky-list-toolbar></sky-list-toolbar>

  <sky-list-view-grid fit="scroll" #grid>
    <sky-list-view-grid-column field="column1" heading="Column1"></sky-list-view-grid-column>
    <sky-list-view-grid-column field="column2" heading="Column2"></sky-list-view-grid-column>
  </sky-list-view-grid>

  <sky-list-view-repeater>
    <sky-list-view-repeater-title>
      <template let-row="row">{{row.column1}}</template>
    </sky-list-view-repeater-title>
    <sky-list-view-repeater-description>
      <template let-row="row">{{row.column2}}</template>
    </sky-list-view-repeater-description>
    <sky-list-view-repeater-content>
      <template let-row="row">{{row.column3}}</template>
    </sky-list-view-repeater-content>
  </sky-list-view-repeater>

  <sky-list-view-checklist label="column2" description="column3" category="column1"></sky-list-view-checklist>

  <sky-list-paging pageSize="5"></sky-list-paging>
</sky-list>
