.sky-autocomplete {
  position: relative;

  ::ng-deep .sky-dropdown {
    .sky-dropdown-button {
      visibility: hidden;
      overflow: hidden;
      position: absolute;
      top: 0;
      height: 100%;
      padding: 0;
      border: 0;
      width: 0;
    }
  }
}

.sky-autocomplete-results-hidden {
  display: none;
}
