<div class="sky-autocomplete">
  <ng-content>
  </ng-content>
  <div class="sky-autocomplete-results">
    <sky-popover
      placement="below"
      [alignment]="alignment"
      (popoverOpened)="onPopoverOpened()"
      [dismissOnBlur]="false"
      [@.disabled]="true"
      #popover>
      <sky-dropdown-menu
        [useNativeFocus]="false"
        [skyHighlight]="highlightText"
        (menuChanges)="onMenuChanges($event)"
        #dropdownMenu>

        <sky-dropdown-item
          *ngFor="let result of searchResults; let i = index">

          <button
            type="button">
            <ng-container
              *ngTemplateOutlet="searchResultTemplate; context: { item: result }">
            </ng-container>
          </button>

        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-popover>
  </div>
  <ng-template
    let-item="item"
    #defaultSearchResultTemplate>
    {{ item[descriptorProperty] }}
  </ng-template>
</div>
