.sky-autocomplete {
  position: relative;

  ::ng-deep .sky-popover-container {
    width: 100% !important;
  }

  ::ng-deep .sky-dropdown-button {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.sky-autocomplete-results-hidden {
  visibility: hidden;
}
