<div id="screenshot-infinite-scroll">
  <sky-repeater>
    <sky-repeater-item>
      <sky-repeater-item-title>
        Title 1
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content 1
      </sky-repeater-item-content>
    </sky-repeater-item>
    <sky-repeater-item>
      <sky-repeater-item-title>
        Title 2
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content 2
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
  <sky-infinite-scroll
    [enabled]="true"
  >
  </sky-infinite-scroll>
</div>

<div id="screenshot-infinite-scroll-nobutton">
  <sky-repeater>
    <sky-repeater-item>
      <sky-repeater-item-title>
        Title 1
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content 1
      </sky-repeater-item-content>
    </sky-repeater-item>
    <sky-repeater-item>
      <sky-repeater-item-title>
        Title 2
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content 2
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
  <sky-infinite-scroll
    [enabled]="false"
  >
  </sky-infinite-scroll>
</div>

<div id="screenshot-infinite-scroll-wait">
  <sky-repeater>
    <sky-repeater-item>
      <sky-repeater-item-title>
        Title 1
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content 1
      </sky-repeater-item-content>
    </sky-repeater-item>
    <sky-repeater-item>
      <sky-repeater-item-title>
        Title 2
      </sky-repeater-item-title>
      <sky-repeater-item-content>
        Content 2
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
  <sky-infinite-scroll
    [enabled]="true"
  >
  </sky-infinite-scroll>
</div>
