@import "../../../scss/variables";

:host {
  display: flex;

  // Make all columns within a tile dashboard the same width.
  flex-grow: 1;
  // flex-basis is set in the template based on the number of columns in the dashboard.
  overflow: hidden;

  padding: 0 $sky-padding;
}

@media (max-width: $sky-screen-xs-max) {
  :host {
    padding: 0;
  }

  :host /deep/ .sky-tile {
    margin-bottom: 0 !important;
  }
}

.sky-tile-dashboard-column {
  // Ensure at least a 100 pixel drop target in case the column has no tiles and no
  // other column is tall enough to give it a reasonable drop target.
  min-height: 100px;
  width: 100%;
}
