@import '../../scss/mixins';

.sky-toaster {
  bottom: 0;
  right: 0;
  display: block;
  position: fixed;
  padding-bottom: $sky-margin-double;
  padding-right: $sky-margin-double;
  max-width: 300px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrom and Opera */
}
