<aside
  [@skyAnimationEmerge]="animationState"
  (@skyAnimationEmerge.done)="onAnimationDone($event)"
>
  <div
    class="sky-toast"
    [ngClass]="classNames"
    [attr.aria-live]="ariaLive"
    [attr.role]="ariaRole"
  >
    <div class="sky-toast-content">
      <ng-template #bodyContentTarget></ng-template>
      <ng-content></ng-content>
    </div>
    <button
      class="sky-toast-btn-close"
      type="button"
      [attr.title]="'toast_close_button' | skyResources"
      (click)="close()"
    >
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
  </div>
</aside>
