@import '~@blackbaud/skyux-design-tokens/scss/mixins';

.autocomplete-demo-form {
  background-color: $sky-background-color-neutral-light;
  margin: 10px 0;
  padding: 10px;
}

.autocomplete-demo-alert {
  background-color: $sky-background-color-disabled;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}
