<h2>
  Reactive form setup
</h2>

<form
  class="autocomplete-demo-form"
  [formGroup]="reactiveForm"
  (ngSubmit)="submitReactiveForm()"
  novalidate>

  <h3>
    Basic
  </h3>

  <sky-alert alertType="info">
    The following field uses the default settings.
  </sky-alert>

  <div class="sky-form-group">
    <label
      for="my-autocomplete-reactive-basic"
      class="sky-control-label">
      What is your favorite color?
    </label>

    <sky-autocomplete
      [data]="colors">
      <input
        skyAutocomplete
        id="my-autocomplete-reactive-basic"
        type="text"
        formControlName="favoriteColor">
    </sky-autocomplete>
  </div>

  <h3>
    Advanced
  </h3>

  <sky-alert alertType="info">
    The following field:
    <ul>
      <li>utilizes a custom search result template,</li>
      <li>searches against the name and description properties,</li>
      <li>limits the search results to two (2),</li>
      <li>runs the search if the query is at least three (3) characters long,</li>
      <li>and fires an event when a selection is made.</li>
    </ul>
  </sky-alert>

  <div class="sky-form-group">
    <label
      for="my-autocomplete-reactive-advanced"
      class="sky-control-label">
      Which planet is farthest from the sun?
    </label>

    <sky-autocomplete
      [data]="planets"
      [propertiesToSearch]="['name', 'description']"
      [searchResultsLimit]="2"
      [searchResultTemplate]="planetSearchResultTemplate"
      [searchTextMinimumCharacters]="3"
      (selectionChange)="onPlanetSelection($event)">
      <input
        skyAutocomplete
        id="my-autocomplete-reactive-advanced"
        type="text"
        formControlName="farthestPlanet">
    </sky-autocomplete>
  </div>

  <h3>
    Search filters
  </h3>

  <sky-alert alertType="info">
    The following field provides a custom function that filters the data before every search attempt.
  </sky-alert>

  <div class="sky-form-group">
    <label
      for="my-autocomplete-reactive-filters"
      class="sky-control-label">
      Pick a color ("Red" is not available).
    </label>

    <sky-autocomplete
      [data]="colors"
      [searchFilters]="searchFilters">
      <input
        skyAutocomplete
        id="my-autocomplete-reactive-filters"
        type="text"
        formControlName="favoriteColor">
    </sky-autocomplete>
  </div>

  <h3>
    Custom search function
  </h3>

  <sky-alert alertType="info">
    The following field has a preselected value and utilizes a custom search function, as well as a custom template for the search results.
  </sky-alert>

  <div class="sky-form-group">
    <label
      for="my-autocomplete-reactive-custom"
      class="sky-control-label">
      Which ocean is the largest?
    </label>

    <sky-autocomplete
      [search]="getOceanSearchFunction()"
      [searchResultTemplate]="oceanSearchResultTemplate"
      [descriptorProperty]="'title'">
      <input
        skyAutocomplete
        id="my-autocomplete-reactive-custom"
        type="text"
        formControlName="largestOcean">
    </sky-autocomplete>
  </div>

  <div class="autocomplete-demo-alert">
    <strong>Form model:</strong>
    <pre>{{ reactiveForm.value | json }}</pre>
  </div>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form>

<h2>
  Template-driven form setup
</h2>

<form
  class="autocomplete-demo-form"
  #myForm="ngForm"
  (ngSubmit)="submitTemplateForm(myForm.value)"
  novalidate>

  <sky-alert alertType="info">
    This field uses the default settings and has a preselected value.
  </sky-alert>

  <div class="sky-form-group">
    <label
      for="my-autocomplete-template-driven"
      class="sky-control-label">
      What is your favorite color?
    </label>

    <sky-autocomplete
      [data]="colors">
      <input
        skyAutocomplete
        id="my-autocomplete-template-driven"
        type="text"
        name="favoriteColor"
        [(ngModel)]="templateDrivenModel.favoriteColor">
    </sky-autocomplete>
  </div>

  <div class="autocomplete-demo-alert">
    <strong>Form model:</strong>
    <pre>{{ myForm.value | json }}</pre>
  </div>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form>

<!-- Custom search result templates -->

<ng-template
  let-item="item"
  #planetSearchResultTemplate>
  <strong>{{ item.name }}</strong><br>
  {{ item.description }}
</ng-template>

<ng-template
  let-item="item"
  #oceanSearchResultTemplate>
  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
  {{ item.title }} &bull; ID {{ item.id }}
</ng-template>
