<!DOCTYPE html>
<html>
  <head>
    <title>Visual Regression</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Visual Regression</h1>
    <ul>
      <% Object.keys(htmlWebpackPlugin.options.entry).forEach(function (key) { %>
        <li>
          <a href="<%= key %>.html">
            <%= key %>
          </a>
        </li>
      <% }) %>
  </ul>
  </body>
</html>
