@import '../../scss/mixins';

.sky-inline-help-button {
        padding-left: $sky-padding-half;
        color: $sky-color-blue;
        background-color: transparent;
        border: none;
        display: block;
        border-radius: 50%;
}