@import '../../scss/mixins';

.sky-inline-help {
        margin-left: $sky-padding-half;
        color: $sky-color-blue;
        background-color: transparent;
        border: none;
        display: inline-block;
        font-size: $sky-font-size-lg;
        padding-left: 0px;
}