@import '../../scss/mixins';

.sky-inline-help {
  margin-left: $sky-padding-half;
  color: $sky-color-blue;
  background-color: transparent;
  border: none;
  display: inline-block;
  font-size: $sky-font-size-lg;
  &:hover {
    color: darken($sky-color-blue, 10%);
    transition: color $sky-transition-time-short;
  }
}