@import "../../scss/variables";
@import "../../scss/mixins";

.sky-radio-wrapper {
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}

.sky-radio-wrapper input {
    opacity: 0;
    position: absolute;
    height: 22px;
    width: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.sky-radio {
    @include sky-border(dark, top, bottom, left, right);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 22px;
    text-align: center;
    font-size: $sky-font-size-base;
    border-radius: 50%;
    line-height: 19px;
}

.sky-radio-wrapper input:hover + .sky-radio {
    border: 2px solid $sky-background-color-primary-dark;
}

.sky-radio-wrapper input:checked + .sky-radio {
    background-color: $sky-background-color-primary-dark;
    border-color: $sky-background-color-primary-dark;
    border-width: 1px;

    &:before {
        color: $sky-color-white;
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 13px;
    }
}


.sky-radio-wrapper input:disabled + .sky-radio {
    background-color: $sky-background-color-neutral-light;
    @include sky-border(light, top, bottom, left, right);
    cursor: default;
}

.sky-radio-wrapper input:focus + .sky-radio {
    @include sky-focus-outline;
}
