<sky-demo-page pageTitle="File attachment">
  <sky-demo-page-summary>
    <p>
      The file attachment module contains two components to add files to forms and display summary information about attachments.
    </p>
    <p>
      The <stache-code>sky-file-drop</stache-code> component provides an element that users can click to select files from their local drives or use as a drop zone to drag and drop files. The component can also display controls for users to provide hyperlinks to files on the web. You can leave the contents of the component blank to display the drop zone's default UI, or you can specify custom content to display instead.
    </p>
    <p>
      When the SKY UX module initializes, it disables the ability to drag and drop files for the entire window. This prevents the browser from opening files that are accidentally dropped outside the target zone. If you implement your own file drop functionality outside of the file drop component, you can place the <stache-code>sky-file-drop-target</stache-code> CSS class on the element that receives drop events to exempt it from the drop exclusion rule.
    </p>
    <p>
      The <stache-code>sky-file-item</stache-code> component displays summary information about files that users attach to forms. By default, the component displays file names, delete buttons, and fields for names and tags.. For files from local drives, the component also displays file sizes and thumbnails.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="File drop properties">
    <sky-demo-page-property
        propertyName="minFileSize"
        isOptional="true"
    >
      Specifies the minimum size in bytes for valid files.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="maxFileSize"
        isOptional="true"
        defaultValue="500000"
    >
      Specifies the maximum size in bytes for valid files.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="multiple"
        isOptional="true"
        defaultValue="true"
    >
      Indicates whether users can drag and drop multiple files at the same time.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="multiple"
        isOptional="true"
        defaultValue="true"
    >
      Indicates whether users can drag and drop multiple files at the same time.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="validateFn"
        isOptional="true"
    >
      Provides a custom validation function (<stache-code>[validateFn]="validateFile"</stache-code>). By default, any type of file is allowed.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="acceptedTypes"
    >
      Provides a comma-delimited string literal of MIME types that users can drop or select (<stache-code>[acceptedTypes]="validFileTypes"</stache-code> or <stache-code>acceptedTypes="image/png,image/jpeg"</stache-code>). By default, any type of file is allowed.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="noClick"
        isOptional="true"
        defaultValue="false"
    >
      Disables the option for users to click the element and select files through a file dialog. To disable the option, you include this attribute with no value.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="allowLinks"
        isOptional="true"
        defaultValue="false"
    >
      Indicates whether to display an option for users to provide hyperlinks to files on the web. To display this hyperlink option, you include this attribute with no value.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="File drop events">
    <sky-demo-page-property
        propertyName="filesChanged"
    >
      Fires when the user selects one or more files.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="linkChanged"
    >
      Fires when the user adds a link.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="File item properties">
    <sky-demo-page-property
        propertyName="fileItem"
    >
      Displays summary information about files that users attach to forms. By default, the component displays file names, delete buttons, and fields for names and tags. For files from local drives, it also displays file sizes and thumbnails.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="File item events">
    <sky-demo-page-property
        propertyName="deleteFile"
    >
      Fires when users click the delete button for an item. The deleted item is passed to the function.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-fileattachments-demo></sky-fileattachments-demo>
    <sky-demo-page-code demoName="File attachment"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
