<div *ngIf="active | async">
  <sky-grid
    #skyGrid
    [height]="height | async"
    [width]="width | async"
    [fit]="fit"
    [data]="items | async"
    [selectedColumnIds]="selectedColumnIds | async"
    [columns]="columns | async"
    [hasToolbar]="hasToolbar | async"
    (selectedColumnIdsChange)="columnIdsChanged($event)"
    [sortField]="sortField | async"
    (sortFieldChange)="sortFieldChanged($event)"
    >
  </sky-grid>
  <sky-wait [isWaiting]="loading | async"></sky-wait>
</div>
