@import "../../scss/variables";

.sky-progress-indicator-display {
  margin-bottom: $sky-margin-plus-half;
}

.sky-progress-indicator-display-item {
  display: inline-block;
}

.sky-progress-indicator-display-item-step {
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: $sky-border-color-neutral-medium solid 1px;
}

.sky-progress-indicator-display-item-step-active {
  background: $sky-highlight-color-success;
  border-color: $sky-highlight-color-success !important;
}

.sky-progress-indicator-display-item-step-complete {
  display: inline-block;
  padding-left: 6px;
  font-size: 20px;
}

.sky-progress-indicator-display-item-line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: $sky-border-color-neutral-medium;
  margin-bottom: 9px;
  margin-left: -4px;
  padding-left: $sky-padding-plus-half;
  padding-right: $sky-padding-double;

  &.sky-progress-indicator-display-item-line-complete {
    background-color: $sky-highlight-color-success;
  }

  &.sky-progress-indicator-display-item-last {
    display: none;
  }
}
