<div class="sky-confirm">
  <sky-modal
    ariaRole="alertdialog">
    <sky-modal-content>
      <div class="sky-confirm-message sky-emphasized">
        {{ message }}
      </div>
      <div class="sky-confirm-body" *ngIf="body">
        {{ body }}
      </div>
      <div class="sky-confirm-buttons">
        <button
          *ngFor="let button of buttons"
          type="button"
          class="sky-btn"
          ngClass="sky-btn-{{ button.styleType }}"
          (click)="close(button)"
          [attr.autofocus]="button.autofocus ? 'autofocus': null">
          {{ button.text }}
        </button>
      </div>
    </sky-modal-content>
  </sky-modal>
</div>
