<sky-demo-page pageTitle="Avatar">
  <sky-demo-page-summary>
    <p>
      The avatar component displays an image to identify a record. The component includes an option to let users change the image. To select a different image, users can click the image or drag another image on top of it. In addition, when images are missing, the avatar component can display the initials of a name that you provide.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="src"
    >
      Provides a reference to a URL or <stache-code>File</stache-code> object that represents the avatar.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="name"
    >
      Specifies the name of the record that the avatar represents. If <stache-code>src</stache-code> does not specify an image, the component extracts initials from the first and last words of this name and displays them in place of the missing image. To ensure that the component extracts the correct initials, specify a name with no prefix (e.g. "Dr.", "Mrs.") or suffix (e.g. "Jr.", "Esq."). You can also provide the initials with a space between them (e.g. "R H").
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="canChange"
      [defaultValue]="false"
    >
      Indicates whether users can select a new image, much like the <a routerLink="../fileattachments">sky-file-drop</a> component.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Avatar events"
  >
    <sky-demo-page-property
      propertyName="avatarChanged"
    >
      This event emits a <stache-code>SkyFileItem</stache-code> object when the image is updated.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="SkyFileItem properties"
  >
    <sky-demo-page-property
      propertyName="file"
    >
    The <stache-code>File</stache-code> object associated with the <stache-code>SkyFileItem</stache-code> object.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="url"
    >
    The URL of the file item.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="errorType"
    >
    The type of error resulting from the file.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="errorParam"
    >
    The details of the error.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-avatar-demo></sky-avatar-demo>
    <sky-demo-page-code demoName="Avatar"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
