<sky-modal>
  <sky-modal-header>
    {{'grid_column_picker_header' | skyResources}}
  </sky-modal-header>
  <sky-modal-content>
    <sky-list #list
      [data]="context.columns"
      [selectedIds]="context.selectedColumnIds"
      (selectedIdsChange)="selectedColumnsChange($event)">
      <sky-list-toolbar
        [placeholder]="'grid_column_picker_search_placeholder' | skyResources">
      </sky-list-toolbar>

      <sky-list-view-checklist label="heading" description="description">
      </sky-list-view-checklist>
    </sky-list>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      sky-cmp-id="apply-changes"
      class="sky-btn sky-btn-primary"
      (click)="applyChanges()">
      {{'grid_column_picker_submit' | skyResources}}
    </button>
    <button
      sky-cmp-id="cancel"
      class="sky-btn sky-btn-link"
      (click)="cancelChanges()">
      {{'grid_column_picker_cancel' | skyResources}}
    </button>
  </sky-modal-footer>
</sky-modal>
