<sky-toolbar>
  <sky-toolbar-item>
    <button class="sky-btn sky-btn-default">Button 1</button>
  </sky-toolbar-item>
  <sky-toolbar-item>
    <button class="sky-btn sky-btn-default">Button 2</button>
  </sky-toolbar-item>
  <sky-toolbar-view-actions>
    <button
      class="sky-btn sky-btn-default"
      title="Expand all"
      type="button"
    >
      <sky-icon
        icon="angle-double-down"
      >
      </sky-icon>
    </button>
    <button
      class="sky-btn sky-btn-default"
      title="Collapse all"
      type="button"
    >
      <sky-icon
        icon="angle-double-up"
      >
      </sky-icon>
    </button>
  </sky-toolbar-view-actions>
</sky-toolbar>
