<ng-content></ng-content>

<sky-filter-inline
  *ngIf="inlineFilters.length > 0 && inlineBarExpanded">
  <sky-filter-inline-item
    *ngFor="let filter of inlineFilters">
    <sky-list-filter-inline-renderer
      [template]="filter.template"
      [filter]="filter">
    </sky-list-filter-inline-renderer>
  </sky-filter-inline-item>
</sky-filter-inline>

<template #filterButton>
  <sky-filter-button
    (filterButtonClick)="filterButtonClick()"
    [active]="filtered | async">
  </sky-filter-button>
</template>
