<ng-content></ng-content>

<div class="sky-list-filters-inline-bar" *ngIf="(inlineFilters | async).length > 0 && inlineBarExpanded">
  <span *ngFor="let filter of inlineFilters | async">
    <sky-list-filter-renderer [template]="filter.template" [filter]="filter.filterModel"></sky-list-filter-renderer>
  </span>
  <button *ngIf="(modalFilters | async).length > 0" (click)="openFiltersModal()" cmp-id="filter-show-more">Show more</button>
</div>

<div class="sky-list-filters-modal-active" *ngIf="(activeModalFilters | async).length > 0">
  <span class="filter-label">Filter:</span>
  <span class="filter-button" *ngFor="let filter of activeModalFilters | async" (click)="openFiltersModal()">
    <span *ngIf="filter.label">{{ filter.label }}: </span>{{ filter.value }} <i class="fa fa-times close ng-scope" (click)="clearFilter(filter); false"></i>
  </span>
</div>

<template #filterButton>
  <button (click)="filterButtonClick()" [class.filtered]="filtered | async" cmp-id="filter">
    <i class="fa fa-lg fa-filter"></i>
  </button>
</template>
