<ng-template #secondaryActions>
  <div
    class="sky-list-secondary-actions"
    [hidden]="dropdownHidden"
    >
    <sky-dropdown
      [attr.title]="'list_show_secondary_actions' | skyResources"
      [buttonType]="isSmallScreen() ? 'ellipsis-h' : 'select'"
    >
      <sky-dropdown-button *ngIf="!isSmallScreen()">
        <i class="fa fa-ellipsis-h"></i> More
      </sky-dropdown-button>
      <sky-dropdown-menu>
        <ng-content></ng-content>
      </sky-dropdown-menu>
    </sky-dropdown>
  </div>
</ng-template>
