@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-list-secondary-actions {
  ::ng-deep .sky-dropdown-button-type-select {
    padding: 6px 12px;

    sky-icon[icon="ellipsis-h"] { /* add styles for large icon */
      font-size: 1.33333em;
      line-height: .75em;
      vertical-align: -15%;
    }
  }
}

.sky-list-secondary-actions-hidden {
  display: none;
}

@media (max-width: $sky-screen-xs-max) {
  .sky-list-secondary-actions-btn-text {
    @include sky-screen-reader-only();
  }
}
