<ng-template #secondaryActions>
  <div
    class="sky-list-secondary-actions"
    [ngClass]="{ 'sky-list-secondary-actions-hidden': dropdownHidden }">
    <sky-dropdown
      buttonType="context-menu"
      [title]="'list_show_secondary_actions' | skyResources">
      <sky-dropdown-menu>
        <sky-dropdown-item
          *ngFor="let action of actions">
          <ng-container
            *ngTemplateOutlet="action.template">
          </ng-container>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </div>
  <ng-content>
  </ng-content>
</ng-template>
