<stache
  pageTitle="Page summary"
  windowTitle="Page summary"
  layout="container">

  <sky-demo-page-summary>
    <p>
      The page summary component displays critical information and actions for users to access quickly and frequently. The parent <stache-code>sky-page-summary</stache-code> component can contain multiple components, and each one is optional. You select the components to include in the summary based on the type of page and the scenario you design for.
    </p>

    <p>
      The components available within the <stache-code>sky-page-summary</stache-code> component are simple wrappers that you can specify in any order. The page summary component arranges the components to allow for perfect placement, spacing, etc. It maintains this even when the CSS classes that arrange the components change behind the scenes.
    </p>

    <sky-alert alertType="info">
      Keep in mind that the page summary is prime real estate on a page. To use it effectively, we recommend that you avoid overloading it. When you limit the number of items, you magnify the impact of each one.
    </sky-alert>
    
  </sky-demo-page-summary>
  
  <stache-page-anchor>
      Title and subtitle
  </stache-page-anchor>

    <p>
      You can display a title and subtitle in the summary to uniquely identify the page content. You can pull data for the title from multiple sources, and you can combine multiple pieces of data in the title. The data to use depends on your users and the context in which they visit the page. You can display additional information in the subtitle. For example, you can display a record's natural language name in the title and its system-generated or coded identifier in the subtitle.
    </p>
    <p>
      You use the <stache-code>sky-page-summary-title</stache-code> and <stache-code>sky-page-summary-subtitle</stache-code> components to display the title and subtitle.
    </p>

  <stache-page-anchor>
      Image
  </stache-page-anchor>

    <p>
      You can display an image in the summary to help users identify a record or complete a core task. We recommend that you do not include images just for decorative purposes because they are likely to distract users and interfere with task completion.
    </p>

    <p>
      You use the <stache-code>sky-page-summary-image</stache-code> component to display the image. As the example below demonstrates, you can use this component in conjunction with the <stache-code>sky-avatar</stache-code> component to allow users to manage and upload images.
    </p>

  <stache-page-anchor>
      Status
  </stache-page-anchor>

    <p>
      You can display important status information about a page's content with labels in the status section of the page summary.
    </p>

    <p>
      You use the <stache-code>sky-page-summary-status</stache-code> component to display the status section. You typically display the labels with a series of <a routerLink="../label">SKY UX label components</a>.
    </p>

  <stache-page-anchor>
      Key information
  </stache-page-anchor>

    <p>
      You can highlight important information about a page's content in the key information section of the page summary. This section can display any type of content, but it generally highlights a key information block such as important summary numbers.
    </p>

    <p>
      You use the <stache-code>sky-page-summary-key-info</stache-code> component to display the key information section.
    </p>

  <stache-page-anchor>
      Arbitrary content
  </stache-page-anchor>

    <p>
      You can display any kind of content in the arbitrary content section of the page summary. We recommend that you display content to support the key tasks of users who visit the page. We also recommend that you keep in mind the context of how users will use the content and limit the content to avoid overloading the summary.
    </p>

    <p>
      You use the <stache-code>sky-page-summary-content</stache-code> component to display the arbitrary content section.
    </p>

  <stache-page-anchor>
      Alert
  </stache-page-anchor>

    <p>
      You can display messages that require immediate attention as alerts within the page summary. For example, you can display system-generated messages when certain criteria are met, or you can display notes about a record that you enter manually.
    </p>

    <p>
      You use the <stache-code>sky-page-summary-alert</stache-code> component to display the alerts. You can use this component in conjunction with the the <stache-code>sky-alert</stache-code> component.
    </p>

  <sky-demo-page-example>
    <sky-page-summary-demo></sky-page-summary-demo>
    <sky-demo-page-code demoName="Page summary"></sky-demo-page-code>
  </sky-demo-page-example>

</stache>
