@import '../../scss/mixins';

.sky-demo-components-list {
  // This offsets the padding of the outermost buttons so they line up with the rest
  // of the page content.
  margin: -$sky-padding;
  display: flex;
  flex-wrap: wrap;
}
