.sky-text-expand-repeater-container {
  overflow-y: hidden;
  height: auto;
  margin-bottom: 0;
  transition: max-height 250ms;
}
.sky-text-expand-repeater-see-more {
  white-space: nowrap;
  padding-left: 40px;
}
