@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-key-info {
  display: inline-block;
}

.sky-key-info-horizontal {
  .sky-key-info-value,
  .sky-key-info-label {
      display: inline-block;
  }

  .sky-key-info-label {
      margin-left: $sky-margin-half;
  }
}
