<div id="screenshot-confirmation-dialog">
  <div>
    <button
      type="button"
      class="sky-btn sky-btn-primary sky-test-one-confirmation-dialog"
      (click)="openOneBtnDialog()"
    >
    Open one-button dialog
    </button>
  </div>

  <div>
    <button
      type="button"
      class="sky-btn sky-btn-primary sky-test-two-confirmation-dialog"
      (click)="openTwoBtnDialog()"
    >
    Open two-button dialog
    </button>
  </div>

  <div>
    <button
      type="button"
      class="sky-btn sky-btn-primary sky-test-three-confirmation-dialog"
      (click)="openThreeBtnDialog()"
    >
    Open three-button dialog
    </button>
  </div>

  <div>
    <button
      type="button"
      class="sky-btn sky-btn-primary sky-test-long-confirmation-dialog"
      (click)="openLongDescriptionDialog()"
    >
    Open dialog with long description
    </button>
  </div>
</div>
