<sky-icon 
  icon="bars"
  size="lg">
</sky-icon>
<sky-icon 
  icon="chevron-down"
  size="sm">
</sky-icon>
<sky-icon 
  icon="chevron-up"
  size="5x">
</sky-icon>
<sky-icon 
  icon="cog"
  size="2x">
</sky-icon>
<sky-icon 
  icon="comment"
  size="xs">
</sky-icon>
<sky-icon 
  icon="database"
  size="3x">
</sky-icon>
<sky-icon 
  icon="spinner"
  size="3x"
  fixedWidth="true">
</sky-icon>
<sky-icon 
  icon="trash"
  size="sm">
</sky-icon>
<sky-icon 
  icon="users"
  size="4x">
</sky-icon>
<sky-icon 
  icon="user"
  size="5x">
</sky-icon>
