<sky-demo-nav></sky-demo-nav>
<stache-hero
  overlayOpacity="0"
  backgroundImageUrl="~/assets/skyux-background.jpg">
  <stache-hero-heading>
    SKYUX 2
  </stache-hero-heading>
  <stache-hero-subheading>
    A user experience framework for building web applications that leverage Blackbaud’s SKY UX patterns.
  </stache-hero-subheading>
</stache-hero>

<stache
  layout="container"
  showBreadcrumbs="false"
  windowTitle="SKYUX 2"
  pageTitle="SKYUX 2 is currently in beta">
    <stache-page-summary>
      <p>
        SKY UX 2 is a new version of Blackbaud's user experience framework. The UX framework brings a consistent, cohesive experience to our products and allows third-party developers to provide the same consistent experience in their customizations and applications. With AngularJS now in maintenance mode and Angular 2 in general availability, SKY UX 2 takes advantage of <a href="https://angular.io/">Angular 2</a> to keep SKY UX modern while increasing the tooling, testing, and performance available.
      </p>
    </stache-page-summary>
    <sky-alert [alertType]="warning" [closeable]="false">
      <p>
        We're still working on the full documentation site, but you can preview the <a routerLink="/components">components documentation</a> and check out our <a href="https://github.com/blackbaud/skyux2">GitHub repo</a>.
      </p>
    </sky-alert>
</stache>