<sky-demo-nav></sky-demo-nav>
<div class="sky-container">
  <h1>SKY UX 2 is currently in beta</h1>

  <p>SKY UX 2 is a new version of Blackbaud's user experience framework. The UX framework brings a consistent, cohesive experience to our products and allows third-party developers to provide the same consistent experience in their customizations and applications. With AngularJS now in maintenance mode and Angular 2 in general availability, SKY UX 2 takes advantage of <a href="https://angular.io/">Angular 2</a> to keep SKY UX modern while increasing the tooling, testing, and performance available.</p>

  <p>We're still working on the full documentation site, but you can preview the <a routerLink="/components">components documentation</a> and check out our <a href="https://github.com/blackbaud/skyux2">GitHub repo</a>.</p>
</div>
