@import '../scss/_mixins.scss';

body {
  background-color: #fff;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  color: scale-color($color: $sky-color-red, $lightness: -20%);
  background-color: scale-color($color: $sky-color-red, $lightness: 90%);
}

/* Prism overrides */
/* All colors were chosen to meet accessibility contrast ratio requirements */
.token {
  &.atrule,
  &.attr-value,
  &.keyword {
    color: scale-color($color: $sky-color-blue, $lightness: -20%);
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: scale-color($color: $sky-color-green, $lightness: -30%);
  }

  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: scale-color($color: $sky-color-red, $lightness: -20%);
  }

  &.function {
    color: scale-color($color: $sky-color-purple, $lightness: -20%);
  }

  &.punctuation,
  &.operator {
    color: scale-color($color: $sky-color-gray, $lightness: -20%);
  }
}

.sky-demo-bg-gray {
  background-color: $sky-body-background-color;
  padding: $sky-padding;
}
