@import '../scss/mixins';

body {
  background-color: #fff !important;
}

p {
  line-height: 1.6em !important;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
  background-color: scale-color($color: $sky-color-red, $lightness: 90%);
  border-radius: 4px;
  color: scale-color($color: $sky-color-red, $lightness: -20%);
  padding: 2px 4px;
}

/* Prism overrides */
/* All colors were chosen to meet accessibility contrast ratio requirements */
.token {
  &.atrule,
  &.attr-value,
  &.keyword {
    color: scale-color($color: $sky-color-blue, $lightness: -20%);
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: scale-color($color: $sky-color-green, $lightness: -30%);
  }

  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted {
    color: scale-color($color: $sky-color-red, $lightness: -20%);
  }

  &.function {
    color: scale-color($color: $sky-color-purple, $lightness: -20%);
  }

  &.punctuation,
  &.operator {
    color: scale-color($color: $sky-color-gray, $lightness: -20%);
  }
}

.sky-demo-bg-gray {
  background-color: $sky-body-background-color !important;
  padding: $sky-padding !important;
}

.stache-hero {
  @media(min-width: 1000px) {
    background-position-y: -200px !important;
  }
  @media(min-width: 1300px) {
    background-position-y: -300px !important;
  }
}

.tutorial-previous-button {
  text-align: left;
  padding: 10px;
}

.tutorial-next-button {
  text-align: right;
  padding: 10px;
}

/* Design documentation flex table layout */
.definition-table {
  border-bottom: 1px dotted #ccc;
}

.definition-code,
.definition-item,
.definition-styling,
.definition-usage {
  margin: 10px 10px 10px 0;
  flex-wrap: wrap;
}

.definition-item {
  width: 100px;
}

.definition-styling,
.definition-table-wide .definition-code {
  flex: 1;
}

.definition-usage {
  flex: 2;
}

.definition-table-narrow .definition-props {
  flex: 1;
}

.text-center {
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

@media (min-width: 479px) {
  .definition-table,
  .definition-props {
    display: flex;
    flex-wrap: wrap;
  }

  .definition-code {
    flex: 1;
  }

  .definition-table-narrow .definition-usage {
    flex: 1;
  }

  .definition-table-narrow .definition-code {
    flex: 5;
  }
}

@media (min-width: 767px) {
  .definition-props {
    flex: 3;
  }
}

.swatch {
  width: 50px;
  height: 50px;
}