<sky-demo-page
  pageTitle="URL validation">
  <sky-demo-page-summary>
    The URL validation module allows the user to validate URL format.
  </sky-demo-page-summary>

  <sky-demo-page-properties
    sectionHeading="Directive properties">
    <sky-demo-page-property
      propertyName="skyUrlValidation">
      When this attribute is placed on an input element, the input with validation properties is created. The error message will display if the input is not in the correct format. This directive will use <stache-code>NgModel</stache-code> for binding data.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-url-validation-demo>
    </sky-url-validation-demo>
    <sky-demo-page-code
      demoName="URL validation">
    </sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
