<sky-grid
  fit="scroll"
  [data]="items"
  [detailsTemplate]="customDetailsTemplate"
  (sortFieldChange)="sortChanged($event)">
  <sky-grid-column
    id="column1"
    field="column1"
    heading="Column1"
    >
  </sky-grid-column>
  <sky-grid-column
    id="column2"
    field="column2"
    heading="Column2"
    >
  </sky-grid-column>
  <sky-grid-column
    id="column3"
    field="column3"
    heading="Column3"
    >
  </sky-grid-column>
  <sky-grid-column
    id="composite"
    field="composite"
    heading="Composite column"
    [template]="customColumnTemplate"
    >
  </sky-grid-column>
</sky-grid>

<ng-template let-row="row" let-value="value" #customColumnTemplate>
  <div>
    Value: {{value}}
  </div>
  <div>
    Column 2: {{row.column2}}
  </div>
</ng-template>

<ng-template let-row="row" #customDetailsTemplate>
  <table style="width:100%">
    <tr>
      <td>
        <div>
          Description
        </div>
        <div>
          {{row.description}}
        </div>
      </td>
      <td>
        <div>
           Open emails
        </div>
        <div>
          {{row.openEmails}}
        </div>
      </td>
      <td>
        <div>
          click through rate
        </div>
        <div>
          {{row.clickThrough}}
        </div>
      </td>
    </tr>
  </table>
</ng-template>

