<sky-demo-page pageTitle="Grid">
  <sky-demo-page-summary>
    This grid component displays a SKY UX-themed grid of data. The grid should contain <stache-code>sky-grid-column</stache-code> components that specify column information. The <stache-code>sky-grid</stache-code> component can provide a view of a searchable, paginated list component when used within the <a routerLink="../list-view-grid">sky-list</a> component.
  </sky-demo-page-summary>

  <sky-demo-page-properties
    sectionHeading="Grid component properties">

    <sky-demo-page-property
      propertyName="data">
      Specifies an array of data for the grid. Each item in the array should have an ID and a property that maps to either the <stache-code>field</stache-code> or <stache-code>id</stache-code> property of each column in the grid.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selectedColumnIds"
        isOptional="true"
    >
      Specifies an array of columns to display in the grid. Will match the <stache-code>id</stache-code> or <stache-code>field</stache-code> properties of the columns. If no array is provided, then the grid displays all columns.
      Acceptable values: <stache-code>Array of strings</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="fit"
        defaultValue="width"
        isOptional="true"
    >
      Specifies how the grid should fit to its parent.
      Acceptable values: <stache-code>'width'</stache-code> or <stache-code>'scroll'</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="height"
        isOptional="true"
    >
      Specifies the height of the grid.
      Acceptable values: <stache-code>number</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="width"
        isOptional="true"
    >
      Specifies the width of the grid.
      Acceptable values: <stache-code>number</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sortField"
      [isOptional]="true"
    >
      Specifies the field to use to sort the grid.

      Acceptable values: <stache-code>ListSortFieldSelectorModel</stache-code>. <stache-code>ListSortFieldSelectorModel</stache-code> contains the <stache-code>fieldSelector</stache-code> string that represents the current sort field and the <stache-code>descending</stache-code> boolean that indicates whether to sort in descending order.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Grid component events">
    <sky-demo-page-property
      propertyName="selectedColumnIdsChange">
      Fires when the columns to display in the grid change. Emits an array of column IDs.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="sortFieldChange"
    >
      Fires when the active sort field changes. Emits a <stache-code>ListSortFieldSelectorModel</stache-code>.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties
    sectionHeading="Grid column component properties">
    <sky-demo-page-property
      propertyName="id">
      Specifies a unique ID for the column. If no <stache-code>field</stache-code> property exists on the column, then this is used as the property to retreive cell information from an entry on the grid <stache-code>data</stache-code> array.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="field">
      Specifies the property to retreive cell information from an entry on the grid <stache-code>data</stache-code> array. If no <stache-code>id</stache-code> property exists on the column, then this will be used as the entry for the grid <stache-code>selectedColumnIds</stache-code> array.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="heading">
      Specifies text to display in the column header.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="description">
      Specifies a description for the column.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="width"
      isOptional="true">
      Specifies the width of the column.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="locked"
      isOptional="true"
      defaultValue="false">
      Indicates whether the column is locked. If set to <stache-code>true</stache-code>, then users cannot drag the column to another position and or drag other columns before the locked column.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="isSortable"
      [isOptional]="true"
      defaultValue="true">
      Indicates whether the column sorts the grid when users click the column header.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="hidden"
      isOptional="true"
      defaultValue="false">
      Indicates whether the column is initially hidden when grid <stache-code>selectedColumnIds</stache-code> are not provided.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="search"
      isOptional="true">
      Specifies a search function to apply for the specific column. By default, the column executes a string compare on the column data.
      Acceptable values: <stache-code>(data: any, searchText: string) => boolean</stache-code>
    </sky-demo-page-property>
     <sky-demo-page-property
      propertyName="template"
      isOptional="true">
      Specifies a template for a column. This can be assigned as a reference to the <stache-code>template</stache-code> attribute, or it can be assigned as a child of the <stache-code>template</stache-code> element inside the <stache-code>sky-grid-column</stache-code> component. The template has access to the <stache-code>value</stache-code> variable, which contains the value passed to the column, and the <stache-code>row</stache-code> variable, which contains the entire row data.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-grid-demo></sky-grid-demo>
    <sky-demo-page-code demoName="Grid"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
