<div class="sky-input-group">

  <sky-dropdown buttonType="caret-down" alignment="right">
    <sky-dropdown-menu>

      <div class="sky-colorpicker-container">
        <span [skyColorpickerInput]="colorPickerExample2"
              [(skyColorpicker)]="arrayColors[selectedColor]"
              [style.background]="arrayColors[selectedColor]"
              [presetColors]="['#333333', '#888888', '#EFEFEF', '#FFF', '#BD4040','#617FC2','#60AC68','#3486BA','#E87134','#DA9C9C']">
          </span>

          <div class="sky-colorpicker-container sky-colorpicker-footer">
            <section class="sky-colorpicker-column">
              <button type="button" class="sky-btn sky-btn-primary">Apply</button>
              <button type="button" class="sky-btn sky-btn-link">Close</button>
            </section>
          </div>

     </div>
    </sky-dropdown-menu>
  </sky-dropdown>

</div>
