<div id="screenshot-buttons">
  <div id="screenshot-button-primary">
    <button type="button" class="sky-btn sky-btn-primary">
      Primary
    </button>
  </div>

  <div id="screenshot-button-secondary">
    <button type="button" class="sky-btn sky-btn-default">
      Secondary
    </button>
  </div>

  <div id="screenshot-button-link">
    <button type="button" class="sky-btn sky-btn-link">
      Link button
    </button>
  </div>

  <div id="screenshot-button-link-inline">
    <button type="button" class="sky-btn sky-btn-link-inline">
      Inline link button
    </button>
  </div>

  <div id="screenshot-button-anchor">
    <a class="sky-btn sky-btn-primary">Anchor with button class</a>
  </div>
</div>

<div id="screenshot-buttons-disabled">
  <div id="screenshot-button-primary-disabled">
    <button type="button" class="sky-btn sky-btn-primary sky-btn-disabled">
      Primary disabled
    </button>
  </div>

  <div id="screenshot-button-secondary-disabled">
    <button type="button" class="sky-btn sky-btn-default sky-btn-disabled">
      Secondary disabled
    </button>
  </div>

  <div id="screenshot-button-link-disabled">
    <button type="button" class="sky-btn sky-btn-link sky-btn-disabled">
      Link button disabled
    </button>
  </div>

  <div id="screenshot-button-link-inline-disabled">
    <button type="button" class="sky-btn sky-btn-link-inline sky-btn-disabled">
      Inline link button disabled
    </button>
  </div>
</div>
