<stache
  pageTitle="Button"
  windowTitle="Button"
  layout="container">

  <p>The button classes create buttons to trigger actions from within an interface.</p>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-primary">Primary</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>The primary button triggers the most important or most frequently used action on a page. As a general rule, you should only include one primary button per page to ensure that it draws user attention.</p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-primary&quot;&gt;Primary&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-default">Secondary</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>Secondary buttons trigger less important or less frequently used actions. Since secondary buttons are less important than primary buttons, SKY UX reduces the visual weight to make them noticeable but not attention-drawing.</p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-default&quot;&gt;Secondary&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-link">Link button</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>Link buttons can trigger actions that take users to other pages. They can also trigger actions that end tasks or exit modals. For example, you can use this option to create a Cancel button.</p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-link&quot;&gt;Link button&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>

  <div class="definition-table">
    <div class="definition-item">
      <button type="button" class="sky-btn sky-btn-link-inline">Inline link</button>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>Inline link buttons trigger the same type of actions as link buttons, but the styling is altered so that the buttons fit inline.</p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>&lt;button type=&quot;button&quot; class=&quot;sky-btn sky-btn-link-inline&quot;&gt;Inline link&lt;/button&gt;</stache-code>
      </div>
    </div>
  </div>
	
	<div class="definition-table">
    <div class="definition-item">
      <div style="margin-bottom: 10px;"><button type="button" class="sky-btn sky-btn-primary sky-btn-disabled">Primary</button></div>
			<div style="margin-bottom: 10px;"><button type="button" class="sky-btn sky-btn-default sky-btn-disabled">Secondary</button></div>
			<div style="margin-bottom: 10px;"><button type="button" class="sky-btn sky-btn-link sky-btn-disabled">Link button</button></div>
			<div style="margin-bottom: 10px;"><button type="button" class="sky-btn sky-btn-link-inline sky-btn-disabled">Inline link</button></div>
    </div>
    <div class="definition-props">
      <div class="definition-usage">
        <div class="bb-field-label">Usage</div>
        <p>You can disable all button types by applying an additional class. The most common case is to disable actions until users complete the prerequisite tasks.</p>
      </div>
      <div class="definition-code">
        <div class="bb-field-label">Code</div>
        <stache-code>class="sky-btn-disabled"</stache-code>
      </div>
    </div>
  </div>

</stache>
