<sky-demo-page pageTitle="Key info">
  <sky-demo-page-summary>
    The key info component highlights important information. It can display any type of content but generally highlights details such as important summary numbers. The component displays its main value in large, bold text, and it displays a corresponding label in smaller, plain text. By default, the component uses a vertical layout with the label under the primary value, but you can also use a horizontal layout with the label to the side of the primary value.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="layout"
        defaultValue="vertical"
        isOptional="true"
    >
      Indicates whether to display key info in a vertical layout with the label under the primary value or in a horizontal layout with the label beside the primary value. To display key info horizontally, set this property to <stache-code>horizontal</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="value"
    >
      Specifies the primary content to display in large, bold text.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="label"
    >
      Specifies a label to display in smaller, plain text under or beside the primary value.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-key-info-demo></sky-key-info-demo>
    <sky-demo-page-code demoName="Key info"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
