<section class="sky-card"
    [ngClass]="
      {
        'sky-card-small': size === 'small',
        'sky-card-selectable': selectable,
        'sky-card-selected': selectable &amp;&amp; selected
      }
">
  <header>

    <div (click)="contentClick()" class="sky-card-header" *ngIf="selectable || showTitle">
      <div class="sky-card-heading-middle">
        <h1 class="sky-card-title" *ngIf="showTitle">
          <ng-content select="sky-card-title"></ng-content>
        </h1>
      </div>
      <div class="sky-card-check" *ngIf="selectable">
        <sky-checkbox
          (click)="$event.stopPropagation()"
          [ngModel]="selected"
          (ngModelChange)="contentClick()"
          [label]="'card_checkbox_label' | skyResources"
          ></sky-checkbox>
      </div>
    </div>
  </header>
  <div class="sky-card-content" (click)="contentClick()">
    <ng-content select="sky-card-content"></ng-content>
  </div>
  <div class="sky-card-actions" [hidden]="actionsEl.children.length === 0" #actionsEl>
    <ng-content select="sky-card-actions"></ng-content>
  </div>
</section>
