@import "../../scss/mixins";

.sky-sort-menu-heading {
  background-color: transparent;
  border: none;
  display: block;
  margin: 4px;
  min-width: 160px;
  text-align: left;
  transition: background-color $sky-transition-time-short;
  padding: 3px $sky-padding-double;
  text-align: left;
  width: 100%;
}

.sky-sort-heading-divider {
    margin: 0;
    height: 1px;
    overflow: hidden;
    background-color: $sky-background-color-neutral-light;
}
