<div class="sky-sort">
  <sky-dropdown
    [buttonType]="(showButtonText && !isSmallScreen()) ? 'select' : 'sort'"
    [title]="'sort_button_label' | skyResources">
    <sky-dropdown-button *ngIf="showButtonText && !isSmallScreen()">
      <i class="fa fa-sort"></i> {{'sort_button_label' | skyResources}}
    </sky-dropdown-button>
    <sky-dropdown-menu>
      <div class="sky-sort-menu-heading sky-subsection-heading">
        {{'sort_menu_heading' | skyResources}}
      </div>
      <div class="sky-sort-heading-divider">
      </div>
      <ng-content></ng-content>
    </sky-dropdown-menu>
  </sky-dropdown>
</div>
