@import "../../scss/variables";

.sky-alert {
    padding: 0 $sky-padding;
    margin-bottom: $sky-margin-double;
    border-left: solid 30px;
    border-radius: $sky-border-radius;
    color: $sky-text-color-default;
    display: flex;
    flex-direction: row;
    align-items: center;

    .sky-alert-content {
      padding-top: $sky-padding;
      padding-bottom: $sky-padding;
      width: 100%;
    }

    /deep/ .sky-alert-content a {
      color: change-color($sky-text-color-default, $alpha: 0.8);
      text-decoration: underline;

      &:hover {
        color: $sky-text-color-default;
      }
    }
}

.sky-alert button {
    margin-left: auto;
    width: 32px;
    height: 32px;
}

.sky-alert-info {
    background-color: $sky-background-color-info;
    border-color: $sky-highlight-color-info;
}

.sky-alert-info::before {
    content: "\f05a";
	font-family: FontAwesome;
	margin-left: -31px;
    margin-right: 20px;
	color: $sky-color-white;
}

.sky-alert-success {
    background-color: $sky-background-color-success;
    border-color: $sky-highlight-color-success;
}

.sky-alert-success::before {
    content: "\f00c";
	font-family: FontAwesome;
	margin-left: -32px;
    margin-right: 19px;
	color: $sky-color-white;
}

.sky-alert-warning {
    background-color: $sky-background-color-warning;
    border-color: $sky-highlight-color-warning;
}

.sky-alert-warning::before {
    content: "\f071";
	font-family: FontAwesome;
	margin-left: -32px;
    margin-right: 19px;
	color: $sky-color-white;
}

.sky-alert-danger {
    background-color: $sky-background-color-danger;
    border-color: $sky-highlight-color-danger;
}

.sky-alert-danger::before {
    content: "\f071";
	font-family: FontAwesome;
	margin-left: -32px;
    margin-right: 19px;
	color: $sky-color-white;
}

.sky-alert-close {
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: $sky-text-color-default;
    opacity: 0.8;
    border: none;
    background-color: transparent;
    display: none;

    &:hover {
        opacity: 1.0;
    }
}

.sky-alert-closeable {
    .sky-alert-close {
        display: block;
    }
}
