@import "../../scss/variables";

.sky-alert {
    padding: $sky-padding;
    margin-bottom: $sky-margin-double;
    border: solid 1px transparent;
    border-radius: 4px;
}

// These alerts have the default Bootstrap colors.  We need to change them at some point.
.sky-alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.sky-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.sky-alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.sky-alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #ca2a2a;
}

.sky-alert-close {
    cursor: pointer;
    float: right;
    font-size: 19.5px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #000;
    opacity: 0.2;
    border: none;
    background-color: transparent;
    display: none;

    &:hover {
        opacity: 0.5;
    }
}

.sky-alert-closeable {
    .sky-alert-close {
        display: block;
    }
}
