<ul
  role="navigation"
  *ngIf="pageCount > 1"
  [attr.aria-label]="pagingLabel || 'paging_label' | skyResources"
  >
  <li>
      <button
        class="sky-btn sky-btn-default sky-paging-btn"
        sky-cmp-id="previous"
        [attr.aria-disabled]="previousDisabled"
        [attr.aria-label]="'paging_previous' | skyResources"
        [disabled]="previousDisabled"
        [ngClass]="{ 'sky-paging-disabled': previousDisabled }"
        (click)="previousPage(); $event.preventDefault();"
      >
        <i
          aria-hidden="true"
          class="fa fa-caret-left sky-paging-caret"
        ></i>
      </button>
  </li>
  <li
    *ngFor="let pageNumber of displayedPages"
    class="sky-list-paging-link">
    <button
      [attr.sky-cmp-id]="pageNumber"
      (click)="setPage(pageNumber); false"
      [ngClass]="{ 'sky-paging-current': currentPage === pageNumber }"
      >{{pageNumber}}
    </button>
  </li>
  <li>
      <button
      class="sky-btn sky-btn-default sky-paging-btn"
      sky-cmp-id="next"
      [attr.aria-disabled]="nextDisabled"
      [attr.aria-label]="'paging_next' | skyResources"
      [disabled]="nextDisabled"
      [ngClass]="{ 'sky-paging-disabled': nextDisabled }"
      (click)="nextPage(); $event.preventDefault();"
    >
      <i
        aria-hidden="true"
        class="fa fa-caret-right sky-paging-caret"
      ></i>
    </button>
  </li>
</ul>
