@import '../../scss/mixins';

:host {
  display: block;
  margin-top: $sky-margin-plus-half;

  ul {
    margin: 0;
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
  }

  li {
    display: inline;

    a {
      background-color: $sky-color-white;
      color: inherit;
      @include sky-border(light, top, right, bottom, left);
      float: left;
      margin-left: -1px;
      padding: 4px 10px;
      text-decoration: none;
      line-height: 1.42857;
      font-size: $sky-font-size-base;
      cursor: pointer;

      &.sky-paging-caret {
        padding-left: 8.5px;
        padding-right: 8.5px;
        transform: none;
      }

      &.sky-paging-current {
        background-color: $sky-background-color-neutral-light;
      }

      &:hover {
        background-color: darken($sky-background-color-neutral-light, 10%);
      }

       &.sky-paging-disabled {
        color: $sky-text-color-deemphasized;
        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}
