<ng-container *ngIf="isInGridViewAndSecondary | async">
  <sky-list-secondary-action>
    <button type="button" (click)="openColumnSelector()">
      {{'grid_columns_button_deprecated' | skyResources}}
    </button>
  </sky-list-secondary-action>
</ng-container>

<ng-template #columnChooser>
  <button
    type="button"
    class="sky-btn sky-btn-default"
    [title]="'grid_columns_button' | skyResources"
    (click)="openColumnSelector()"
    *ngIf="isInGridView | async"
  >
    <i class="fa fa-columns"></i><ng-container *ngIf="!isSmallScreen()"> {{'grid_columns_button' | skyResources}}</ng-container>
  </button>
</ng-template>
