<ng-container *ngIf="isInGridViewAndSecondary | async">
  <sky-list-secondary-action>
    <button type="button" (click)="openColumnSelector()">
      {{ 'grid_columns_button' | skyResources }}
    </button>
  </sky-list-secondary-action>
</ng-container>

<ng-template #columnChooser>
  <button
    type="button"
    class="sky-btn sky-btn-default"
    [title]="'grid_columns_button' | skyResources"
    (click)="openColumnSelector()"
    *ngIf="isInGridView | async">
    <i
      class="fa fa-columns"
      aria-hidden="true"></i>
    <span class="sky-column-selector-action-btn-text">
      {{ 'grid_columns_toolbar_button' | skyResources }}
    </span>
  </button>
</ng-template>
