@import '../../scss/mixins';

.sky-help-inline {
  color: $sky-text-color-action-primary;
  font-size: $sky-font-size-base;
  background-color: transparent;
  border: none;
  display: inline-block;
  &:hover {
    color: darken($sky-text-color-action-primary, 10%);
    transition: color $sky-transition-time-short;
  }
}
