<div
  class="sky-token sky-btn sky-btn-default"
  [ngClass]="{
    'sky-btn-disabled': disabled,
    'sky-token-focusable': focusable
  }"
  [attr.role]="ariaRole"
  [attr.tabindex]="tabIndex"
  (focus)="tokenFocus.emit()">

  <ng-content>
  </ng-content>

  <button
    *ngIf="dismissible"
    type="button"
    tabindex="-1"
    class="sky-btn sky-token-btn-close"
    [attr.title]="'token_dismiss_button_title' | skyResources"
    [attr.aria-hidden]="true"
    [disabled]="disabled"
    (click)="dismissToken();$event.stopPropagation();">
    <i class="fa fa-times"></i>
  </button>
</div>
