@import '../../scss/mixins';
@import '~@blackbaud/skyux-design-tokens/scss/mixins';

.sky-token {
  background-color: $sky-background-color-neutral-light;
  padding: 1px 7px;
  user-select: none;
}

:host {
  &:focus {
    outline: none;

    .sky-token {
      background-color: $sky-background-color-info-light;
      border: 1px solid $sky-highlight-color-info;
    }
  }
}
