<sky-list [data]="items" [defaultView]="grid">
  <sky-list-toolbar>
    <sky-list-column-selector-action [gridView]="grid">
    </sky-list-column-selector-action>
  </sky-list-toolbar>

  <sky-list-view-grid fit="scroll" #grid>
    <sky-grid-column
      [locked]="true"
      [template]="customCellTemplate">
    </sky-grid-column>
    <sky-grid-column
      field="column1"
      [locked]="true"
      [heading]="asyncHeading | async"
      description="A numbered column">
    </sky-grid-column>
    <sky-grid-column
      field="column2"
      heading="Column2"
      description="A fruit column">
    </sky-grid-column>
    <sky-grid-column
      field="column3"
      heading="Column3"
      description="A sentence column">
    </sky-grid-column>
  </sky-list-view-grid>
</sky-list>

<ng-template
  #customCellTemplate
  let-row="row">
  <sky-dropdown buttonType="context-menu">
    <sky-dropdown-menu>
      <sky-dropdown-item>
        <button type="button">
          Option 1
        </button>
      </sky-dropdown-item>
      <sky-dropdown-item>
        <button type="button">
          Option 2
        </button>
      </sky-dropdown-item>
      <sky-dropdown-item>
        <button type="button">
          Option 3
        </button>
      </sky-dropdown-item>
    </sky-dropdown-menu>
  </sky-dropdown>
</ng-template>
