<button
  [attr.aria-controls]="ariaControls"
  [attr.aria-expanded]="ariaExpanded"
  [attr.title]="'filter_button_title' | skyResources"
  [id]="filterButtonId"
  [ngClass]="{'sky-filter-btn-active sky-rounded-corners': active}"
  type="button"
  class="sky-btn sky-btn-default sky-filter-btn"
  (click)="filterButtonOnClick()">
  <i
    class="fa fa-lg fa-filter"
    aria-hidden="true"></i>
  <span
    *ngIf="showButtonText"
    class="sky-filter-btn-text">
    {{ 'filter_button_title' | skyResources }}
  </span>
</button>
