@import "../../../scss/mixins";

.sky-tile {
    background-color: #fff;
    margin-bottom: $sky-margin-double;
}

.sky-tile-header {
    border-color: $sky-border-color-neutral-medium;
    border-style: solid solid none;
    border-width: 4px 0 0;
    display: flex;
}

.sky-tile-header-content {
    display: flex;
    flex: 1;
    align-items: baseline;
    cursor: pointer;
}

.sky-tile-title {
    @include sky-section-heading();
    margin: 0;
    padding: $sky-padding $sky-tile-header-tool-padding;
}

.sky-tile-summary {
    @include sky-headline();
    color: $sky-text-color-action-primary;
    opacity: 0;
    padding-right: $sky-tile-header-tool-padding;
    transition: opacity $sky-transition-time-medium;
    max-height: 30px;
    overflow: hidden;
}

.sky-tile-collapsed {
  .sky-tile-summary {
    opacity: 1;
  }
}

.sky-tile-header-column-tools {
  flex-shrink: 0;
}

.sky-tile-content {
    border-color: $sky-border-color-neutral-light;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

:host /deep/ .sky-tile-tools .sky-chevron {
    margin: 12px ($sky-tile-header-tool-padding - 6) 12px 0;
}

.sky-tile-settings {
    @include sky-icon-button-borderless;
    height: $sky-context-menu-size;
    margin: 12px ($sky-tile-header-tool-padding - 6) 12px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    width: $sky-context-menu-size;
}

.sky-tile-grab-handle {
    @include sky-icon-button-borderless;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    font-size: 15px;
    padding: $sky-tile-header-tool-padding $sky-tile-header-tool-padding $sky-tile-header-tool-padding 0;
}
