<section
    class="sky-tile"
    [ngClass]="{
      'sky-tile-collapsed': isCollapsed
    }">
  <header class="sky-tile-header">
    <div
      class="sky-tile-header-content"
      (click)="titleClick()">
      <ng-content select="sky-tile-title"></ng-content>
      <div class="sky-tile-summary">
        <ng-content select="sky-tile-summary"></ng-content>
      </div>
    </div>
    <div class="sky-tile-header-column-tools">
      <div class="sky-tile-tools">
        <sky-chevron
            [direction]="isCollapsed ? 'down' : 'up'"
            (directionChange)="chevronDirectionChange($event)">
        </sky-chevron>
        <button
            *ngIf="hasSettings"
            class="sky-tile-settings fa fa-cog"
            type="button"
            [attr.aria-label]="'tile_settings' | skyResources"
            (click)="settingsButtonClicked();">
        </button>
        <sky-icon
          *ngIf="isInDashboardColumn"
          class="sky-tile-grab-handle"
          icon="th">
        </sky-icon>
      </div>
    </div>
  </header>
  <div
    class="sky-tile-content"
    [@skyAnimationSlide]="isCollapsed ? 'up' : 'down'">
    <ng-content select="sky-tile-content"></ng-content>
  </div>
</section>
