<sky-demo-page title="Labels">
  <sky-demo-page-summary>
    The label component is used to call out important status information.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="labelType"
    >
      The type of label to display.  Possible values are <code>info</code>, <code>success</code>, <code>warning</code> and <code>danger</code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-label-demo></sky-label-demo>
    <sky-demo-page-code demoName="Labels"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
