<sky-demo-page pageTitle="List view checklist">
  <sky-demo-page-summary>
    This list view checklist component displays a SKY UX-themed checklist of data. It includes
    the ability to defined a custom search function for the data given. Ideally it is used in
    conjunction with the <a href="/skyux2/components/list">list component</a>.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="selectMode"
      [isOptional]="true"
      defaultValue="multiple"
    >
       When set to single, the checklist will only allow selection of one item in the checklist.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="name"
        [isOptional]="false"
    >
      Specifies the name of the view.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="label"
        defaultValue="label"
        isOptional="true"
    >
      Specifies the name of the label field selector.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="description"
        defaultValue="description"
        isOptional="true"
    >
      Specifies the name of the description field selector.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="search"
        defaultValue="default search function"
        isOptional="true"
    >
      Specific a search function to apply on the view data. Default searches view data on label,
      description, and category if field selectors are defined for the given field.
      Acceptable value: <stache-code>(data: any, searchText: string) => boolean</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-list-view-checklist-demo></sky-list-view-checklist-demo>
    <sky-demo-page-code demoName="List view checklist"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
