<div id="screenshot-all-popovers">
  <div class="popover-visual-container">
    <sky-popover placement="above">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="below">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="right">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="left">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover>
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="above" popoverTitle="Did you know?">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="below" popoverTitle="Did you know?">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="right" popoverTitle="Did you know?">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
  <div class="popover-visual-container">
    <sky-popover placement="left" popoverTitle="Did you know?">
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </div>
</div>

<div id="screenshot-popover-placements">
  <button id="btn-popover-placement-default" class="sky-btn" [skyPopover]="myPopover5">
    Default
  </button>

  <sky-popover #myPopover5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button id="btn-popover-placement-right" class="sky-btn" [skyPopover]="myPopover1" skyPopoverPlacement="right">
    Right
  </button>

  <sky-popover #myPopover1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button id="btn-popover-placement-above" class="sky-btn" [skyPopover]="myPopover2" skyPopoverPlacement="above">
    Top
  </button>

  <sky-popover #myPopover2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button
    id="btn-popover-placement-above-left" class="sky-btn" [skyPopover]="myPopover2a" skyPopoverPlacement="above" skyPopoverAlignment="left">
    Top, align left
  </button>

  <sky-popover #myPopover2a>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button
    id="btn-popover-placement-above-right" class="sky-btn" [skyPopover]="myPopover2b" skyPopoverPlacement="above" skyPopoverAlignment="right">
    Top, align right
  </button>

  <sky-popover #myPopover2b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button id="btn-popover-placement-below" class="sky-btn" [skyPopover]="myPopover3" skyPopoverPlacement="below">
    Below
  </button>

  <sky-popover #myPopover3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button
    id="btn-popover-placement-below-left" class="sky-btn" [skyPopover]="myPopover3a" skyPopoverPlacement="below" skyPopoverAlignment="left">
    Below, align left
  </button>

  <sky-popover #myPopover3a>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button
    id="btn-popover-placement-below-right" class="sky-btn" [skyPopover]="myPopover3b" skyPopoverPlacement="below" skyPopoverAlignment="right">
    Below, align right
  </button>

  <sky-popover #myPopover3b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>

  <button id="btn-popover-placement-left" class="sky-btn" [skyPopover]="myPopover4" skyPopoverPlacement="left">
    Left
  </button>

  <sky-popover #myPopover4>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>
</div>

<div id="screenshot-popover-tiny" style="padding-top:200px;">
  <button id="btn-popover-tiny" class="sky-btn" [skyPopover]="myPopoverTiny">
    Default
  </button>

  <sky-popover #myPopoverTiny>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elit arcu.
  </sky-popover>
</div>

<div id="screenshot-popover-with-dropdown">
  <button id="btn-popover-with-dropdown" class="sky-btn" [skyPopover]="myPopoverWithDropdown">
    Default
  </button>

  <sky-popover
    popoverTitle="Did you know?"
    #myPopoverWithDropdown>
    The content of a popover can be text, HTML, or Angular components.<br><br>

    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option 1
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Option 2
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Option 3
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-popover>
</div>

<div id="screenshot-popover-positioned-parent" style="padding-top:0;height:500px;">
  <div style="border:1px solid red;position:relative;padding:20px;overflow:hidden;">
    <table style="border:1px solid blue;width:100%;">
      <tbody>
        <tr>
          <td style="padding:20px;">
            <span id="popover-positioned-parent-container-left">
              <button
                id="btn-popover-position-parent-left"
                class="sky-btn"
                type="button"
                [skyPopover]="positionedParent1"
                skyPopoverPlacement="below"
                skyPopoverAlignment="left">
                Below, align left
              </button>

              <sky-popover #positionedParent1>
                The content of a popover can be text, HTML, or Angular components.<br>
                <sky-dropdown buttonType="context-menu">
                  <sky-dropdown-menu>
                    <sky-dropdown-item>
                      <button type="button">
                        Option 1
                      </button>
                    </sky-dropdown-item>
                    <sky-dropdown-item>
                      <button type="button">
                        Option 2
                      </button>
                    </sky-dropdown-item>
                    <sky-dropdown-item>
                      <button type="button">
                        Option 3
                      </button>
                    </sky-dropdown-item>
                  </sky-dropdown-menu>
                </sky-dropdown>
              </sky-popover>
            </span>
            <span id="popover-positioned-parent-container-right">
              <button
                id="btn-popover-position-parent-right"
                class="sky-btn"
                type="button"
                style="float:right;"
                [skyPopover]="positionedParent2"
                skyPopoverPlacement="below"
                skyPopoverAlignment="left">
                Below, align left
              </button>

              <sky-popover #positionedParent2>
                The content of a popover can be text, HTML, or Angular components.<br>
                <sky-dropdown buttonType="context-menu">
                  <sky-dropdown-menu>
                    <sky-dropdown-item>
                      <button type="button">
                        Option 1
                      </button>
                    </sky-dropdown-item>
                    <sky-dropdown-item>
                      <button type="button">
                        Option 2
                      </button>
                    </sky-dropdown-item>
                    <sky-dropdown-item>
                      <button type="button">
                        Option 3
                      </button>
                    </sky-dropdown-item>
                  </sky-dropdown-menu>
                </sky-dropdown>
              </sky-popover>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="screenshot-popover-wide-buttons">
  <p>
    <button
      class="sky-btn"
      type="button"
      style="display:block;width:100%;"
      [skyPopover]="myPopover5"
      skyPopoverPlacement="below">
      Open popover
    </button>
  </p>
  <p>
    <button
      class="sky-btn"
      type="button"
      style="display:block;width:100%;"
      [skyPopover]="myPopover5"
      skyPopoverPlacement="below"
      skyPopoverAlignment="left">
      Open popover
    </button>
  </p>
  <p>
    <button
      class="sky-btn"
      type="button"
      style="display:block;width:100%;"
      [skyPopover]="myPopover5"
      skyPopoverPlacement="below"
      skyPopoverAlignment="right">
      Open popover
    </button>
  </p>
  <p>
    <button
      class="sky-btn"
      type="button"
      style="display:block;width:100%;"
      [skyPopover]="myPopover5"
      skyPopoverPlacement="above">
      Open popover
    </button>
  </p>
  <p>
    <button
      class="sky-btn"
      type="button"
      style="display:block;width:100%;"
      [skyPopover]="myPopover5"
      skyPopoverPlacement="above"
      skyPopoverAlignment="left">
      Open popover
    </button>
  </p>
  <p>
    <button
      class="sky-btn"
      type="button"
      style="display:block;width:100%;"
      [skyPopover]="myPopover5"
      skyPopoverPlacement="above"
      skyPopoverAlignment="right">
      Open popover
    </button>
  </p>
</div>
<div id="screenshot-popover-fullscreen">
    <button
    id="btn-popover-fullscreen"
    class="sky-btn"
    [skyPopover]="popoverFullscreen"
    skyPopoverPlacement="fullscreen">
    Show fullscreen popover
  </button>

  <sky-popover
    popoverTitle="This is a fullscreen popover"
    #popoverFullscreen>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere placerat mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent accumsan lacus sed volutpat pharetra. Etiam convallis elit ac odio rhoncus molestie. Pellentesque consequat porttitor magna sit amet consectetur. Donec sed accumsan urna, in dapibus erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor justo a mattis euismod. Etiam porttitor turpis quis tellus laoreet, quis eleifend diam mollis. In eget risus nulla. Nulla a elit eu lectus laoreet lobortis. Proin rhoncus libero dictum augue consequat lobortis. Vestibulum suscipit dapibus dolor sit amet facilisis. Pellentesque ullamcorper, libero id fringilla tempus, mi orci vestibulum eros, ac pulvinar nibh turpis ac nulla.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus arcu magna, at aliquet arcu pellentesque ac. Donec quis elit quis sapien tristique tincidunt. Mauris vel suscipit felis. Curabitur vestibulum vitae ipsum non tincidunt. Integer mollis congue ante. Nulla non vulputate nunc. Aenean eget est et libero venenatis faucibus. In hac habitasse platea dictumst. Suspendisse potenti. Donec interdum, tellus eu finibus auctor, felis turpis pulvinar nibh, quis gravida quam diam at risus. Integer porttitor ipsum eget vehicula vulputate.
    </p>
    <p>
      Etiam eget scelerisque tellus. Suspendisse vehicula sapien et felis dapibus varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin tincidunt suscipit nulla. Fusce ullamcorper malesuada lacus vel venenatis. Morbi venenatis mi id diam lacinia facilisis. In nec ipsum nec tortor fringilla sodales at in sapien. Nam accumsan turpis augue, in finibus ligula congue a. Nunc lobortis sem eget libero eleifend consectetur. In euismod maximus aliquam. Maecenas placerat scelerisque cursus. Fusce elementum malesuada sem in elementum. Phasellus congue mi et leo gravida tincidunt.
    </p>
    <p>
      Proin suscipit nulla tellus, ut lobortis ipsum porttitor eu. Sed pulvinar quam porttitor ligula ornare viverra. Nulla vitae metus lobortis, sagittis mauris ac, gravida diam. Fusce tincidunt massa a odio euismod maximus. Mauris eget dignissim justo. Proin quis nunc est. Duis non blandit ligula.
    </p>
    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option 1
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Option 2
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Option 3
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere placerat mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent accumsan lacus sed volutpat pharetra. Etiam convallis elit ac odio rhoncus molestie. Pellentesque consequat porttitor magna sit amet consectetur. Donec sed accumsan urna, in dapibus erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam auctor justo a mattis euismod. Etiam porttitor turpis quis tellus laoreet, quis eleifend diam mollis. In eget risus nulla. Nulla a elit eu lectus laoreet lobortis. Proin rhoncus libero dictum augue consequat lobortis. Vestibulum suscipit dapibus dolor sit amet facilisis. Pellentesque ullamcorper, libero id fringilla tempus, mi orci vestibulum eros, ac pulvinar nibh turpis ac nulla.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus arcu magna, at aliquet arcu pellentesque ac. Donec quis elit quis sapien tristique tincidunt. Mauris vel suscipit felis. Curabitur vestibulum vitae ipsum non tincidunt. Integer mollis congue ante. Nulla non vulputate nunc. Aenean eget est et libero venenatis faucibus. In hac habitasse platea dictumst. Suspendisse potenti. Donec interdum, tellus eu finibus auctor, felis turpis pulvinar nibh, quis gravida quam diam at risus. Integer porttitor ipsum eget vehicula vulputate.
    </p>
    <p>
      Etiam eget scelerisque tellus. Suspendisse vehicula sapien et felis dapibus varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin tincidunt suscipit nulla. Fusce ullamcorper malesuada lacus vel venenatis. Morbi venenatis mi id diam lacinia facilisis. In nec ipsum nec tortor fringilla sodales at in sapien. Nam accumsan turpis augue, in finibus ligula congue a. Nunc lobortis sem eget libero eleifend consectetur. In euismod maximus aliquam. Maecenas placerat scelerisque cursus. Fusce elementum malesuada sem in elementum. Phasellus congue mi et leo gravida tincidunt.
    </p>
    <p>
      Proin suscipit nulla tellus, ut lobortis ipsum porttitor eu. Sed pulvinar quam porttitor ligula ornare viverra. Nulla vitae metus lobortis, sagittis mauris ac, gravida diam. Fusce tincidunt massa a odio euismod maximus. Mauris eget dignissim justo. Proin quis nunc est. Duis non blandit ligula.
    </p>
    <sky-dropdown buttonType="context-menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">
            Option 1
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Option 2
          </button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">
            Option 3
          </button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-popover>
</div>
