/deep/
.sky-popover-container:not(.hidden) {
  animation-play-state: visible !important;
}

#screenshot-all-popovers {
  display: flex;
  flex-wrap: wrap;

  .popover-visual-container {
    padding: 10px;
  }

  /deep/
  .sky-popover-container {
    position: static !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

#screenshot-popover-placements,
#screenshot-popover-with-dropdown {
  padding: 200px 350px;
}
