<sky-demo-page pageTitle="List toolbar">
  <sky-demo-page-summary>
    The list toolbar component displays a SKY UX-themed toolbar for the list component.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="placeholder"
        defaultValue="Find in this list"
        isOptional="true"
    >
      Specifies the placeholder text for the search bar.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="searchEnabled"
        isOptional="true"
    >
      Indicates whether the search bar is enabled.
      Acceptable values: <stache-code>boolean</stache-code> or <stache-code>Observable boolean</stache-code>.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="sortSelectorEnabled"
        isOptional="true"
    >
     Indicates whether the sort selector is enabled.
     Acceptable values: <stache-code>boolean</stache-code> or <stache-code>Observable boolean</stache-code>.
    </sky-demo-page-property>

    <sky-demo-page-property
        propertyName="searchText"
        defaultValue=""
        isOptional="true"
    >
      Specifies a text string to search with.
      Acceptable values: <stache-code>string</stache-code> or <stache-code>Observable string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="toolbarType"
      defaultValue="standard"
      isOptional="true"
    >
      Specifies the type for the toolbar. If set to <stache-code>search</stache-code>, then the toolbar appears with a search component in a section above all other items.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Child components">
    <sky-demo-page-property
        propertyName="sky-list-toolbar-item"
    >
      This list toolbar item component defines a given toolbar item. It is used in conjunction with the
      list toolbar component.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="sky-list-secondary-actions"
      isOptional="true">
        Adds a dropdown to the list toolbar for secondary actions. To add items to the <stache-code>sky-list-secondary-actions</stache-code> component, add child <stache-code>sky-list-secondary-action</stache-code> components. If no <stache-code>sky-list-secondary-action</stache-code> components exist, the secondary actions dropdown is hidden.
    </sky-demo-page-property>

    <sky-demo-page-property
      propertyName="sky-list-toolbar-sort"
      isOptional="true">
      Adds a sort dropdown to the list toolbar.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List toolbar sort properties">
    <sky-demo-page-property
        propertyName="label"
    >
      Specifies the label for a sort option.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="field"
    >
      Specifies the field of the data to be sorted.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="type"
    >
      Specifies the data type of the data field to be sorted.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="descending"
    >
      Indicates whether the data should be sorted in descending or ascending order.
      Acceptable values: <stache-code>boolean</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="List toolbar item properties">
    <sky-demo-page-property
        propertyName="id"
        defaultValue="moment().toDate().getTime().toString()"
        isOptional="true"
    >
      Specifies the ID of the item.
      Acceptable values: <stache-code>string</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="index"
        defaultValue="-1"
        isOptional="true"
    >
      Specifies the index of the item at the given item location.
      Acceptable values: <stache-code>number</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="location"
        defaultValue="left"
        isOptional="true"
    >
      Specifies the toolbar location of the item.
      Acceptable values: <stache-code>'left'</stache-code>, <stache-code>'center'</stache-code>, or <stache-code>'right'</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>


  <sky-demo-page-example>
    <h3>List with standard toolbar</h3>
    <sky-list-toolbar-demo></sky-list-toolbar-demo>

    <h3>List with toolbar with custom items</h3>
    <sky-list-toolbar-demo-custom></sky-list-toolbar-demo-custom>

    <sky-demo-page-code demoName="List toolbar"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
