
<sky-list [data]="items" [defaultView]="grid">
  <sky-list-toolbar>
    <sky-list-toolbar-secondary-actions>
        <sky-list-toolbar-secondary-action *ngIf="showOption">
          <button type="button">
            Option
          </button>
        </sky-list-toolbar-secondary-action>
    </sky-list-toolbar-secondary-actions>
  </sky-list-toolbar>

  <sky-list-view-grid fit="scroll" #grid>
    <sky-grid-column field="column1" heading="Column1"></sky-grid-column>
    <sky-grid-column field="column2" heading="Column2"></sky-grid-column>
  </sky-list-view-grid>
 </sky-list>
