<sky-list [data]="items" [defaultView]="grid">
  <sky-list-toolbar>
    <sky-list-toolbar-item id="custom-item" location="left">
      <ng-template><button class="sky-btn sky-btn-default">Left</button></ng-template>
    </sky-list-toolbar-item>
    <sky-list-toolbar-item id="custom-item2" location="center" index="1">
      <ng-template><button class="sky-btn sky-btn-default">Center</button></ng-template>
    </sky-list-toolbar-item>
    <sky-list-toolbar-item
      id="custom-item3"
      location="right"
      index="1">
      <ng-template>
        <button class="sky-btn sky-btn-default">Right</button>
      </ng-template>
    </sky-list-toolbar-item>
  </sky-list-toolbar>

  <sky-list-view-grid fit="scroll" #grid>
    <sky-grid-column field="column1" heading="Column1"></sky-grid-column>
    <sky-grid-column field="column2" heading="Column2"></sky-grid-column>
  </sky-list-view-grid>
</sky-list>
