@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-grid {
  position: relative;
  display: block;
}

.sky-grid-table-container {
  overflow: auto;
}

.sky-grid-table {
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  font-size: $sky-font-size-base;
  min-width: 100%;

  &.sky-grid-fit {
    width: 100%;
  }
}

.sky-grid-tbody {
  background-color: $sky-color-white;
}

.sky-grid-row {
  @include sky-border(row, bottom);

  &:nth-child(odd) {
    background-color: $sky-color-gray-01;
  }

  .sky-grid-cell {
    padding: 0;
  }
}

.sky-grid-heading {
  @include sky-border(dark, top, bottom, left, right);
  border-right-width: 0px;

  cursor: pointer;
  background-color: $sky-color-white;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  text-align: left;

  &:first-child {
    border-left: 1px solid transparent;
  }

  &.sky-grid-header-dragging {
    padding: 8px;
    background-color: $sky-background-color-neutral-light;
  }

  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sky-grid-multiselect-cell {
  padding: 0;
  text-align: center;
  width:38px;

  ::ng-deep.sky-switch-control {
    margin: 0 auto;
  }
}

.sky-grid-selected-row td {
  background:$sky-background-color-selected;
}

.sky-grid-has-toolbar {
  .sky-grid-heading {
    border-top-width: 0px;
  }
}
/*
  This prevents grid header width from changing when sort indication changes
*/
.sky-grid-heading-sort {
  min-width: 8px;
}
