<div class="sky-grid">
  <div class="sky-grid-table-container" [style.height.px]="height" [style.width.px]="width">
    <table
      class="sky-grid-table"
      [ngClass]="{ 'sky-grid-fit': fit !== 'scroll', 'sky-grid-has-toolbar': hasToolbar }">
      <thead>
        <tr dragula="sky-grid-heading">
          <th
            scope="col"
            class="sky-grid-heading"
            *ngFor="let column of displayedColumns; let last = last"
            [style.width.px]="last ? null : column.width"
            [attr.sky-cmp-id]="column.id || column.field"
            [ngClass]="{ 'sky-grid-header-locked': column.locked }"
            (click)="sortByColumn(column)">
            {{column.heading}}
            <i
              class="fa sky-grid-heading-sort"
              [ngStyle]="{'visibility: hidden': (getSortDirection(column.field) | async)}"
              [ngClass]="{ 'fa-caret-up': (getSortDirection(column.field) | async) === 'asc', 'fa-caret-down': (getSortDirection(column.field) | async) === 'desc' }"
            >
            </i>
          </th>
        </tr>
      </thead>
      <tbody class="sky-grid-tbody">
        <tr
          class="sky-grid-row"
          *ngFor="let item of items"
          [attr.sky-cmp-id]="item.id">
          <td
            class="sky-grid-cell"
            *ngFor="let column of displayedColumns; let last = last; let i = index">
            <sky-grid-cell
              [template]="column.template || defaultCellTemplate"
              [fieldSelector]="column.field"
              [item]="item"
              [columnId]="column.id"
              [attr.sky-cmp-id]="column.id || column.field"
              [style.width.px]="last ? null : column.width">
            </sky-grid-cell>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #defaultCellTemplate let-row="row" let-value="value">{{value}}</ng-template>
