<div [style.height.px]="height" [style.width.px]="width">
  <table [ngClass]="{ 'sky-grid-fit': fit !== 'scroll' }">
    <thead>
      <tr dragula="heading">
        <th
          class="heading"
          *ngFor="let column of displayedColumns; let last = last"
          [style.width.px]="last ? null : column.width"
          [attr.sky-cmp-id]="column.id || column.field"
          [ngClass]="{ 'sky-grid-header-locked': column.locked }">
          {{column.heading}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="sky-grid-row"
        *ngFor="let item of items"
        [attr.sky-cmp-id]="item.id">
        <td
          *ngFor="let column of displayedColumns; let last = last; let i = index">
          <sky-grid-cell
            [template]="column.template || defaultCellTemplate"
            [fieldSelector]="column.field"
            [item]="item"
            [columnId]="column.id"
            [attr.sky-cmp-id]="column.id || column.field"
            [style.width.px]="last ? null : column.width">
          </sky-grid-cell>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<template #defaultCellTemplate let-row="row" let-value="value">{{value}}</template>
