<sky-demo-page title="Tiles">
  <sky-demo-page-summary>
    <p>
      The <code>sky-tile</code> directive creates a collapsible container and is the bulding block for pages and forms in a Sky UX application. The sky-tile-section directive is used to create padded sections inside a sky-tile element. Additionally, the sky-tile-header-content directive may be placed inside the sky-tile directive to add summary information to the tile. If you simply need to show a check mark indicating the tile has data, you can add a sky-tile-header-check element to the sky-tile-header-content element.
    </p>
    <p>
      When used on forms, it automatically adjusts the background color on the form and shrinks the tile header.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <div class="sky-demo-bg-gray">
      <sky-tiles-demo></sky-tiles-demo>
    </div>
    <sky-tiles-demo-code></sky-tiles-demo-code>
  </sky-demo-page-example>

</sky-demo-page>
