<sky-demo-page title="Tiles">
  <sky-demo-page-summary>
    <p>
      The <code>sky-tile</code> directive creates a collapsible container and is the bulding block for pages and forms in a SKY UX application. The <code>sky-tile-section</code> directive is used to create padded sections inside a <code>sky-tile</code> element. Additionally, the <code>sky-tile-summary</code> directive may be placed inside the <code>sky-tile</code> directive to add summary information to the tile.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <div class="sky-demo-bg-gray">
      <sky-tiles-demo></sky-tiles-demo>
    </div>
    <sky-demo-page-code demoName="Tiles"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
