<sky-demo-page title="Tiles">
  <sky-demo-page-summary>
    <p>
      The <code>sky-tile</code> directive creates a collapsible container and is the bulding block for pages and forms in a Sky UX application. The sky-tile-section directive is used to create padded sections inside a sky-tile element. Additionally, the sky-tile-header-content directive may be placed inside the sky-tile directive to add summary information to the tile. If you simply need to show a check mark indicating the tile has data, you can add a sky-tile-header-check element to the sky-tile-header-content element.
    </p>
    <p>
      When used on forms, it automatically adjusts the background color on the form and shrinks the tile header.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="alertType"
        defaultValue="warning"
        isOptional="true"
    >
      Specifies a style for the alert. The valid options are <code>success</code>,
      <code>info</code>, <code>warning</code>, and <code>danger</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="closeable"
        defaultValue="false"
        isOptional="true"
    >
      Specifies a Boolean value to indicate whether users can dismiss the alert.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="closed"
        defaultValue="false"
        isOptional="true"
    >
      For alerts that are closeable, indicates whether the alert is closed.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Events">
    <sky-demo-page-property
        propertyName="closedChange"
    >
      Fires when the user closes the alert.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <div class="sky-demo-bg-gray">
      <sky-tiles-demo></sky-tiles-demo>
    </div>
    <sky-tiles-demo-code></sky-tiles-demo-code>
  </sky-demo-page-example>

</sky-demo-page>
