<div id="screenshot-lookup-single">
  <sky-lookup
    [data]="data">
  </sky-lookup>
</div>

<div id="screenshot-lookup-single-selected">
  <sky-lookup
    [data]="data"
    [selectedItems]="[{ name: 'Purple' }]">
  </sky-lookup>
</div>

<div id="screenshot-lookup-multiple">
  <sky-lookup
    [data]="data"
    [multiple]="true">
  </sky-lookup>
</div>

<div id="screenshot-lookup-multiple-selected">
  <sky-lookup
    [data]="data"
    [multiple]="true"
    [selectedItems]="[{ name: 'Purple' }, { name: 'Teal' }]">
  </sky-lookup>
</div>

<div id="screenshot-lookup-menu-template">
  <sky-lookup
    [data]="data">
    <ng-template let-item="item">Name: {{item.name}}</ng-template>
  </sky-lookup>
</div>
