<sky-demo-page title="Time Picker">
  <sky-demo-page-summary>
    The Time Picker component is a SKY UX-themed replacement for the HTML <code>input</code> element of <code>type="time"</code>. The value that is selected is driven through the <code>ngModel</code> attribute specified on the input element.
  </sky-demo-page-summary>

  <sky-demo-page-properties>

  </sky-demo-page-properties>

  <sky-demo-page-example>
   <sky-timepicker-demo></sky-timepicker-demo>
  </sky-demo-page-example>
</sky-demo-page>
