<sky-demo-page pageTitle="Timepicker">
  <sky-demo-page-summary>
    The timepicker module contains directives to let users select times. It is a SKY UX-themed replacement for the HTML <stache-code>input</stache-code> element with <stache-code>type="time"</stache-code>.
    The value that users select is driven through the <stache-code>ngModel</stache-code> attribute
    specified on the <stache-code>input</stache-code> element.
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
      propertyName="timeFormat"
      isOptional="true"
      defaultValue="hh">
      Specifies 12-hour <stache-code>hh</stache-code> or 24-hour <stache-code>HH</stache-code> format.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="returnFormat"
      isOptional="true">
      Specifies a custom time format. See the <a href="https://momentjs.com/docs/#/displaying/format/">momentjs docs</a> for examples.
    </sky-demo-page-property>
      </sky-demo-page-properties>
<sky-demo-page-properties sectionHeading="Timepicker input directive properties">
    <sky-demo-page-property
        propertyName="skyTimepickerInput"
    >
      When this attribute is placed on an <stache-code>input</stache-code> element and wrapped in a <stache-code>sky-timepicker</stache-code> component, the input and time dropdown are created. This attribute must be set to the instance of the <stache-code>sky-timepicker</stache-code>. This directive uses <stache-code>NgModel</stache-code> to bind data.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-timepicker-demo></sky-timepicker-demo>
    <sky-demo-page-code demoName="Timepicker"></sky-demo-page-code>
  </sky-demo-page-example>
</sky-demo-page>
