<div *ngIf="!isHorizontal || isActive"
  class="sky-progress-indicator-item-heading"
  [ngClass]="{
    'sky-text-success': isComplete && !isActive && !isHorizontal,
    'sky-progress-indicator-item-passive': isPassive,
    'sky-progress-indicator-item-step': !isHorizontal && (!isComplete || isActive),
    'sky-progress-indicator-item-step-active': isActive,
    'sky-progress-indicator-item-step-complete': isComplete && !isActive && !isHorizontal
  }"
>
  <div
    class="sky-progress-indicator-item-title"
    [ngClass]="{
      'sky-emphasized': isHorizontal,
      'sky-deemphasized': isPassive && isActive
    }"
  >
    {{ displayTitle }}
  </div>
</div>
<div *ngIf="!(isHorizontal || isPassive) || isPassive && !isLastItem || isActive"
  class="sky-progress-indicator-item-line"
  [ngClass]="{
    'sky-deemphasized': isPassive,
    'sky-progress-indicator-item-horizontal': isHorizontal,
    'sky-progress-indicator-item-passive': isPassive,
    'sky-progress-indicator-item-last': isLastItem,
    'sky-progress-indicator-item-line-inactive': !isActive && !isComplete,
    'sky-progress-indicator-item-line-next-inactive': isNextToInactive
  }"
>
  <div *ngIf="isActive || isComplete"
    class="sky-progress-indicator-item-content"
  >
    <ng-content></ng-content>
  </div>
</div>
