@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-progress-indicator-item-step {
  background-color: white;
  margin-right: $sky-margin-plus-half;
  float: left;
  width: 20px;
  height: 20px;
  border: $sky-border-color-neutral-medium solid 2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.sky-progress-indicator-item-step-active {
  background-color: $sky-highlight-color-success;
  border-color: $sky-highlight-color-success !important;
}

.sky-progress-indicator-item-step-complete {
  padding-left: 2px;
  font-size: 20px;

  div {
    display: inline;
    font-size: 15px;
  }
}

.sky-progress-indicator-item-line {
  margin-left: $sky-margin;
  min-height: $sky-margin-double;
  padding-top: $sky-margin;
  padding-bottom: $sky-margin-triple;

  &.sky-progress-indicator-item-horizontal {
    padding-top: $sky-margin-double;
  }

  &.sky-progress-indicator-item-line-inactive {
    padding: 0;
  }

  &:not(.sky-progress-indicator-item-horizontal) {
    border-left: $sky-highlight-color-success solid 1px;

    &.sky-progress-indicator-item-line-next-inactive {
      border-left-color: $sky-border-color-neutral-medium;
    }

    &.sky-progress-indicator-item-last {
      border-left: none;
    }

    .sky-progress-indicator-item-content {
      display: flex;
      justify-content: center;
    }
  }
}
