@import '../../../scss/mixins';

@media (min-width: $sky-screen-sm-min) {
    .sky-page-summary-image {
        width: $sky-avatar-width + $sky-margin-double;
        flex: 0 0 $sky-avatar-width + $sky-margin-double;
    }
}

@media (max-width: $sky-screen-xs-max) {
    .sky-page-summary-image {
        width: $sky-avatar-width;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $sky-margin;
    }
}
