@import "scss/variables";

.sky-toolbar-section {
  padding: $sky-padding-half $sky-padding;
  display: flex;
  align-items: center;
  position: relative;
  min-height: $sky-toolbar-min-height;

  @media (max-width: $sky-screen-sm-max) {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}
