<sky-demo-page pageTitle="Tabs">
  <sky-demo-page-summary>
    <p>
      The tabs module contains components to render a tabset and includes options to display buttons in the tab area and to make tabs closeable.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Tabset properties">
    <sky-demo-page-property
        propertyName="active"
    >
      The index of the active tab.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tabset events">
    <sky-demo-page-property
      propertyName="activeChange"
    >
      Fires when the active tab changes. Emits the index of the active tab.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="newTab"
    >
      Fires when the user clicks the "new tab" button.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="openTab"
    >
      Fires when the user clicks the "open tab" button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab properties">
    <sky-demo-page-property
        propertyName="tabHeading"
    >
      Specifies the tab header.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="tabHeaderCount"
        isOptional="true"
    >
      Displays a counter alongside the tab header.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="tabIndex"
        isOptional="true"
    >
      The index of the tab. If not defined, it will be set to the position of the tab on load.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="disabled"
      isOptional="true"
    >
    Indicates whether to disable the tab.
    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Tab events">
    <sky-demo-page-property
        propertyName="close"
    >
      Specifying a listener for this event adds a close button to the tab.  The event fires when the user clicks the tab's close button.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-tabs-demo></sky-tabs-demo>
    <sky-demo-page-code demoName="Tabs"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
