<sky-tabset (newTab)="newTabClick()" (openTab)="openTabClick()">
  <sky-tab
      *ngFor="let tab of tabs; let i = index"
      [tabHeading]="tab.heading"
      [active]="tab.active"
      (close)="closeClick(i)"
  >
    {{tab.content}}
  </sky-tab>
  <sky-tab tabHeading="Permanent tab">
    This tab cannot be closed.
  </sky-tab>
</sky-tabset>

<h3>Tabs example with counter</h3>
<sky-tabset>
  <sky-tab
      *ngFor="let tab of tabsWithCounts; let i = index"
      [tabHeading]="tab.heading"
      [tabHeaderCount]="tab.headerCount"
      [active]="tab.active"
  >
    {{tab.content}}
  </sky-tab>
</sky-tabset>
