@import '../../scss/mixins';

.sky-list-view-checklist-item {
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px dotted $sky-color-gray-lighter;

  &:last-child {
    border-bottom-width: 0;
  }

  /deep/ sky-checkbox {
    display: block;
    position: relative;
    width: 100%;
    padding: $sky-padding;
    cursor: pointer;
  }

  /deep/ sky-checkbox-label {
    flex: 1;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding-left: $sky-padding;
  }
}
