@import '../../scss/mixins';

.sky-list-view-checklist-item {
  display: block;
  width: 100%;
  cursor: pointer;

  &:last-child {
    border-bottom-width: 0;
  }

  /deep/ sky-checkbox {
    display: block;
    position: relative;
    width: 100%;
    padding: $sky-padding;
    cursor: pointer;
    @include sky-border(row, bottom);
  }

  /deep/ sky-checkbox-label {
    flex: 1;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding-left: $sky-padding;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  /deep/ .sky-list-view-checklist-single-button {
    background-color: transparent;
    border: none;
    @include sky-border(row, bottom);
    display: block;
    text-align: left;
    margin-bottom: 0;
    padding: $sky-padding;
    width: 100%;
    cursor: pointer;
  }
  /deep/ .sky-list-view-checklist-single-button.sky-list-view-checklist-row-selected {
    background-color: $sky-background-color-selected;
  }
}
