<div class="sky-list-view-checklist" *ngIf="active | async">
  <div [ngSwitch]="selectMode">
    <ng-template ngSwitchCase="single">
      <div role="radiogroup">
        <sky-list-view-checklist-item
          *ngFor="let item of items | async"
          [item]="item"
          [attr.sky-cmp-id]="item.id">
            <button
              role="radio"
              [attr.aria-checked]="(itemSelected(item.id) | async) || false"
              type="button"
              class="sky-list-view-checklist-single-button"
              [ngClass]="{ 'sky-list-view-checklist-row-selected' : (itemSelected(item.id) | async) }"
              (click)="singleSelectRowClick(item)">
              <div class="sky-emphasized" *ngIf="item.label">{{item.label}}</div>
              <div *ngIf="item.description">{{item.description}}</div>
            </button>
        </sky-list-view-checklist-item>
      </div>
    </ng-template>

    <ng-template ngSwitchDefault>
      <sky-list-view-checklist-item
        *ngFor="let item of items | async"
        [item]="item"
        [attr.sky-cmp-id]="item.id">
          <sky-checkbox
            [checked]="itemSelected(item.id) | async"
            (change)="setItemSelection(item, $event)">
            <sky-checkbox-label>
              <div class="sky-emphasized" *ngIf="item.label" [attr.title]="item.label">
                {{item.label}}
              </div>
              <div *ngIf="item.description" [attr.title]="item.description">
                {{item.description}}
              </div>
            </sky-checkbox-label>
          </sky-checkbox>
        </sky-list-view-checklist-item>
    </ng-template>
  </div>
</div>


<ng-template #selectAllTemplate>
  <button
    class="sky-btn sky-btn-link sky-list-view-checklist-select-all"
    (click)="selectAll(); false"
  >
    {{'checklist_select_all' | skyResources}}
  </button>
</ng-template>

<ng-template #clearSelectionsTemplate>
  <button
    class="sky-btn sky-btn-link sky-list-view-checklist-clear-all"
    (click)="clearSelections(); false"
  >
    {{'checklist_clear_all' | skyResources}}
  </button>
</ng-template>
