:host {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.01);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  .sky-overlay {
    pointer-events: auto;
  }
}
