.sky-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  ::ng-deep * {
    pointer-events: auto;
  }
}

.sky-overlay-backdrop {
  background: rgba(0, 0, 0, .288);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
