<sky-demo-page title="Background Color">
  <sky-demo-page-summary>
    Sandhya Component 1 just try and get the box to change color
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="userColor"
    >
      Specifies background color <code>Red</code>,
      <code>Blue</code>, and <code>Green</code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <background-color-demo></background-color-demo>
    <sky-demo-page-code demoName="Background Color"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
