<sky-demo-page pageTitle="Toolbar">
  <sky-demo-page-summary>
    The toolbar component displays a SKY UX-themed toolbar. Use the <stache-code>sky-toolbar</stache-code> component in conjunction with the <stache-code>sky-toolbar-item</stache-code> child component.
  </sky-demo-page-summary>
  <sky-demo-page-properties sectionHeading="Toolbar child components">
    <sky-demo-page-property
      propertyName="sky-toolbar-item">
      Specifies a container for an item in the toolbar.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-toolbar-section">
      Specifies a section for items in the toolbar.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-toolbar-demo></sky-toolbar-demo>
    <sky-demo-page-code demoName="Toolbar"></sky-demo-page-code>
  </sky-demo-page-example>
    
  <sky-demo-page-content sectionHeading="UX guidelines">
    <sky-toolbar-guidelines></sky-toolbar-guidelines>
  </sky-demo-page-content>

</sky-demo-page>
