<sky-demo-page pageTitle="Toolbar">
  <sky-demo-page-summary>
    The toolbar component displays a SKY UX-themed toolbar. The <code>sky-toolbar</code> component should be used in conjunction with the <code>sky-toolbar-item</code> child component.
  </sky-demo-page-summary>
  <sky-demo-page-properties sectionHeading="Toolbar child components">
    <sky-demo-page-property
      propertyName="sky-toolbar-item">
      Specifies a container for an item in the toolbar.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="sky-toolbar-section">
      Specifies a section for items in the toolbar.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-toolbar-demo></sky-toolbar-demo>
    <sky-demo-page-code demoName="Toolbar"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
