<sky-modal>
  <sky-modal-header>
    {{title}}
  </sky-modal-header>
  <sky-modal-content>
    <div id="docs-modal-content">
      This modal can have content!
    </div>
    <label>
      Value A
      <input type="text" [(ngModel)]="context.valueA">
    </label>
    <p>
      <sky-alert *ngIf="context.eventMessage">
        {{context.eventMessage}}
      </sky-alert>
    </p>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="instance.save('Something cool')">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
