<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('defaultModal')"
>
  Open modal
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('smallModal')"
>
  Open small modal
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('largeModal')"
>
  Open large modal
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('fullScreenModal')"
>
 Open full-screen modal
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('tiledModal')"
>
  Open tiled modal
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('withHelpHeader')"
>
  Open modal with help header
</button>

<button
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openModal('withCloseConfirmation')"
>
  Open modal with close confirmation
</button>
