<sky-navbar>
  <sky-navbar-item>
    <a routerLink="/" routerLinkActive="sky-navbar-item-active">
      Selected item
    </a>
  </sky-navbar-item>
  <sky-navbar-item>
    <sky-dropdown trigger="hover">
      <sky-dropdown-button>
        Show dropdown
      </sky-dropdown-button>
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <a routerLink="/">Item 1</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/">Item 2</a>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <a routerLink="/">Item 3</a>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-navbar-item>
</sky-navbar>
