<sky-demo-page pageTitle="Dropdown">
  <sky-demo-page-summary>
    <p>
      The dropdown component renders a button that when clicked will display a menu. The menu is for a set of actions or functions. It is <strong>not a select input</strong> for a user to set the menu's value to one of the options. If you need this type of component, see <a routerLink="/design/guidelines/select-items">options for selecting items from lists</a>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="buttonType"
        isOptional="true"
        defaultValue="select"
    >
      Specifies the type of button to render as the dropdown's trigger element.  Specify <code>select</code> to display a button with text and a caret or <code>context-menu</code> to display a round button containing an ellipsis.  You can also specify a font-awesome icon as the content of the dropdown by passing the class name to the <code>buttonType</code> attribute. For example, setting <code>buttonType</code> to <code>filter</code> would set the <code>fa-filter</code> icon as the content of the dropdown button. If you use the <code>select</code> style you will need to include a <code>sky-dropdown-button</code> element to specify the text for the button.
    </sky-demo-page-property>
    <sky-demo-page-property 
        propertyName="buttonStyle"
        isOptional="true"
        defaultValue="default"
    >
      Specifies the background color of the dropdown's trigger element. if unspecified it is set to <code>default</code> for background color <code>sky-color-white</code>. Specify <code>primary</code> to change color to <code>sky-color-blue</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="label"
        isOptional="true"
    >
      Specifies the accessibility label text for the dropdown button when the dropdown button has no text.
    </sky-demo-page-property>

      <sky-demo-page-property
        propertyName="title"
        isOptional="true"
    >
      Specifies a title for the dropdown button when no text exists.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="trigger"
        isOptional="true"
        defaultValue="click"
    >
      Specifies what user action will cause the dropdown to open.  Possible values are <code>click</code> or <code>hover</code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selected"
        isOptional="true"
        defaultValue="false"
    >
      Specifies whether the card is selected.  This property only applies when the card's <code>selectable</code> property is <code>true</code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-dropdown-demo></sky-dropdown-demo>
    <sky-demo-page-code demoName="Dropdown"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
