<sky-demo-page pageTitle="Dropdown">
  <sky-demo-page-summary>
    <p>
      The dropdown component renders a button that displays a menu when users click it. The menu displays a set of actions or functions. It is <strong>not a select input</strong> for users to set the menu's value to one of the options. If you need a selection input, see the <a routerLink="/design/guidelines/select-items">options to select items from lists</a>.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-properties>
    <sky-demo-page-property
        propertyName="buttonType"
        isOptional="true"
        defaultValue="select"
    >
      Specifies the type of button to render as the dropdown's trigger element.  Specify <stache-code>select</stache-code> to display a button with text and a caret or <stache-code>context-menu</stache-code> to display a round button containing an ellipsis.  You can also specify a font-awesome icon as the content of the dropdown by passing the class name to the <stache-code>buttonType</stache-code> attribute. For example, setting <stache-code>buttonType</stache-code> to <stache-code>filter</stache-code> would set the <stache-code>fa-filter</stache-code> icon as the content of the dropdown button. If you use the <stache-code>select</stache-code> style you will need to include a <stache-code>sky-dropdown-button</stache-code> element to specify the text for the button.
    </sky-demo-page-property>
    <sky-demo-page-property 
        propertyName="buttonStyle"
        isOptional="true"
        defaultValue="default"
    >
      Specifies the background color of the dropdown's trigger element. if unspecified it is set to <stache-code>default</stache-code> for background color <stache-code>sky-color-white</stache-code>. Specify <stache-code>primary</stache-code> to change color to <stache-code>sky-color-blue</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="label"
        isOptional="true"
    >
      Specifies the accessibility label text for the dropdown button when the dropdown button has no text.
    </sky-demo-page-property>

      <sky-demo-page-property
        propertyName="title"
        isOptional="true"
    >
      Specifies a title for the dropdown button when no text exists.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="trigger"
        isOptional="true"
        defaultValue="click"
    >
      Specifies what user action will cause the dropdown to open.  Possible values are <stache-code>click</stache-code> or <stache-code>hover</stache-code>.
    </sky-demo-page-property>
    <sky-demo-page-property
        propertyName="selected"
        isOptional="true"
        defaultValue="false"
    >
      Specifies whether the card is selected.  This property only applies when the card's <stache-code>selectable</stache-code> property is <stache-code>true</stache-code>.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-dropdown-demo></sky-dropdown-demo>
    <sky-demo-page-code demoName="Dropdown"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
