<sky-demo-page pageTitle="Search">
  <sky-demo-page-summary>
    Creates an input control for users to enter search criteria.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Search properties">
    <sky-demo-page-property
      propertyName="searchText"
      isOptional="true"
    >
      Specifies search text for the input.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="placeholderText"
      isOptional="true"
      defaultValue="Find in this list">
      Specifies placeholder text for the search input.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="expandMode"
      isOptional="true"
      defaultValue="responsive"
    >
      Specifies the expand mode for the search input. The valid options are <stache-code>responsive</stache-code>, <stache-code>none</stache-code>, and <stache-code>fit</stache-code>.
      <ul>
            <li><stache-code>responsive</stache-code> The search input collapses into a button on mobile devices.</li>
            <li><stache-code>none</stache-code> The search input does not collapse into a button on mobile devices.</li>
            <li><stache-code>fit</stache-code> The search input fits the width of its container.</li>
      </ul>

    </sky-demo-page-property>

  </sky-demo-page-properties>

  <sky-demo-page-properties sectionHeading="Search events">
    <sky-demo-page-property
      propertyName="searchApply">
      Fires when the search text is applied.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchChange">
      Fires when the search text is changed.
    </sky-demo-page-property>
    <sky-demo-page-property
      propertyName="searchClear">
      Fires when the search text is cleared.
    </sky-demo-page-property>
  </sky-demo-page-properties>
  <sky-demo-page-example>
    <sky-search-demo></sky-search-demo>
    <sky-demo-page-code demoName="Search"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
