<style>
  .sky-demo-search-bar {
    position: relative;
  }
  .sky-demo-search-bar-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;

  }
</style>

<div class="sky-demo-search-bar">
  <button
    class="sky-btn sky-btn-default sky-demo-search-bar-item"
    (click)="searchApplied('Robert')"
  >
    Predefined search text
  </button>
  <sky-search
    [searchText]="searchText"
    (searchApply)="searchApplied($event)"
    >
  </sky-search>
</div>
<div>
  <sky-repeater expandMode="none">
    <sky-repeater-item *ngFor="let item of displayedItems">
      <sky-repeater-item-title>
          {{item.title}}
      </sky-repeater-item-title>
      <sky-repeater-item-content>
          <div>
          {{item.note}}
          </div>
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
</div>
