<sky-toolbar>
  <sky-toolbar-item>
    <button
      class="sky-btn sky-btn-default sky-demo-search-bar-item"
      (click)="searchApplied('Robert')"
    >
      Predefined search text
    </button>
  </sky-toolbar-item>
  <sky-toolbar-item>
    <sky-search
      [searchText]="searchText"
      (searchApply)="searchApplied($event)"
      >
    </sky-search>
  </sky-toolbar-item>
</sky-toolbar>
<div>
  <sky-repeater expandMode="none">
    <sky-repeater-item *ngFor="let item of displayedItems">
      <sky-repeater-item-title>
          {{item.title}}
      </sky-repeater-item-title>
      <sky-repeater-item-content>
          <div>
          {{item.note}}
          </div>
      </sky-repeater-item-content>
    </sky-repeater-item>
  </sky-repeater>
</div>
