@import '../../scss/mixins';

.sky-button-large-header {
  display: inline-block;
}

@media (max-width: $sky-screen-xs-max) {
  .sky-button-large-header {
    margin-left: $sky-margin-half;
    margin-right: $sky-margin-half;
  }
}

@media (min-width: $sky-screen-sm-min) {
  .sky-button-large-header {
    display: block;
    margin-bottom: $sky-margin-double;
  }
}
