@import "../../scss/variables";

.sky-checkbox-wrapper {
  cursor: pointer;
}

.sky-checkbox-wrapper input {
  opacity: 0;
  position: absolute;
  height: 22px;
  width: 22px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.sky-checkbox {
  background-color: $sky-color-white;
  border: 1px solid $sky-border-color-neutral-light;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 22px;
  text-align: center;
  font-size: 14px;
}

.sky-checkbox-wrapper input:hover + .sky-checkbox {
  border: 2px solid $sky-background-color-primary-dark;
}

.sky-checkbox-wrapper input:checked + .sky-checkbox {
  background-color: $sky-background-color-primary-dark;
  border-color: $sky-background-color-primary-dark;
  border-width: 1px;

  &:before {
    color: $sky-color-white;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 11px;
  }
}


.sky-checkbox-wrapper input:disabled + .sky-checkbox {
  background-color: $sky-background-color-neutral-light;
  border: 1px solid $sky-border-color-neutral-light;
  cursor: default;
}

.sky-checkbox-wrapper input:focus + .sky-checkbox {
  //default
  outline: thin dotted;

  //webkit
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
