<label class="sky-checkbox-wrapper" [ngClass]="{'sky-checkbox-wrapper-disabled': disabled}">
  <input type="checkbox"
        [id]="inputId"
        [checked]="checked"
        [disabled]="disabled"
        [name]="name"
        [tabIndex]="tabindex"
        [attr.aria-label]="label"
        [attr.aria-labelledby]="labelledBy"
        (blur)="onInputBlur()"
        (change)="onInteractionEvent($event)"/>
  <span class="sky-checkbox"></span>
  <ng-content select="sky-checkbox-label"></ng-content>
</label>
