@import "../../scss/variables";
@import "../../scss/mixins";

.sky-checkbox-wrapper {
  cursor: pointer;
  position: relative;
}

.sky-checkbox-wrapper.sky-checkbox-wrapper-disabled, .sky-checkbox-wrapper.sky-checkbox-wrapper-disabled input {
  cursor: default;
}

.sky-checkbox-wrapper input {
  opacity: 0;
  position: absolute;
  height: 22px;
  width: 22px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.sky-checkbox {
  background-color: $sky-color-white;
  @include sky-border(dark, top, bottom, left, right);
  display: inline-block;
  height: 22px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 22px;
  text-align: center;
  font-size: $sky-font-size-base;
  line-height: 19px;
}

.sky-checkbox-wrapper input:hover + .sky-checkbox {
  border: 2px solid $sky-background-color-primary-dark;
}

.sky-checkbox-wrapper input:checked + .sky-checkbox {
  background-color: $sky-background-color-primary-dark;
  border-color: $sky-background-color-primary-dark;
  border-width: 1px;

  &:before {
    color: $sky-color-white;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
  }
}


.sky-checkbox-wrapper input:disabled + .sky-checkbox {
  background-color: $sky-background-color-neutral-light;
  @include sky-border(light, top, bottom, left, right);
}

.sky-checkbox-wrapper input:focus + .sky-checkbox {
  @include sky-focus-outline;
}
