<h2
  class="sky-section-heading"
>
  Basic Flyout Usage
</h2>

<p>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="openSimpleFlyout()"
  >
    Open flyout
  </button>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="openFlyoutWithCutsomWidth()"
  >
    Custom width
  </button>
</p>

<h2
  class="sky-section-heading"
>
  Flyout header customization
</h2>

<p>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="openFlyoutWithUrlPermalink()"
  >
    URL permalink
  </button>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="openFlyoutWithRoutePermalink()"
  >
    Route permalink
  </button>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="openFlyoutWithPrimaryAction()"
  >
    Primary action
  </button>

  <button
    class="sky-btn sky-btn-default"
    type="button"
    (click)="openFlyoutWithIterators()"
  >
    Iterators
  </button>
</p>

<h2
  class="sky-section-heading"
>
    Programmatically close and remove flyout
</h2>

<p>
  <button
    class="sky-btn sky-btn-default"
    type="button"
    [disabled]="!flyout"
    (click)="closeAndRemoveFlyout()"
  >
    <sky-icon
      icon="trash"
    >
    </sky-icon>
    Remove
  </button>
</p>

<h2
  class="sky-section-heading"
>
  Grid with flyout
</h2>

<sky-list
  [data]="users"
  [defaultView]="grid"
>
  <sky-list-view-grid
    [rowHighlightedId]="rowHighlightedId"
    #grid
  >
    <sky-grid-column
      field="name"
      heading="Name"
      [template]="customTemplate"
    >
    </sky-grid-column>
    <sky-grid-column
      field="constituentCode"
      heading="Constituent Code"
    >
    </sky-grid-column>
    <sky-grid-column
      field="latestGift"
      heading="Latest Gift"
    >
    </sky-grid-column>
    <sky-grid-column
      field="status"
      heading="Status"
    >
    </sky-grid-column>
  </sky-list-view-grid>
</sky-list>

<ng-template
  let-row="row"
  #customTemplate
>
  <button
    class="sky-btn sky-btn-link"
    type="button"
    (click)="onNameClick(row)"
  >
    {{ row.name }}
  </button>
</ng-template>
