<sky-demo-page pageTitle="Fluid grid">
  <sky-demo-page-summary>
The fluid grid component provides a responsive 12-column layout to organize content for all device sizes. The fluid grid consists of <stache-code>sky-row</stache-code> and <stache-code>sky-column</stache-code> tags. You place column elements in row elements, and then you can specify how much of the layout to use for each column element on extra-small, small, medium, and large screens.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Sky row properties">
    <sky-demo-page-property propertyName="reverseColumnOrder" defaultValue="false" isOptional="true">
      Indicates whether to reverse the display order for columns in the row.
    </sky-demo-page-property>

  </sky-demo-page-properties>
  <sky-demo-page-properties sectionHeading="Sky column properties">
    <sky-demo-page-property propertyName="screenXSmall" isOptional="true">
      Specifies the number of columns (1-12) to use for the element on extra-small screens (less than 768px). If you do not specify a value, the fluid grid displays the column at 100% width.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="screenSmall" isOptional="true">
      Specifies the number of columns (1-12) to use for the element on small screens (768-991px). If you do not specify a value, the element inherits the screenXSmall value.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="screenMedium" isOptional="true">
      Specifies the number of columns (1-12) to use for the element on medium screens (992-1199px). If you do not specify a value, the element inherits the screenSmall value.
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="screenLarge" isOptional="true">
Specifies the number of columns (1-12) to use for the element on large screens (greater than 1200px). If you do not specify a value, the element inherits the screenMedium value.
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-fluid-grid-demo></sky-fluid-grid-demo>
    <sky-demo-page-code demoName="Fluid grid"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
