<sky-demo-page title="Fluid grid">
  <sky-demo-page-summary>
    The fluid grid component provides a 12-column layout to organize responsive content for all device sizes. The grid consists of <code>sky-row</code> and <code>sky-column</code> tags. Each column must be contained in a row, and can specify behavior for different screen sizes. On extra small screens (less than 768px) the grid displays all elements in a single column.
  </sky-demo-page-summary>

  <sky-demo-page-properties sectionHeading="Sky row properties">
    <sky-demo-page-property propertyName="reverseColumnOrder" defaultValue="false" isOptional="true">
      Indicates whether to reverse the display order for columns within this row.
    </sky-demo-page-property>

  </sky-demo-page-properties>
  <sky-demo-page-properties sectionHeading="Sky column properties">
    <sky-demo-page-property propertyName="screenSmall" isOptional="true">
      Specifies the number of columns (1-12) for the element to use on a small screen (768-991px).
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="screenMedium" isOptional="true">
      Specifies the number of columns (1-12) for the element to use on a medium screen (992-1199px).
    </sky-demo-page-property>
    <sky-demo-page-property propertyName="screenLarge" isOptional="true">
      Specifies the number of columns (1-12) for the element to use on a large screen (greater than 1200px).
    </sky-demo-page-property>
  </sky-demo-page-properties>

  <sky-demo-page-example>
    <sky-fluid-grid-demo></sky-fluid-grid-demo>
    <sky-demo-page-code demoName="Fluid Grid"></sky-demo-page-code>
  </sky-demo-page-example>

</sky-demo-page>
