<div id="screenshot-radio">
  <form
    novalidate
    [formGroup]="radioForm"
  >
    <sky-radio-group
      ariaLabelledBy="favorite-id"
      formControlName="favoriteSeason"
    >
      <p id="favorite-id">
        What is your favorite season?
      </p>
      <sky-radio *ngFor="let value of seasons"
        [disabled]="value.disabled"
        [value]="value"
      >
        <sky-radio-label>
          {{ value.name }}
        </sky-radio-label>
      </sky-radio>
    </sky-radio-group>
    <ul>
      <li>
        Selected value: {{ radioForm.value.favoriteSeason.name }}
      </li>
      <li>
        Touched? {{ radioForm.touched }}
      </li>
      <li>
        Pristine? {{ radioForm.pristine }}
      </li>
    </ul>
  </form>
  <form
    novalidate
  >
    <div id="screenshot-icon-radio">
      <ul class="sky-list-unstyled">
        <li>
          <sky-radio
            icon="thumbs-o-up"
            label="I like it"
            name="iconradiotest"
            value="1"
            [(ngModel)]="iconSelectedValue"
            #cb="ngModel"
          >
          </sky-radio>
        </li>
        <li>
          <sky-radio
            disabled="true"
            icon="balance-scale"
            label="meh"
            name="iconradiotest"
            [ngModel]="iconSelectedValue"
            [value]="valueGuy"
            (ngModelChange)="iconSelectedValue = $event"
          >
          </sky-radio>
        </li>
        <li>
          <sky-radio
            icon="thumbs-o-down"
            label="I hate it"
            name="iconradiotest"
            value="3"
            [ngModel]="iconSelectedValue"
            (ngModelChange)="iconSelectedValue = $event"
          >
          </sky-radio>
        </li>
      </ul>
    </div>
  </form>
</div>
