<form #checkForm="ngForm">
  <div id="screenshot-radio" role="radiogroup">
    <div>
      <sky-radio name="radiotest" [(ngModel)]="selectedValue" #cb="ngModel" value="1">
        <sky-radio-label>Option 1</sky-radio-label>
      </sky-radio>
    </div>

    <div>
      <sky-radio
        name="radiotest"
        [ngModel]="selectedValue"
        (ngModelChange)="selectedValue = $event"
        disabled="true"
        [value]="valueGuy">
        <sky-radio-label>Option 2</sky-radio-label>
      </sky-radio>
    </div>

    <div>
      <sky-radio name="radiotest" [ngModel]="selectedValue" (ngModelChange)="selectedValue = $event" value="3">
        <sky-radio-label>Option 3</sky-radio-label>
      </sky-radio>
    </div>
  </div>
</form>
<br />
<br />
<form [formGroup]="radioForm">
  <sky-radio-group formControlName="option">
    <sky-radio *ngFor="let value of ['1', '2', '3']"
      [value]="value"
    >
      <sky-radio-label>
        Option {{ value }}
      </sky-radio-label>
    </sky-radio>
  </sky-radio-group>
</form>
