<form #checkForm="ngForm">
  <div id="screenshot-radio">
    <div>
      <sky-radio name="radiotest" [(ngModel)]="selectedValue" #cb="ngModel" value="1">
        <sky-radio-label>Option 1</sky-radio-label>
      </sky-radio>
    </div>

    <div>
      <sky-radio
        name="radiotest"
        disabled="true"
        [ngModel]="selectedValue"
        [value]="valueGuy"
        (ngModelChange)="selectedValue = $event"
      >
        <sky-radio-label>Option 2</sky-radio-label>
      </sky-radio>
    </div>

    <div>
      <sky-radio name="radiotest" [ngModel]="selectedValue" (ngModelChange)="selectedValue = $event" value="3">
        <sky-radio-label>Option 3</sky-radio-label>
      </sky-radio>
    </div>
  </div>

  <div id="screenshot-icon-radio">
    <ul class="sky-list-unstyled">
      <li>
        <sky-radio
          icon="thumbs-o-up"
          label="I like it"
          name="iconradiotest"
          value="1"
          [(ngModel)]="iconSelectedValue"
          #cb="ngModel"
        >
        </sky-radio>
      </li>
      <li>
        <sky-radio
          disabled="true"
          icon="balance-scale"
          label="meh"
          name="iconradiotest"
          [ngModel]="iconSelectedValue"
          [value]="valueGuy"
          (ngModelChange)="iconSelectedValue = $event"
        >
        </sky-radio>
      </li>
      <li>
        <sky-radio
          icon="thumbs-o-down"
          label="I hate it"
          name="iconradiotest"
          value="3"
          [ngModel]="iconSelectedValue"
          (ngModelChange)="iconSelectedValue = $event"
        >
        </sky-radio>
      </li>
    </ul>
  </div>
</form>
