@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

$sky-nav-background-color: #2f4050 !default;
$sky-nav-color: #a7b1c2 !default;
$sky-nav-item-padding: 16px !default;
$sky-nav-selected-background-color: #293846 !default;
$sky-nav-selected-color: $sky-color-white !default;
