<!-- <table style="width:100%;height:100%;">
  <tr>
    <td colspan="2" style="text-align:center;vertical-align:top;">
      <button class="sky-btn"
        [skyPopover]="myPopover"
        skyPopoverPlacement="top">
        Top
      </button>
    </td>
  </tr>
  <tr>
    <td style="text-align:left;vertical-align:middle;">
      <button class="sky-btn"
        [skyPopover]="myPopover"
        skyPopoverPlacement="left">
        Left
      </button>
    </td>
    <td style="text-align:right;vertical-align:middle;">
      <button class="sky-btn"
        [skyPopover]="myPopover"
        skyPopoverPlacement="right">
        Right
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;vertical-align:bottom;">
      <button class="sky-btn"
        [skyPopover]="myPopover"
        skyPopoverPlacement="bottom">
        Bottom
      </button>
    </td>
  </tr>
</table>

<sky-popover #myPopover>
  The content of a popover can be text, HTML, or Angular components.
</sky-popover> -->
