<h3>
  Vertical example
</h3>

<sky-key-info>
  <sky-key-info-value>
    8
  </sky-key-info-value>
  <sky-key-info-label>
    Flavors of ice cream eaten
  </sky-key-info-label>
</sky-key-info>
<sky-key-info>
  <sky-key-info-value>
    Chocolate
  </sky-key-info-value>
  <sky-key-info-label>
    Favorite flavor
  </sky-key-info-label>
</sky-key-info>

<h3>
  Horizontal example
</h3>

<sky-key-info
  layout="horizontal">
  <sky-key-info-value>
    17
  </sky-key-info-value>
  <sky-key-info-label>
    Flavors of ice cream available
  </sky-key-info-label>
</sky-key-info>
