<h3>
  Vertical example
</h3>

<sky-fluid-grid>
  <sky-row>
    <sky-column screenXSmall="3" screenSmall="3" screenMedium="3" screenLarge="3">
      <sky-key-info>
        <sky-key-info-value>
          8
        </sky-key-info-value>
        <sky-key-info-label>
          Flavors of ice cream eaten
        </sky-key-info-label>
      </sky-key-info>
    </sky-column>
    <sky-column screenXSmall="9" screenSmall="9" screenMedium="9" screenLarge="9">
      <sky-key-info>
        <sky-key-info-value>
          Chocolate
        </sky-key-info-value>
        <sky-key-info-label>
          Favorite flavor
        </sky-key-info-label>
      </sky-key-info>
    </sky-column>
  </sky-row>
</sky-fluid-grid>

<h3>
  Horizontal example
</h3>

<sky-key-info
  layout="horizontal">
  <sky-key-info-value>
    17
  </sky-key-info-value>
  <sky-key-info-label>
    Flavors of ice cream available
  </sky-key-info-label>
</sky-key-info>
