@import "mixins";
@import "variables";

.sky-btn {
  background-color: transparent;
  border: 1px solid $sky-color-gray-lightest;
  border-radius: 3px;
  color: $sky-text-color;
  cursor: pointer;
  white-space: nowrap;
  outline-offset: -2px;
  padding: 6px 12px;
  line-height: $sky-line-height-base;
  font-size: $sky-font-size-base;

  &:hover {
    border: 1px solid $sky-color-gray-lighter;
    color: $sky-text-color;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    box-shadow: none;
  }
}

.sky-btn-default {
  background-color: #fff;
}

.sky-btn-primary {
  @include button-variant(#fff, $sky-color-blue, $sky-color-blue);
}

.sky-btn-tab {
  @include sky-btn-tab();
}

.sky-btn-tab-close {
  background-color: transparent;
  border: none;
  color: $sky-color-gray-light;
  cursor: pointer;
  line-height: 1.4;
  margin-left: $sky-margin-half;

  &:hover {
    color: $sky-color-gray;
    transition: color $sky-transition-time-short;
  }
}

.sky-btn-tab-selected {
  @include sky-btn-tab-selected;

  .sky-btn-tab-close {
    color: #fff;
  }
}

.sky-btn-tab-wizard {
  background-color: $sky-color-gray-lightest;
  border-radius: 4px;
  color: $sky-color-blue;
  line-height: 1.6em;
  margin-right: $sky-margin-half;
  padding-bottom: $sky-padding-half;
  padding-top: $sky-padding-half;

  &.sky-btn-tab-selected {
    background-color: $sky-color-green;
    color: #fff;
  }

  &.sky-btn-tab-disabled {
    color: $sky-color-gray;
    cursor: not-allowed;
  }
}
