@import "mixins";
@import "variables";

.sky-btn {
  background-color: transparent;
  @include sky-border(dark, top, bottom, left, right);
  border-radius: $sky-border-radius;
  color: $sky-text-color-default;
  cursor: pointer;
  white-space: nowrap;
  outline-offset: -2px;
  padding: 6px 12px;
  line-height: $sky-line-height-base;
  font-size: $sky-font-size-base;

  &:hover {
    @include sky-border(light, top, bottom, left, right);
    color: $sky-text-color-default;
  }

  &.sky-btn-disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    box-shadow: none;
  }
}

.sky-btn-default {
  @include sky-button-variant($sky-text-color-default, $sky-color-white, $sky-border-color-neutral-medium, $sky-background-color-neutral-light);
}

.sky-btn-primary {
  @include sky-button-variant($sky-color-white, $sky-background-color-primary-dark, $sky-background-color-primary-dark);
}

.sky-btn-link {
  color: $sky-text-color-action-primary;
  background-color: transparent;
  border-color: transparent;
}

.sky-btn-link:hover, .sky-btn-link:focus {
  color: darken($sky-text-color-action-primary, 10%);
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  outline: none;
}

.sky-btn-link-inline {
  @extend .sky-btn-link;
  font-size: inherit;
  line-height: inherit;
  display: inline;
  padding: 0;
  border: none;
  vertical-align: top;
}

.sky-btn-link-inline:hover, .sky-btn-link-inline:focus {
  border: none;
}

.sky-btn-sm {
  padding: $sky-padding-half $sky-padding;
  font-size: 12px;
  line-height: 1.5;
}

.sky-btn.sky-btn-active {
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.sky-btn-tab {
  @include sky-btn-tab();
}

.sky-btn-tab-close {
  background-color: transparent;
  border: none;
  color: $sky-text-color-deemphasized;
  cursor: pointer;
  line-height: 1.4;
  margin-left: $sky-margin-half;

  &:hover {
    color: $sky-text-color-default;
    transition: color $sky-transition-time-short;
  }
}

.sky-tab-header-count {
    font-weight: 400;
    color: $sky-text-color-action-primary;
    margin-left: $sky-margin-half;
}

.sky-btn-tab-selected {
  @include sky-btn-tab-selected;

  .sky-btn-tab-close, .sky-tab-header-count {
    color: #fff;
  }
}

.sky-btn-tab-wizard {
  background-color: $sky-color-white;
  @include sky-border(light, top, bottom, left, right);
  border-radius: $sky-border-radius;
  font-weight: 400;
  color: $sky-text-color-default;
  line-height: 1.6em;
  margin-right: $sky-margin-half;
  padding-bottom: $sky-padding-half;
  padding-top: $sky-padding-half;
  
  &:hover, &:focus {
    text-decoration: none;
    color: $sky-text-color-default;
    background-color: $sky-background-color-neutral-light;
  }

  &.sky-btn-tab-selected {
    background-color: $sky-background-color-info;
    border-color: $sky-background-color-info;
    color: $sky-text-color-default;
  }

  &.sky-btn-tab-disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: $sky-background-color-neutral-light;
    color: $sky-text-color-deemphasized;
    box-shadow: none;
  }
  
}
