@import "variables";

.sky-form-control {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid $sky-border-color;
  line-height: $sky-line-height-base;
  font-size: $sky-font-size-base;
}

.sky-form-group {
  margin-bottom: $sky-margin-half;
}
