@import "mixins";

.sky-form-control {
  width: 100%;
  padding: 6px 12px;
  @include sky-border(dark, top, bottom, left, right);
  line-height: $sky-line-height-base;
  font-size: $sky-font-size-base;
  color: $sky-text-color-default;

  &:focus {
    @include sky-field-status(active);
  }
}

.sky-form-group {
  margin-bottom: $sky-margin;
}

input.ng-invalid.ng-touched,
select.ng-invalid.submitted {
  @include sky-field-status(invalid);
}

.sky-error-label {
  margin-top: $sky-margin-half;
  color: $sky-text-color-default;
}

.sky-error-label::before {
  content: "\f071";
  font-family: FontAwesome;
  margin-right: 5px;
  color: $sky-highlight-color-danger;
}

.sky-control-label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: $sky-margin-half;
  max-width: 100%;
}

.sky-control-label-required:after {
  @include sky-required-field;
}

// turning off normalized CSS from normalize
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.sky-switch {
  cursor: pointer;
  display: inline-flex;
  white-space: nowrap;

  &:hover .sky-switch-control {
    border-color: $sky-highlight-color-info;
    border-width: 2px;
  }
}

.sky-switch-disabled {
  cursor: default;

  input {
    cursor: default;
  }
}

.sky-switch-input {
  position: absolute;
  opacity: 0;

  &:checked + .sky-switch-control {
    background-color: $sky-background-color-info-light;
    border-color: $sky-highlight-color-info;
    border-width: 2px;
  }

  &:disabled + .sky-switch-control {
    background-color: $sky-background-color-disabled;
    border-color: transparent;
  }

  &:focus + .sky-switch-control {
    @include sky-focus-outline;
  }
}

.sky-switch-control {
  width: $sky-switch-size;
  max-width: $sky-switch-size;
  height: $sky-switch-size;
  flex: 1 0 $sky-switch-size;
  margin: auto;
  margin-right: 5px;
  display: inline-flex;
  position: relative;
  border: 1px solid $sky-background-color-disabled;
  background-color: $sky-color-white;
  color: $sky-text-color-default;
  text-align: center;
  line-height: 1;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
  }
}

.sky-switch-label {
  line-height: $sky-switch-size;
  flex: 1 1 auto;
  width: 100%;
}
