@import "mixins";

.sky-input-group {
  position: relative; // For dropdowns
  display: table;
  border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

  .sky-form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;

    width: 100%;
    margin-bottom: 0;
  }
}

// Display as table-cell
.sky-input-group-btn,
.sky-input-group .sky-form-control {
  display: table-cell;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

// Addon and addon wrapper for buttons
.sky-input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}

// Reset rounded corners
.sky-input-group .sky-form-control:first-child,
.sky-input-group-btn:first-child > .sky-btn,
.sky-input-group-btn:last-child > .sky-btn:not(:last-child) {
  @include sky-border-right-radius(0);
}

.sky-input-group .sky-form-control:last-child,
.sky-input-group-btn:last-child > .sky-btn,
.sky-input-group-btn:first-child > .sky-btn:not(:first-child) {
  @include sky-border-left-radius(0);
}

// Button input groups
.sky-input-group-btn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .sky-btn {
    position: relative;
    + .sky-btn {
      margin-left: -1px;
    }
    // Bring the "active" button to the front
    &:focus {
      z-index: 2;
    }
  }

  // Negative margin to only have a 1px border between the two
  &:first-child {
    > .sky-btn {
      margin-right: -1px;
    }
  }
  &:last-child {
    > .sky-btn {
      margin-left: -1px;
    }
  }
}
