@import "mixins";

.sky-input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;

  > .sky-form-control {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 1%;
    align-items: center;
    z-index: 2;
  }
}

.sky-input-group-btn {
  position: relative;
  display: flex;
  align-items: stretch;
  white-space: nowrap;

  &:first-child > .sky-btn,
  &:last-child > .sky-btn:not(:last-child) {
    @include sky-border-right-radius(0);
  }

  &:not(:first-child):not(:last-child) > .sky-btn {
    border-radius: 0;
  }

  &:last-child > .sky-btn,
  &:first-child > .sky-btn:not(:first-child),
  &:not(:first-child) > .sky-btn {
    @include sky-border-left-radius(0);
  }

  & > .sky-btn {
    margin-left: -1px;
  }
}
