@import "variables";

@mixin sky-shadow (
  $h-shadow: 0px,
  $v-shadow: 0px,
  $blur: 5px,
  $spread-radius: 0,
  $color: rgba(0, 0, 0, 0.3)
) {
  box-shadow: $h-shadow $v-shadow $blur $spread-radius $color;
}

@mixin sky-border($type, $sides...) {
    @if(length($sides) == 0) {
        @if($type != "tile") {
            $sides: "bottom";
        } @else {
            $sides: "top";
        }
    }

    @each $side in $sides {
      @if($type == "light") {
          border-#{$side}: 1px solid $sky-border-color;
      }

      @if($type == "dark") {
          border-#{$side}: 1px solid $sky-color-gray-lighter;
      }

      @if($type == "nav") {
          border-#{$side}: $sky-nav-selected-border-width solid $sky-color-blue;
      }

      @if($type == "tab") {
          border-#{$side}: 2px solid $sky-color-blue;
      }

      @if($type == "tile") {
          border-top: 4px solid $sky-border-color;
      }

      @if($type == "row") {
          border-#{$side}: 1px dotted $sky-color-gray-lighter;
      }
    }
}

@mixin sky-headline {
  font: 400 $sky-alternate-font-size-sm $sky-font-family-narrow;
  color: $sky-text-color;
}

@mixin sky-field-label {
  font: 400 $sky-font-size-base $sky-font-family-base;
  color: $sky-text-deemphasized-color;
}

@mixin sky-btn-tab {
  background-color: transparent;
  border: none;
  border-radius: 4px 4px 0 0;
  color: $sky-color-gray;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1.8;
  padding: $sky-padding-3_4 $sky-padding-plus-half;

  &:hover {
    background-color: $sky-color-gray-lightest;
    color: $sky-color-gray;
  }
}

@mixin sky-btn-tab-selected {
  background-color: $sky-color-blue;
  color: #fff;

  &:hover {
    background-color: $sky-color-blue;
    color: #fff;
  }
}

@mixin sky-experimental($property, $value,
  $moz      : $sky-experimental-support-for-mozilla,
  $webkit   : $sky-experimental-support-for-webkit,
  $o        : $sky-experimental-support-for-opera,
  $ms       : $sky-experimental-support-for-microsoft,
  $khtml    : $sky-experimental-support-for-khtml,
  $official : true
) {
  @if $webkit  and $sky-experimental-support-for-webkit    { -webkit-#{$property} : $value; }
  @if $khtml   and $sky-experimental-support-for-khtml     {  -khtml-#{$property} : $value; }
  @if $moz     and $sky-experimental-support-for-mozilla   {    -moz-#{$property} : $value; }
  @if $ms      and $sky-experimental-support-for-microsoft {     -ms-#{$property} : $value; }
  @if $o       and $sky-experimental-support-for-opera     {      -o-#{$property} : $value; }
  @if $official                                        {         #{$property} : $value; }
}

@mixin sky-ellipsis($no-wrap: true) {
  @if $no-wrap { white-space: nowrap; }
  overflow: hidden;
  @include sky-experimental(text-overflow, ellipsis,
    not(-moz),
    not(-webkit),
    -o,
    -ms,
    not(-khtml),
    official
  );
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }
}

@mixin sky-button-primary {
  background-color: $sky-color-blue;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: $sky-color-blue;
  border-radius: 3px;
  color: $sky-color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $sky-font-family-base;
  font-size: $sky-font-size-md;
  font-weight: normal;
  line-height: 1.42857;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
  touch-action: manipulation;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $sky-color-blue-dark;
    border-color: $sky-color-blue-darker;
    color: $sky-color-white;
    text-decoration: none;
  }

  &[disabled] {
    color: $sky-button-primary-color-disabled;
    pointer-events: none;
    opacity: 0.65;
  }
}

@mixin sky-button-secondary {
  @include sky-button-primary;

  background-color: $sky-color-white;
  border-color: $sky-button-secondary-border;
  color: $sky-color-black;

  &:hover,
  &:focus,
  &:active {
    background-color: $sky-color-white;
    border-color: $sky-button-secondary-border-active;
    color: $sky-color-black;
    text-decoration: none;
  }
}

@mixin sky-button-link {
  @include sky-button-primary;

  background-color: transparent;
  border-color: transparent;
  color: $sky-button-link-color;
  padding: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border-color: transparent;
    color: $sky-button-link-color-active;
    text-decoration: underline;
  }
}

@mixin sky-context-menu-button {
  @include sky-button-primary;

  background-color: $sky-context-menu-background;
  border-color: $sky-context-menu-button-border;
  border-radius: 50%;
  color: $sky-context-menu-color;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;

  i {
    margin-top: 6px;
  }

  &:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.15) inset;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $sky-context-menu-background;
    border-color: $sky-context-menu-button-border;
    color: $sky-context-menu-color;
  }
}

@mixin sky-search-bar {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;

  input {
    font-size: 12px;
    float: left;
    height: 26px;
    width: 100%;
    border: 1px solid $sky-color-gray-lighter;
    outline: none;
    -webkit-appearance: none;

    &:focus {
      box-shadow: 3px 0 8px 0 $sky-search-bar-outline-color;
      border: 1px solid $sky-color-blue;
      border-right: none;
    }

    &[type='text'] {
      padding-left: 5px;
      padding-right: 30px;
    }

    &::-webkit-input-placeholder {
        font-style: italic;
    }
    &:-moz-placeholder {
        font-style: italic;
    }
    &::-moz-placeholder {
        font-style: italic;
    }
    &:-ms-input-placeholder {
        font-style: italic;
    }
  }

  button {
    @include sky-button-link;

    height: 30px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 30px;
  }
}

@mixin sky-link() {
  color: $sky-color-blue;
  text-decoration: none;

  &:hover, &:visited, &:active {
    color: $sky-button-link-color-active;
  }
}

@mixin sky-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  .ng-invalid:not(.ng-pristine):not(.validation-in-progress) {
    box-shadow: 0 0 8px $sky-form-error-shadow-color;
    border: 1px solid $sky-form-error-border-color;
    outline: none;
  }

  .error {
    color: $sky-form-error-color;
    margin: 1px 0 2px;
  }

  label {
    margin-bottom: 5px;

    &.control-label {
      &.required::after {
        content: '*';
        color: $sky-color-red;
        margin-left: 5px
      }
    }
  }
}

@mixin sky-form-control {
  height: 34px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $sky-text-color;
  background-color: $sky-color-white;
  background-image: none;
  border: 1px solid $sky-color-gray-lighter;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus,
  &:active {
    border-color: $sky-form-color-active;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    font-weight: 400;
  }
}

@mixin sky-button-primary {
  background-color: $sky-color-blue;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: $sky-color-blue;
  border-radius: 3px;
  color: $sky-color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $sky-font-family-base;
  font-size: $sky-font-size-md;
  font-weight: normal;
  line-height: 1.42857;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
  touch-action: manipulation;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $sky-color-blue-dark;
    border-color: $sky-color-blue-darker;
    color: $sky-color-white;
    text-decoration: none;
  }

  &[disabled] {
    color: $sky-button-primary-color-disabled;
    pointer-events: none;
    opacity: 0.65;
  }
}

@mixin sky-button-secondary {
  @include sky-button-primary;

  background-color: $sky-color-white;
  border-color: $sky-button-secondary-border;
  color: $sky-color-black;

  &:hover,
  &:focus,
  &:active {
    background-color: $sky-color-white;
    border-color: $sky-button-secondary-border-active;
    color: $sky-color-black;
    text-decoration: none;
  }
}

@mixin sky-button-link {
  @include sky-button-primary;

  background-color: transparent;
  border-color: transparent;
  color: $sky-button-link-color;
  padding: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border-color: transparent;
    color: $sky-button-link-color-active;
    text-decoration: underline;
  }
}

@mixin sky-context-menu-button {
  @include sky-button-primary;

  background-color: $sky-context-menu-background;
  border-color: $sky-context-menu-button-border;
  border-radius: 50%;
  color: $sky-context-menu-color;
  cursor: pointer;
  padding: 0;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;

  i {
    margin-top: 6px;
  }

  &:active {
    box-shadow: 0 2px 5px rgba(0,0,0,0.15) inset;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $sky-context-menu-background;
    border-color: $sky-context-menu-button-border;
    color: $sky-context-menu-color;
  }
}

@mixin sky-search-bar {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;

  input {
    font-size: 12px;
    float: left;
    height: 26px;
    width: 100%;
    border: 1px solid $sky-color-gray-lighter;
    outline: none;
    -webkit-appearance: none;

    &:focus {
      box-shadow: 3px 0 8px 0 $sky-search-bar-outline-color;
      border: 1px solid $sky-color-blue;
      border-right: none;
    }

    &[type='text'] {
      padding-left: 5px;
      padding-right: 30px;
    }

    &::-webkit-input-placeholder {
        font-style: italic;
    }
    &:-moz-placeholder {
        font-style: italic;
    }
    &::-moz-placeholder {
        font-style: italic;
    }
    &:-ms-input-placeholder {
        font-style: italic;
    }
  }

  button {
    @include sky-button-link;

    height: 30px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 30px;
  }
}

@mixin sky-link() {
  color: $sky-color-blue;
  text-decoration: none;

  &:hover, &:visited, &:active {
    color: $sky-button-link-color-active;
  }
}

@mixin sky-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  .ng-invalid:not(.ng-pristine):not(.validation-in-progress) {
    box-shadow: 0 0 8px $sky-form-error-shadow-color;
    border: 1px solid $sky-form-error-border-color;
    outline: none;
  }

  .error {
    color: $sky-form-error-color;
    margin: 1px 0 2px;
  }

  label {
    margin-bottom: 5px;

    &.control-label {
      &.required::after {
        content: '*';
        color: $sky-color-red;
        margin-left: 5px
      }
    }
  }
}

@mixin sky-form-control {
  height: 34px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $sky-text-color;
  background-color: $sky-color-white;
  background-image: none;
  border: 1px solid $sky-color-gray-lighter;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus,
  &:active {
    border-color: $sky-form-color-active;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    font-weight: 400;
  }
}
