@import "variables";

@mixin sky-shadow (
  $h-shadow: 0px,
  $v-shadow: 0px,
  $blur: 5px,
  $spread-radius: 0,
  $color: rgba(0, 0, 0, 0.3)
) {
  box-shadow: $h-shadow $v-shadow $blur $spread-radius $color;
}

@mixin sky-border($type, $sides...) {
    @if(length($sides) == 0) {
        @if($type != "tile") {
            $sides: "bottom";
        } @else {
            $sides: "top";
        }
    }

    @each $side in $sides {
      @if($type == "light") {
          border-#{$side}: 1px solid $sky-border-color;
      }

      @if($type == "dark") {
          border-#{$side}: 1px solid $sky-color-gray-lighter;
      }

      @if($type == "nav") {
          border-#{$side}: $sky-nav-selected-border-width solid $sky-color-blue;
      }

      @if($type == "tab") {
          border-#{$side}: 2px solid $sky-color-blue;
      }

      @if($type == "tile") {
          border-top: 4px solid $sky-border-color;
      }

      @if($type == "row") {
          border-#{$side}: 1px dotted $sky-color-gray-lighter;
      }
    }
}

@mixin sky-headline {
  font: 400 $sky-alternate-font-size-sm $sky-font-family-narrow;
  color: $sky-text-color;
}

@mixin sky-field-label {
  font: 400 $sky-font-size-base $sky-font-family-base;
  color: $sky-text-deemphasized-color;
}

@mixin sky-btn-tab {
  background-color: transparent;
  border: none;
  border-radius: 4px 4px 0 0;
  color: $sky-color-gray;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  line-height: 1.8;
  padding: $sky-padding-3_4 $sky-padding-plus-half;

  &:hover {
    background-color: $sky-color-gray-lightest;
  }
}

@mixin sky-btn-tab-selected {
  background-color: $sky-color-blue;
  color: #fff;

  &:hover {
    background-color: $sky-color-blue;
  }
}
