@import "variables";
* {
  box-sizing: border-box;
}

body,
form,
html {
  font-size: $sky-font-size-base;
  font-family: $sky-font-family-base;
}

body {
  background-color: $sky-body-background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-family: $sky-font-family-base;
  line-height: 1.1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-family: $sky-font-family-narrow;
  font-size: 32px;
}

[hidden] {
  display: none !important;
}

a {
  color: $sky-link-color;
  text-decoration: none;

  &:hover {
    color: scale-color($color: $sky-link-color, $lightness: -20%);
  }
}

button {
  &:active {
    outline: 0;
    background-image: none;
  }
}

select {
  background-color: #fff;
  background-image: none;
  border: 1px solid $sky-color-gray-lighter;
  border-radius: 1px;
  font-size: $sky-font-size-base;
  height: 34px;
  padding: $sky-padding-half $sky-padding;
}

.sky-container {
  margin: 0 auto;
  padding: 0 $sky-padding-plus-half;
}

@media (min-width: $sky-screen-sm-min) {
  .sky-container {
    width: $sky-screen-sm-min - 10;
  }
}

@media (min-width: $sky-screen-md-min) {
  .sky-container {
    width: $sky-screen-md-min - 20;
  }
}

@media (min-width: $sky-screen-lg-min) {
  .sky-container {
    width: $sky-screen-lg-min - 10;
  }
}

.sky-pull-right {
  float: right;
}

.sky-list-unstyled {
  list-style: none;
  padding: 0;

  li {
    padding-bottom: $sky-padding-half;
  }
}
