@import "variables";
* {
  box-sizing: border-box;
}

body,
form,
html {
  font-size: $sky-font-size-base;
  font-family: $sky-font-family;
}

body {
  background-color: $sky-background-color-neutral-light;
  color: $sky-text-color-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  font-size: 26px;
  font-weight: 300;
}

h3 {
  font-size: 19px;
  color: $sky-text-color-deemphasized;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 34px;
  font-weight: 300;
}

[hidden] {
  display: none !important;
}

a {
  color: $sky-text-color-action-primary;
  text-decoration: none;

  &:hover {
    color: darken($sky-text-color-action-primary, 10%);
    text-decoration: underline;
  }
}

button {
  &:active {
    outline: 0;
    background-image: none;
  }
}

select {
  background-color: #fff;
  background-image: none;
  @include sky-border(light, top, bottom, left, right);
  border-radius: 1px;
  font-size: $sky-font-size-base;
  height: 34px;
  padding: $sky-padding-half $sky-padding;
}

.sky-container {
  margin: 0 auto;
  padding: 0 $sky-padding-plus-half;
}

@media (min-width: $sky-screen-sm-min) {
  .sky-container {
    width: $sky-screen-sm-min - 10;
  }
}

@media (min-width: $sky-screen-md-min) {
  .sky-container {
    width: $sky-screen-md-min - 20;
  }
}

@media (min-width: $sky-screen-lg-min) {
  .sky-container {
    width: $sky-screen-lg-min - 10;
  }
}

.sky-pull-right {
  float: right;
}

.sky-list-unstyled {
  list-style: none;
  padding: 0;

  li {
    padding-bottom: $sky-padding-half;
  }
}

mark.sky-highlight-mark {
  background-color: $sky-highlight-color-warning;
  color: $sky-text-color-default;
}

[role="button"] {
  cursor: pointer;
}

/* Placeholder Text */
::-webkit-input-placeholder {
    @include sky-deemphasized;
    opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
    @include sky-deemphasized;
    opacity: 1;
}

input:-moz-placeholder { /* Firefox 18- */
    @include sky-deemphasized;
    opacity: 1;
}

:-ms-input-placeholder { /* IE */
    @include sky-deemphasized;
    opacity: 1;
}
/* End Placeholder Text */
