@import "mixins";

.sky-page-heading {
  @include sky-page-heading();
}

.sky-section-heading {
  @include sky-section-heading();
}

.sky-subsection-heading {
  @include sky-subsection-heading();
}

.sky-headline {
  @include sky-headline();
}

.sky-emphasized {
  @include sky-emphasized();
}

.sky-deemphasized {
  @include sky-deemphasized();
}

.sky-field-label {
  @include sky-field-label();
}

// Status text
.sky-text-success {
    color: $sky-text-color-default;
}

.sky-text-success::before {
    content: "\f00c";
	font-family: FontAwesome;
	margin-right: 5px;
	color: $sky-highlight-color-success;
}

.sky-text-warning {
    color: $sky-text-color-default;
}

.sky-text-warning::before {
    content: "\f071";
	font-family: FontAwesome;
	margin-right: 5px;
	color: $sky-highlight-color-warning;
}

.sky-text-danger {
    color: $sky-text-color-default;
}

.sky-text-danger::before {
  @include sky-danger;
}