$sky-wait-color: $sky-highlight-color-success !default;
$sky-wait-mask-color: rgba(255, 255, 255, 0.7) !default;
$sky-page-wait-z-index: 2000 !default;
$sky-component-wait-z-index: 1000 !default;
$sky-dropdown-z-index: 999 !default;
$sky-flyout-z-index: 1001 !default; // omnibar is 1000, help is 9999:
$sky-toaster-z-index: 1051 !default;
