@import '~@blackbaud/skyux-design-tokens/scss/variables.scss';

$sky-font-family: "Blackbaud Sans", "Helvetica Neue", Arial, sans-serif !default;
$sky-font-family-condensed: "Blackbaud Sans Condensed", "Helvetica Neue Condensed", "Arial Narrow" !default;

$sky-padding: 10px !default;
$sky-padding-half: $sky-padding / 2 !default;
$sky-padding-3_4: floor(($sky-padding * 0.75)) !default;
$sky-padding-plus-half: $sky-padding + $sky-padding-half !default;
$sky-padding-double: $sky-padding * 2 !default;
$sky-padding-triple: $sky-padding * 3 !default;

$sky-margin: 10px !default;
$sky-margin-half: $sky-margin / 2 !default;
$sky-margin-3_4: floor(($sky-margin * 0.75)) !default;
$sky-margin-plus-half: $sky-margin + $sky-margin-half !default;
$sky-margin-double: $sky-margin * 2 !default;
$sky-margin-triple: $sky-margin * 3 !default;

$sky-nav-background-color: #2f4050 !default;
$sky-nav-color: #a7b1c2 !default;
$sky-nav-selected-color: $sky-color-white !default;
$sky-nav-selected-background-color: #293846 !default;
$sky-nav-item-padding: 16px !default;
$sky-nav-selected-border-width: 4px !default;

$sky-line-height-base: 1.428571429 !default;

$sky-font-size-base: 15px !default;

$sky-border-radius: 3px;

// begin transitions
$sky-transition-time-short: 150ms !default;
$sky-transition-time-medium: 250ms !default;
$sky-transition-time-long: 500ms !default;
// end transitions

//begin tile
$sky-tile-header-tool-padding: $sky-padding-plus-half !default;
$sky-tile-form-background: #F2F2F2 !default;
//end tile

// begin context menu
$sky-context-menu-size: 24px !default;
// end context menu

$sky-screen-sm-min: 768px;
$sky-screen-md-min: 992px;
$sky-screen-lg-min: 1200px;

$sky-screen-xs-max: $sky-screen-sm-min - 1;
$sky-screen-sm-max: $sky-screen-md-min - 1;
$sky-screen-md-max: $sky-screen-lg-min - 1;

// begin color palette
$sky-palette-multi: (
  scale-color($sky-color-blue-50, $lightness: 8%),
  scale-color($sky-color-yellow-50, $lightness: 12%),
  scale-color($sky-color-green-50, $lightness: 8%),
  scale-color($sky-color-purple-50, $lightness: 26%, $saturation: -30%),
  scale-color($sky-color-teal-50, $lightness: 8%),
  scale-color($sky-color-red-50, $lightness: 12%),
  scale-color($sky-color-gray-70, $lightness: 28%),
  scale-color($sky-color-blue-50, $lightness: 48%),
  scale-color($sky-color-yellow-50, $lightness: 42%),
  scale-color($sky-color-green-50, $lightness: 48%),
  scale-color($sky-color-purple-50, $lightness: 56%, $saturation: -30%),
  scale-color($sky-color-teal-50, $lightness: 48%),
  scale-color($sky-color-red-50, $lightness: 42%),
  scale-color($sky-color-gray-70, $lightness: 48%)
);

$sky-palette-mono: (
  scale-color($sky-color-blue-50, $lightness: -25%),
  $sky-color-blue-50,
  scale-color($sky-color-blue-50, $lightness: 25%),
  scale-color($sky-color-blue-50, $lightness: 50%),
  scale-color($sky-color-blue-50, $lightness: 75%)
);
// end color palette

// begin avatar
$sky-avatar-height: 100px !default;
$sky-avatar-width: $sky-avatar-height !default;
$sky-avatar-border-width: 2px !default;
// end avatar

// begin dropdown
$sky-dropdown-z-index: 1000 !default;
// end dropdown

// begin fluid grid
$sky-fluid-grid-gutter: 15px !default;
$sky-fluid-grid-columns: 12 !default;
// end fluid grid

// begin grid
$sky-grid-odd-background-color: $sky-color-gray-01 !default;
$sky-grid-even-background-color: $sky-color-white !default;
$sky-grid-header-background-color: $sky-color-white !default;
$sky-grid-header-dragging-background-color: $sky-background-color-neutral-light !default;
// end grid

// begin search
$sky-search-background-color: $sky-color-white !default;
$sky-search-width: 300px !default;
// end search

// begin tabs
$sky-tab-btn-padding-top-bottom: 8px !default;
$sky-tab-btn-padding-left-right: 16px !default;
// end tabs

// begin toolbar
$sky-toolbar-background-color: $sky-color-white !default;
$sky-toolbar-min-height: 49px;
// end toolbar

// begin wait
$sky-wait-color: $sky-highlight-color-success !default;
$sky-wait-mask-color: rgba(255, 255, 255, 0.7) !default;
$sky-page-wait-z-index: 2000 !default;
$sky-component-wait-z-index: 1000 !default;
// end wait

// Support for mozilla in experimental css3 properties (-moz).
$sky-experimental-support-for-mozilla      : true !default;
// Support for webkit in experimental css3 properties (-webkit).
$sky-experimental-support-for-webkit       : true !default;
// Support for opera in experimental css3 properties (-o).
$sky-experimental-support-for-opera        : true !default;
// Support for microsoft in experimental css3 properties (-ms).
$sky-experimental-support-for-microsoft    : true !default;
// Support for khtml in experimental css3 properties (-khtml).
$sky-experimental-support-for-khtml        : false !default;
