@import '../../scss/mixins';

/*  On iOS, the input will zoom when focused,
    setting the font-size to 16px prevents this
*/
@media (max-width: $sky-screen-xs-max) {
    .sky-email-validation-input, .sky-email-validation-btn-apply, .sky-email-validation-btn-clear {
        font-size: 16px;
    }
}

.sky-email-validation-input{
    width: 300px;
    height: 50px;
    display: flex;
    border-radius: 6px;
    padding-right: 6px;
    padding-left: 18px;
    background-color: $sky-color-white
}