<table>
  <thead>
    <tr *ngIf="readOnly">
      <th>{{'link_records_item_diff_header_field' | skyResources}}</th>
      <th>{{'link_records_item_diff_header_current_value' | skyResources}}</th>
    </tr>
    <tr *ngIf="!readOnly">
      <th>{{'link_records_item_diff_header_new_value' | skyResources}}</th>
      <th class="link-records-item-diff-update">{{'link_records_item_diff_header_update' | skyResources}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fieldValue of fieldValues | async; trackBy: trackByFieldKey" [attr.cmp-id]="fieldValue.field?.key">
      <td *ngIf="readOnly && fieldValue.field">{{ fieldValue.field.label }}</td>
      <td *ngIf="readOnly && fieldValue.field" class="link-records-item-diff-value" [class.item-deemphasized]="fieldValue.selected" [class.item-highlighted]="!fieldValue.selected">{{ fieldValue.field.currentValue || ('link_records_item_diff_content_no_value' | skyResources) }}</td>
      <td *ngIf="!readOnly && fieldValue.field" class="link-records-item-diff-value" [class.item-deemphasized]="!fieldValue.selected" [class.item-highlighted]="fieldValue.selected">{{ fieldValue.field.newValue }}</td>
      <td *ngIf="!readOnly && fieldValue.field" class="link-records-item-diff-update">
        <sky-checkbox [checked]="fieldValue.selected" (change)="setFieldSelected(fieldValue.field.key, $event)"></sky-checkbox>
      </td>
    </tr>
  </tbody>
</table>
