<table>
  <thead>
    <tr *ngIf="readOnly">
      <th class="sky-field-label sky-padding-even-default">{{'link_records_item_diff_header_field' | skyResources}}</th>
      <th class="sky-field-label sky-padding-even-default">{{'link_records_item_diff_header_current_value' | skyResources}}</th>
    </tr>
    <tr *ngIf="!readOnly">
      <th class="sky-field-label sky-padding-even-default">{{'link_records_item_diff_header_new_value' | skyResources}}</th>
      <th class="link-records-item-diff-update sky-field-label sky-padding-even-default">{{'link_records_item_diff_header_update' | skyResources}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fieldValue of fieldValues | async; trackBy: trackByFieldKey" [attr.cmp-id]="fieldValue.field?.key">
      <td *ngIf="readOnly && fieldValue.field" class="sky-padding-even-default">{{ fieldValue.field.label }}</td>
      <td *ngIf="readOnly && fieldValue.field" class="link-records-item-diff-value sky-padding-even-default" [ngClass]="{'item-deemphasized sky-deemphasized': fieldValue.selected, 'item-highlighted': !fieldValue.selected}">{{ fieldValue.field.currentValue || ('link_records_item_diff_content_no_value' | skyResources) }}</td>
      <td *ngIf="!readOnly && fieldValue.field" class="link-records-item-diff-value sky-padding-even-default" [class.item-deemphasized]="!fieldValue.selected" [class.item-highlighted]="fieldValue.selected">{{ fieldValue.field.newValue }}</td>
      <td *ngIf="!readOnly && fieldValue.field" class="link-records-item-diff-update sky-padding-even-default">
        <sky-checkbox [checked]="fieldValue.selected" (change)="setFieldSelected(fieldValue.field.key, $event)"></sky-checkbox>
      </td>
    </tr>
  </tbody>
</table>
