<table>
  <thead>
    <tr *ngIf="readOnly">
      <th>Field</th>
      <th>Current value</th>
    </tr>
    <tr *ngIf="!readOnly">
      <th>New value</th>
      <th class="link-records-item-diff-update">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fieldValue of fieldValues | async; trackBy: trackByFieldKey" [attr.cmp-id]="fieldValue.field?.key">
      <td *ngIf="readOnly && fieldValue.field">{{ fieldValue.field.label }}</td>
      <td *ngIf="readOnly && fieldValue.field" class="link-records-item-diff-value" [class.item-deemphasized]="fieldValue.selected" [class.item-highlighted]="!fieldValue.selected">{{ fieldValue.field.currentValue }}</td>
      <td *ngIf="!readOnly && fieldValue.field" class="link-records-item-diff-value" [class.item-deemphasized]="!fieldValue.selected" [class.item-highlighted]="fieldValue.selected">{{ fieldValue.field.newValue }}</td>
      <td *ngIf="!readOnly && fieldValue.field" class="link-records-item-diff-update">
        <sky-checkbox [checked]="fieldValue.selected" (change)="setFieldSelected(fieldValue.field.key, $event)"></sky-checkbox>
      </td>
    </tr>
  </tbody>
</table>
