<div id="screenshot-filter-button">
  <sky-filter-button
    [active]="filtersActive"
    (filterButtonClick)="filtersActive = !filtersActive"
    [showButtonText]="false">
  </sky-filter-button>
</div>

<div id="screenshot-filter-button-text">
  <sky-filter-button
    [active]="filtersActive"
    (filterButtonClick)="filtersActive = !filtersActive"
    [showButtonText]="true">
  </sky-filter-button>
</div>

<div id="screenshot-filter-summary">
  <sky-toolbar>
    <sky-toolbar-section>
      <sky-filter-summary>
        <sky-filter-summary-item
          *ngFor="let item of appliedFilters; let i = index"
          [dismissible]="item.dismissible">
          {{item.label}}
        </sky-filter-summary-item>
      </sky-filter-summary>
    </sky-toolbar-section>
  </sky-toolbar>
</div>

<div id="screenshot-filter-inline">
  <sky-filter-inline>
    <sky-filter-inline-item>
      <label for="sky-demo-select-type">Fruit type</label>
      <select
        id="sky-demo-select-type">
        <option value="any">Any fruit</option>
        <option value="citrus">Citrus</option>
        <option value="berry">Berry</option>
      </select>
    </sky-filter-inline-item>
    <sky-filter-inline-item>
      <div>
        Yo
      </div>
    </sky-filter-inline-item>
  </sky-filter-inline>
</div>
