<button
  type="button"
  class="sky-btn sky-btn-primary sky-confirm-btn-ok"
  (click)="openOKConfirm()">
  OK confirm
</button>

<button
  type="button"
  class="sky-btn sky-btn-primary sky-confirm-btn-yescancel"
  (click)="openYesCancelConfirm()">
  Yes/cancel confirm
</button>

<button
  type="button"
  class="sky-btn sky-btn-primary sky-confirm-btn-yesnocancel"
  (click)="openYesNoCancelConfirm()">
  Yes/no/cancel confirm
</button>

<button
  type="button"
  class="sky-btn sky-btn-primary sky-confirm-btn-custom"
  (click)="openCustomConfirm()">
  Custom confirm
</button>
