<stache
  pageTitle="Form"
  windowTitle="Form"
  layout="container">

  <p>The form classes create styled inputs and labels for use in forms.</p>

  <div>
    <h2>Form control</h2>

    <p>The <stache-code>sky-form-control</stache-code> class consistently styles the input and allows it to fill the width of its container.</p>
    <div style="max-width: 50%">
      <input type="text" class="sky-form-control" aria-label="basic-input-example" placeholder="Enter text" />
    </div>

    <stache-code-block>
      <input type="text" class="sky-form-control" aria-label="basic-input-example" placeholder="Enter text"/>
    </stache-code-block>
  </div>

   <div>
    <h2>Control label</h2>

    <p>The <stache-code>sky-control-label</stache-code> class consistently styles labels for form input.</p>
    <div style="max-width: 50%">
      <label for="basic-input-with-label-example" class="sky-control-label">
        Phone number
      </label>
      <input class="sky-form-control" id="basic-input-with-label-example" type="text" placeholder="(201) 555-5555" />
    </div>

    <stache-code-block>
     <label for="basic-input-with-label-example" class="sky-control-label">
        Phone number
      </label>
      <input class="sky-form-control" id="basic-input-with-label-example" type="text" placeholder="(201) 555-5555" />
    </stache-code-block>
  </div>

  <div>
    <h2>Required fields</h2>

    <p>The <stache-code>sky-control-label-required</stache-code> class indicates that a given input is required to submit a form.</p>
    <div style="max-width: 50%">
      <label for="required-input-with-label-example" class="sky-control-label sky-control-label-required">
        Last name
      </label>
      <input class="sky-form-control" id="required-input-with-label-example" type="text" aria-required="true" required placeholder="Ex: Smith"/>
    </div>

    <stache-code-block>
      <label
        for="required-input-with-label-example"
        class="sky-control-label sky-control-label-required">
        Last name
      </label>
      <input
        class="sky-form-control"
        id="required-input-with-label-example"
        type="text"
        placeholder="Ex: Smith"
        aria-required="true"
        required />
    </stache-code-block>
  </div>
	
	<div>
	<h2>Error states</h2>
	<p>Form fields that use Angular validation are styled with a red glow when they are in an invalid state.</p>
		<ul>
			<li><stache-code>input</stache-code> fields with <stache-code>ng-invalid</stache-code> and <stache-code>ng-touched</stache-code> classes</li>
			<li><stache-code>select</stache-code> fields with <stache-code>ng-invalid</stache-code> and <stache-code>submitted</stache-code> classes</li>
		</ul>
	<p>The <stache-code>sky-error-label</stache-code> class provides styling for error messages for form fields in an invalid state. Place the message below the form field, and include logic to display the message when the conditions for invalid styling are met.</p>
	<div style="max-width: 50%">
      <label for="input-with-error-example" class="sky-control-label">
        Age
      </label>
      <input class="sky-form-control ng-invalid ng-touched" id="input-with-error-example" type="text" />
			<div class="sky-error-label">Please enter a valid value.</div>
    </div>
	
	</div>

  <div>
    <h2>Form group</h2>

    <p>The <stache-code>sky-form-group</stache-code> class provides consistent vertical spacing between fields.</p>
    <div class="sky-form-group" style="max-width: 50%">
      <label for="form-group-first-input-example" class="sky-control-label">
        First name
      </label>
      <input class="sky-form-control" id="form-group-first-input-example" type="text" />
    </div>
    <div class="sky-form-group" style="max-width: 50%">
      <label for="form-group-second-input-example" class="sky-control-label">
        Lastname
      </label>
      <input class="sky-form-control" id="form-group-second-input-example" type="text" />
    </div>

    <stache-code-block>
      <div class="sky-form-group" style="max-width: 50%">
        <label for="form-group-first-input-example" class="sky-control-label">
          First name
        </label>
        <input class="sky-form-control" id="form-group-first-input-example" type="text" />
      </div>
      <div class="sky-form-group" style="max-width: 50%">
        <label for="form-group-second-input-example" class="sky-control-label">
          Lastname
        </label>
        <input class="sky-form-control" id="form-group-second-input-example" type="text" />
      </div>
    </stache-code-block>
  </div>

</stache>
