<h3>
  Radio states
</h3>

<ul class="sky-list-unstyled">
  <li>
    <sky-radio
      name="radiotest"
      value="1"
      [(ngModel)]="selectedValue"
      #cb="ngModel"
    >
      <sky-radio-label>
        Option 1
      </sky-radio-label>
    </sky-radio>
  </li>
  <li>
    <sky-radio
      disabled="true"
      name="radiotest"
      [ngModel]="selectedValue"
      [value]="valueGuy"
      (ngModelChange)="selectedValue = $event"
    >
      <sky-radio-label>
        Option 2
      </sky-radio-label>
    </sky-radio>
  </li>
  <li>
    <sky-radio
      name="radiotest"
      value="3"
      [ngModel]="selectedValue"
      (ngModelChange)="selectedValue = $event"
    >
      <sky-radio-label>
        Option 3
      </sky-radio-label>
    </sky-radio>
  </li>
</ul>

<p>
  Selected option: <strong>{{ selectedValue }}</strong>
</p>

<h3>
  Icon radio button group
</h3>

<div class="sky-switch-icon-group">
  <sky-radio-icon
    icon="table"
    name="iconradiogrouptest"
    value="table"
    [(ngModel)]="iconGroupSelectedValue">
  </sky-radio-icon>
  <sky-radio-icon
    icon="list"
    name="iconradiogrouptest"
    value="list"
    [(ngModel)]="iconGroupSelectedValue">
  </sky-radio-icon>
  <sky-radio-icon
    icon="th-large"
    name="iconradiogrouptest"
    value="cards"
    [(ngModel)]="iconGroupSelectedValue">
  </sky-radio-icon>
  <sky-radio-icon
    disabled="true"
    icon="map-marker"
    name="iconradiogrouptest"
    value="map"
    [(ngModel)]="iconGroupSelectedValue">
  </sky-radio-icon>
</div>

<p>
  Selected option: <strong>{{ iconGroupSelectedValue }}</strong>
</p>

<h3>
  Icon radio button types
</h3>

<div>
    <sky-radio-icon
      icon="info"
      name="iconradiotest"
      radioType="info"
      value="info"
      [(ngModel)]="iconSelectedValue">
    </sky-radio-icon>
    <sky-radio-icon
      icon="star"
      name="iconradiotest"
      radioType="success"
      value="success"
      [(ngModel)]="iconSelectedValue">
    </sky-radio-icon>
    <sky-radio-icon
      icon="exclamation-triangle"
      name="iconradiotest"
      radioType="warning"
      value="warning"
      [(ngModel)]="iconSelectedValue">
    </sky-radio-icon>
    <sky-radio-icon
      icon="ban"
      name="iconradiotest"
      radioType="danger"
      value="danger"
      [(ngModel)]="iconSelectedValue">
    </sky-radio-icon>
</div>

<p>
  Selected option: <strong>{{ iconSelectedValue }}</strong>
</p>
