<h2 class="sky-section-heading">
  Reactive form setup
</h2>

<form
  novalidate
  [formGroup]="radioForm"
>
  <sky-radio-group formControlName="favoriteSeason">
    <ul class="sky-list-unstyled">
      <li *ngFor="let value of seasons">
        <sky-radio
          [disabled]="value.disabled"
          [value]="value"
        >
          <sky-radio-label>
            {{ value.name }}
          </sky-radio-label>
        </sky-radio>
      </li>
    </ul>
  </sky-radio-group>
  <ul>
    <li>
      Selected value: {{ radioForm.value.favoriteSeason.name }}
    </li>
    <li>
      Touched? {{ radioForm.touched }}
    </li>
    <li>
      Pristine? {{ radioForm.pristine }}
    </li>
  </ul>
</form>

<h2 class="sky-section-heading">
  Template-driven form setup
</h2>

<form
  novalidate
  #checkboxForm="ngForm"
>
  <sky-radio-group
    name="favoriteSeason"
    [(ngModel)]="favoriteSeason"
  >
    <ul class="sky-list-unstyled">
      <li *ngFor="let value of seasons">
        <sky-radio
          [disabled]="value.disabled"
          [value]="value"
        >
          <sky-radio-label>
            {{ value.name }}
          </sky-radio-label>
        </sky-radio>
      </li>
    </ul>
  </sky-radio-group>
  <ul>
    <li>
      Selected value: {{ favoriteSeason.name }}
    </li>
    <li>
      Touched? {{ checkboxForm.touched }}
    </li>
    <li>
      Pristine? {{ checkboxForm.pristine }}
    </li>
  </ul>
</form>
