<form
  [formGroup]="formModel"
  (ngSubmit)="submit()"
  novalidate>

  <div class="sky-form-group">
    <label
      for="my-id"
      class="sky-control-label">
      What is your favorite color?
    </label>

    <sky-autocomplete
      [data]="colors"
      (searchResultSelected)="onSearchResultSelected($event)">
      <input
        skyAutocompleteInput
        id="my-id"
        type="text"
        formControlName="favoriteColor">
    </sky-autocomplete>
  </div>

  <sky-alert alertType="info" *ngIf="selectedColor">
    You selected '{{ selectedColor.name }}'
  </sky-alert>

  <button
    class="sky-btn sky-btn-primary"
    type="submit">
    Submit
  </button>
</form>
