<h2
  class="sky-section-heading"
>
  Standard datepicker
</h2>

<div style="max-width: 50%">
  <sky-datepicker>
    <input
      skyDatepickerInput
      [maxDate]="maxDate"
      [minDate]="minDate"
      [(ngModel)]="selectedDate"
      #date="ngModel"
    />
  </sky-datepicker>

  <p *ngIf="date.errors && date.errors.skyDate && (date.dirty || date.touched)"
    class="sky-error-label"
  >
    <span [hidden]="!date.errors.skyDate.invalid">
      Enter a valid date.
    </span>

    <span [hidden]="!date.errors.skyDate.minDate">
      Date is prior to minimum date range.
    </span>

    <span [hidden]="!date.errors.skyDate.maxDate">
      Date is after maximum date range.
    </span>
  </p>
</div>

<p>
  Selected date is {{ selectedDate }}
</p>

<h2
  class="sky-section-heading"
>
  Reactive form datepicker
</h2>

<form
  novalidate
  style="max-width: 50%"
  [formGroup]="reactiveForm"
>
  <sky-datepicker>
    <input
      formControlName="selectedDate"
      skyDatepickerInput
      [maxDate]="maxDate"
      [minDate]="minDate"
    />
  </sky-datepicker>
</form>

<p>
  Reactive form selected date is {{ reactiveDate.value }}
</p>

<p *ngIf="reactiveDate.errors && (reactiveDate.dirty || reactiveDate.touched)"
  class="sky-error-label"
>
  <span *ngIf="reactiveDate.errors.required">
    Date is required. Enter a value.
  </span>

  <span *ngIf="reactiveDate.errors.skyDate">
    The date is invalid. Enter a valid date or use the picker.
  </span>
</p>

<p>
  <button
    class="sky-btn sky-btn-secondary"
    (click)="clearSelectedDates()"
  >
    Clear selected dates
  </button>
</p>
