@import '../../scss/mixins';

.sky-action-button-icon-container {
  display: inline-block;
}

@media (max-width: $sky-screen-xs-max) {
  .sky-action-button-icon-container {
    margin-left: $sky-margin-half;
    margin-right: $sky-margin-half;
  }
}

@media (min-width: $sky-screen-sm-min) {
  .sky-action-button-icon-container {
    display: block;
    margin-bottom: $sky-margin-double;
  }
}

.sky-action-button-icon {
  color: $sky-text-color-action-primary;
}
