@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-action-button-header {
  display: inline-block;
}

@media (max-width: $sky-screen-xs-max) {
  .sky-action-button-header {
    margin-left: $sky-margin-half;
    margin-right: $sky-margin-half;
  }
}

@media (min-width: $sky-screen-sm-min) {
  .sky-action-button-header {
    display: block;
    margin-bottom: $sky-margin-double;
  }
}
