@import '../../scss/mixins';

:host {
  padding-left: $sky-margin-plus-half;
  padding-right: $sky-margin-plus-half;
  display: block;

  @media (min-width: $sky-screen-sm-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.sky-action-button {
  display: block;
  line-height: normal;
  width: 100%;
  padding: $sky-padding-double $sky-padding-double 30px $sky-padding-double;
  white-space: normal;

  @media (min-width: $sky-screen-sm-min) {
    min-width: 236px;
    max-width: 236px;
    padding: 30px $sky-padding-double;
  }
}

.sky-action-button-icon-header-container {
  display: block;
  width: 100%;
  margin-bottom: $sky-margin-double;
}
