<a
  *ngIf="permalink && permalink.route"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  tabindex="0"
  [fragment]="permalink.route?.extras?.fragment"
  [queryParams]="permalink.route?.extras?.queryParams"
  [queryParamsHandling]="permalink.route?.extras?.queryParamsHandling"
  [routerLink]="permalink.route?.commands">
  <ng-container
    *ngTemplateOutlet="actionButtonContent">
  </ng-container>
</a>

<a
  *ngIf="permalink && !permalink.route"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  tabindex="0"
  [href]="permalink.url">
  <ng-container
    *ngTemplateOutlet="actionButtonContent">
  </ng-container>
</a>

<div
  *ngIf="!permalink"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  role="button"
  tabindex="0"
  (click)="buttonClicked()"
  (keydown.enter)="enterPress()">
  <ng-container
    *ngTemplateOutlet="actionButtonContent">
  </ng-container>
</div>

<ng-template
  #actionButtonContent>
  <div
    class="sky-action-button-icon-header-container">
    <ng-content select="sky-action-button-icon"></ng-content>
    <ng-content select="sky-action-button-header"></ng-content>
  </div>
  <ng-content select="sky-action-button-details"></ng-content>
</ng-template>
