<a *ngIf="url"
  [href]="url"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  tabindex="0">
  <ng-container
    *ngTemplateOutlet="actionButtonContent">
  </ng-container>
</a>

<div *ngIf="!url"
  class="sky-action-button sky-btn-default sky-rounded-corners"
  role="button"
  (click)="buttonClicked()"
  (keydown.enter)="enterPress()"
  tabindex="0"
  >
  <ng-container
    *ngTemplateOutlet="actionButtonContent">
  </ng-container>
</div>

<ng-template
  #actionButtonContent>
  <div class="sky-action-button-icon-header-container">
    <ng-content select="sky-action-button-icon"></ng-content>
    <ng-content select="sky-action-button-header"></ng-content>
  </div>
  <ng-content select="sky-action-button-details"></ng-content>
</ng-template>