@import '../../scss/mixins';

@media (min-width: $sky-screen-sm-min) {
  .sky-action-button-container {
    display: flex;
    align-items: stretch;
  }
}

@media (max-width: $sky-screen-xs-max) {
  .sky-action-button-container {
    padding-top: 0;
    /deep/.sky-action-button {
      margin-top: $sky-margin-double;
    }
  }
}

.sky-action-button-container {

  padding-top: $sky-padding-double;

  /deep/.sky-action-button  {
    height: 100%;
    min-width: 236px;
    margin-left: $sky-margin;
    margin-right: $sky-margin;
  }
}
