@import '../../scss/mixins';

.sky-action-button-container {
  @media (min-width: $sky-screen-sm-min) {
    padding-top: $sky-padding-double;
    display: flex;
    align-items: stretch;
  }

  /deep/
  sky-action-button {
    margin-top: $sky-margin-double;
    display: block;
    padding-left: $sky-margin;
    padding-right: $sky-margin;

    @media (min-width: $sky-screen-sm-min) {
      margin-top: 0;
    }

    .sky-action-button {
      height: 100%;
      align-items: stretch;
      flex-direction: column;
    }
  }
}
