@import '../../scss/mixins';

.sky-action-button-header {
  @include sky-section-heading();
  display: inline-block;
  margin-left: $sky-margin-half;
  margin-right: $sky-margin-half;

  @media (min-width: $sky-screen-sm-min) {
    display: block;
    width: 100%;
    margin-left: 0;
    margint-right: 0;
    margin-bottom: $sky-margin-double;
  }
}
