@import '../../scss/mixins';

.sky-action-button-icon-container {
  display: inline-block;
  margin-left: $sky-margin-half;
  margin-right: $sky-margin-half;

  @media (min-width: $sky-screen-sm-min) {
    display: block;
    width: 100%;
    margin-bottom: $sky-margin-double;
    margin-left: 0;
    margin-right: 0;
  }
}

.sky-action-button-icon {
  color: $sky-text-color-action-primary;
}
