<sky-row>
  <sky-column
    *ngFor="let image of images"
    screenXSmall="4"
    [screenSmall]="small ? 3 : 4"
    [screenMedium]="small ? 2 : 3"
  >
    <div
      class="sky-minifig-image-wrapper"
      [ngClass]="{
        'sky-minifigure-image-wrapper-small': small
      }"
    >
      <img [src]="image.url" class="sky-minifig-image">
      <img [src]="image.urlFull" class="sky-minifig-image sky-minifig-hover">
    </div>
    <div class="sky-minifigure-image-footer">
      <div class="sky-minifigure-image-footer-name">
        {{ image.name }}
      </div>
      <div class="sky-minifigure-image-footer-title">
        {{ image.title }}
      </div>
    </div>
  </sky-column>
</sky-row>
