@import '../../scss/mixins';

.sky-modal-host-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/deep/
.sky-modal-body-full-page {
  // Hide the bb-Help-invoker when a full-page modal is present and the widget is closed.
  #bb-help-container.closed > #bb-help-invoker {
    display: none;
  }
}
