@import "~@skyux/theme/scss/mixins";
@import "~@skyux/theme/scss/_compat/mixins";

.sky-modal-footer-container {
  background-color: #fff;
  @include sky-border(light, top);
  /* Offset the margin-left of the link */
  ::ng-deep .sky-btn-link:first-child {
    margin-left: -12px;
  }
}
