@import '../../scss/mixins';

.sky-modal {
  border: solid 1px $sky-color-gray-lightest;
  @include sky-shadow();
  position: fixed;
  width: auto;
  left: 0;
  right: 0;
  top: 20px;
  margin: $sky-margin;
  display: flex;
  flex-direction: column;
}

@media (min-width: $sky-screen-sm-min) {
  .sky-modal {
    width: 600px;
    margin: 0 auto;
  }
}

.sky-modal-header,
.sky-modal-content,
.sky-modal-footer {
  background-color: #fff;
  padding: $sky-padding;
}

.sky-modal-header {
  align-items: baseline;
  border-bottom: solid 1px $sky-color-gray-lightest;
  display: flex;
  flex-shrink: 0;
}

.sky-modal-header-content {
  flex-grow: 1;
}

.sky-modal-header-buttons {
  .sky-btn {
    border: none;
    color: $sky-color-gray-lighter;

    &:hover {
      color: $sky-color-gray;
      transition: color $sky-transition-time-short;
    }
  }
}

.sky-modal-content {
  overflow-y: auto;
}

.sky-modal-footer {
  border-top: solid 1px $sky-color-gray-lightest;
  flex-shrink: 0;
}
