@import '../../scss/mixins';

.sky-modal {
  border: solid 1px $sky-color-gray-lightest;
  @include sky-shadow();
  position: fixed;
  width: auto;
  left: 0;
  right: 0;
  top: 20px;
  margin: $sky-margin;
  display: flex;
  flex-direction: column;
}

@media (min-width: $sky-screen-sm-min) {
  .sky-modal {
    margin: 0 auto;
  }

  .sky-modal-small {
    width: 300px;
  }

  .sky-modal-medium {
    width: 600px;
  }

  .sky-modal-large {
    width: 900px;
  }
}

.sky-modal-content {
  background-color: #fff;
  padding: $sky-padding-plus-half;
}

.sky-modal-header {
  /* Need less padding because of the close button padding */
  padding-left: $sky-padding-plus-half;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 3px;

  background-color: #fff;

  display: flex;
  align-items: baseline;
  border-bottom: solid 1px $sky-color-gray-lightest;
}


.sky-modal-header-buttons {
  .sky-btn {
    border: none;
    color: $sky-color-gray-lighter;

    &:hover {
      color: $sky-color-gray;
      transition: color $sky-transition-time-short;
    }
  }
}

.sky-modal-header-content {
  flex-grow: 1;
  font-weight: 600;
}

.sky-modal-header {
  flex-shrink: 0;
}

.sky-modal-content {
  overflow-y: auto;
}

.sky-modal-footer {
  flex-shrink: 0;
  /deep/ sky-tabset-nav-button + sky-tabset-nav-button {
    margin-left: $sky-margin;
  }
   /deep/ sky-tabset-nav-button + .sky-btn {
    margin-left: $sky-margin;
  }

  /deep/ .sky-btn + .sky-btn {
    margin-left: $sky-margin;
  }

  /deep/ .sky-btn + .sky-btn-link {
    margin-left: -2px; /* offset the padding of the btn-link */
  }
}

.sky-modal-full-page {
  width:100%;
  top:0;
  margin:0;

  .sky-modal-header-content {
    @include sky-section-heading();
  }

  .sky-modal-header-buttons .fa-close {
    font-size: 20px;
  }

}
.sky-modal-full-page .sky-modal-content {
    flex-grow: 1;
}
